<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>{{ title }}</the-h1>
        <div class="custom-text" v-html="description"></div>
    </guest>
</template>

<script>
import TheH1 from "@/Components/Guest/TheH1";
import TheP from "@/Components/Guest/TheP";
import TheH2 from "@/Components/Guest/TheH2";
import TheProductList from "@/Components/Guest/TheProductList";
import ThePhotoWork from "@/Components/Guest/ThePhotoWork";
import Guest from "@/Layouts/Guest/Guest";
import ThePointLi from "@/Components/Guest/ThePointLi";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
export default {
    name: "AboutUs",
    components: {TheCrumbs, ThePointLi, Guest, ThePhotoWork, TheProductList, TheH2, TheP, TheH1},
    props: ['crumbs', 'title', 'description'],
}
</script>

