<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>{{ title }}</the-h1>
        <div class="custom-text" v-html="description"></div>

    </guest>
</template>

<script>
import TheH1 from "@/Components/Guest/TheH1";
import TheP from "@/Components/Guest/TheP";
import TheH3 from "@/Components/Guest/TheH3";
import TheH2 from "@/Components/Guest/TheH2";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import Guest from "@/Layouts/Guest/Guest";

export default {
    name: "Contacts",
    components: {TheH1, TheP, TheH3, TheH2, TheCrumbs, Guest},
    props: ['crumbs', 'title', 'description'],
}
</script>

<style scoped>

</style>
