<template>
    <guest>
        <div class="my-52 text-center text-2xl text-gray-700">
            <the-h1>{{ title }}</the-h1>
            <div>{{ description }}</div>
        </div>
    </guest>
</template>

<script>
import Guest from "@/Layouts/Guest/Guest";
import TheH1 from "@/Components/Guest/TheH1";

export default {
    components: {TheH1, Guest},
    props: {
        status: Number,
    },
    computed: {
        title() {
            return {
                503: '503: Услуга Недоступна',
                500: '500: Ошибка сервера',
                404: '404: Страница Не Найдена',
                403: '403: Запрещено',
            }[this.status]
        },
        description() {
            return {
                503: 'Извините, мы проводим кое-какое техническое обслуживание. Пожалуйста, перезвоните в ближайшее время.',
                500: 'Ой, что-то пошло не так на наших серверах.',
                404: 'Извините, страница, которую вы ищете, не найдена.',
                403: 'Извините, вам запрещен доступ к этой странице.',
            }[this.status]
        },
    },
}
</script>
