<template>
    <guest>
        <template v-if="crumbs && crumbs.length" v-slot:crumbs>
            <the-crumbs :crumbs="crumbs" />
        </template>

        <div class="flex items-center gap-1">
            <the-h1>{{ title }}</the-h1>
            <primary-btn-small v-show="products && products.length" type="button" @click="clearAll">Очистить</primary-btn-small>
        </div>

        <the-product-list v-if="products && products.length" :products="products"/>
        <div v-else><the-p>Вы еще не добавляли товары в избранное.</the-p></div>
    </guest>
</template>

<script>
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import TheProductList from "@/Components/Guest/TheProductList";
import Guest from "@/Layouts/Guest/Guest";
import TheP from "@/Components/Guest/TheP";
import {useForm} from "@inertiajs/inertia-vue3";
import PrimaryBtnSmall from "@/Components/Guest/PrimaryBtnSmall";
export default {
    name: "Favorites",
    components: {PrimaryBtnSmall, TheP, Guest, TheProductList, TheH1, TheCrumbs},
    props: {
        title: String,
        products: Array,
        crumbs: Array
    },
    setup() {
        const form = useForm({});
        return {form}
    },
    methods: {
        async clearAll() {
            await this.form.delete(this.route('favorites.destroy-all'), {
                errorBag: 'form',
                preserveScroll: true
            })
        }
    },

}
</script>

<style scoped>

</style>
