<template>
    <ClientOnly>
        <guest>
            <template v-slot:crumbs>
                <the-crumbs :crumbs="crumbs"/>
            </template>

            <the-h1>{{ title }}</the-h1>
            <div class="custom-text" v-html="description"></div>

            <div class="flex flex-wrap gap-1 p-2 border-b border-gray-500"
                 v-for="filter in filters">
                <p class="font-semibold mx-2">{{ filter.name }}</p>
                <button class="text-xs text-white px-2 py-1 hover:bg-primary"
                        v-for="item in filter.items"
                        :class="{'bg-primary': params.filter_slug === item.slug, 'bg-[#444]': params.filter_slug !== item.slug}"
                        @click="setFilter(item.slug)">
                    {{ item.name }}
                </button>
            </div>

            <the-photo-work class="my-4 md:grid-cols-3" :photos="data.photos"/>

            <the-pagination v-if="data.hasPages"
                            :currentPage="data.currentPage"
                            :currentUrl="data.currentUrl"
                            :lastPage="data.lastPage"/>
        </guest>
    </ClientOnly>
</template>

<script>
import ClientOnly from '@/ClientOnly'
import Guest from "@/Layouts/Guest/Guest";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import TheP from "@/Components/Guest/TheP";
import ThePhotoWork from "@/Components/Guest/ThePhotoWork";
import ThePagination from "@/Components/Guest/ThePagination";
export default {
    name: "OurWork",
    components: {ThePagination, ClientOnly, ThePhotoWork, TheP, TheH1, TheCrumbs, Guest},
    props: {
        crumbs: Array,
        filters: Array,
        data: Object,
        description: String,
        title: String,
    },
    methods: {
        setFilter(filter_slug) {
            let params = this.params;

            if (params.filter_slug !== filter_slug) {
                params.filter_slug = filter_slug;
            } else {
                params.filter_slug = null;
            }

            this.$inertia.visit(this.route('ourwork',params));
        },
    },
    computed: {
        params() {
            return this.route().params;
        },
    },
}
</script>

<style scoped>

</style>
