<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>{{ title }}</the-h1>
        <div class="custom-text" v-html="description"></div>
    </guest>
</template>

<script>
import Guest from "@/Layouts/Guest/Guest";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import TheP from "@/Components/Guest/TheP";
import TheH2 from "@/Components/Guest/TheH2";
import ThePointLi from "@/Components/Guest/ThePointLi";
export default {
    name: "Payment",
    components: {ThePointLi, TheH2, TheP, TheH1, TheCrumbs, Guest},
    props: ['crumbs', 'title', 'description'],
}
</script>

<style scoped>

</style>
