<template>
    <guest-detail>

        <template v-if="crumbs && crumbs.length" v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <div class="gap-2 flex flex-wrap justify-center lg:gap-4">
            <the-product-specifications
                v-model="globalParams"
                :product="product"
                :attributes="attributes"
                :materials="materials"
                :shippings="shippings"
                :installations="installations"
                :sum="sum"
                :sum_sale="discountsSum.total"
                :count="count"/>

            <the-product-addition
                v-if="personalizations"
                key="addition_desc"
                :personalizations="personalizations"
                v-model="globalParams.personalizations"
                class="grid lg:hidden grid-cols-2"/>

            <the-product-price
                :params="globalParams"
                :discounts="discountsSum"
                :finishedSum="finishedSum"
                :sum="sum_string"
                :count="count"/>

        </div>

        <the-product-addition
            v-if="personalizations"
            key="addition_mobile"
            :personalizations="personalizations"
            v-model="globalParams.personalizations"
            class="hidden lg:grid"/>

        <template v-if="products.length">
            <the-h2>Другие модели</the-h2>
            <the-product-list :products="products" class="md:grid-cols-5"/>
        </template>
    </guest-detail>
</template>

<script>
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import {Head, Link} from "@inertiajs/inertia-vue3";
import GuestDetail from "@/Layouts/Guest/GuestDetail";
import TheH2 from "@/Components/Guest/TheH2";
import TheP from "@/Components/Guest/TheP";
import TheDropdown from "@/Components/Guest/TheDropdown";
import TheCategoriesList from "@/Components/Guest/TheCategoriesList";
import TheProductList from "@/Components/Guest/TheProductList";
import TheSelectDropdown from "@/Components/Guest/TheSelectDropdown";
import TheProductAddition from "@/Components/Guest/TheProductAddition";
import ThePointLi from "@/Components/Guest/ThePointLi";
import TheProductSpecifications from "@/Components/Guest/TheProductSpecifications";
import TheProductPrice from "@/Components/Guest/TheProductPrice";

export default {
    name: "ProductDetail",
    components: {
        TheProductPrice,
        TheProductSpecifications,
        ThePointLi,
        TheProductAddition,
        TheSelectDropdown,
        TheProductList, TheCategoriesList, TheDropdown, TheP, TheH2, GuestDetail, TheCrumbs, Head, Link,
    },
    props: {
        product: Object,
        attributes: Array,
        crumbs: Array,
        materials: Array,
        shippings: Array,
        installations: Array,
        discounts: Array,
        personalizations: Array,
        products: Array,
    },
    data: () => ({
        globalParams: {
            attributes: [],
            material: {},
            shipping: {},
            installation: {},
            personalizations: []
        },
    }),
    computed: {
        count() {
            let count = 0;
            if (this.globalParams.shipping && this.globalParams.shipping.id)
                count++;
            if (this.globalParams.installation && this.globalParams.installation.id)
                count++;
            if (this.globalParams.attributes && this.globalParams.attributes.length)
                count += this.globalParams.attributes.length;

            if (this.globalParams.personalizations && this.globalParams.personalizations.length) {
                for (let personalization of this.globalParams.personalizations) {
                    if (personalization)
                        count += 1;
                }
            }

            return count;
        },
        sum() {
            let sum = 0;
            if (this.globalParams.shipping && this.globalParams.shipping.id)
                sum += this.globalParams.shipping.price;

            if (this.globalParams.installation && this.globalParams.installation.id)
                sum += this.globalParams.installation.price;

            if (this.globalParams.attributes && this.globalParams.attributes.length) {
                for (let attribute of this.globalParams.attributes) {
                    if (!!attribute.sum) {
                        sum += attribute.sum;
                    }
                }
            }

            if (this.globalParams.personalizations && this.globalParams.personalizations.length) {
                for (let personalization of this.globalParams.personalizations) {
                    if (personalization && !!personalization.sum)
                        sum += personalization.sum;
                }
            }

            return sum;
        },
        discountsSum() {
            let discounts = { total: 0, total_string: '', items: []}

            if (this.discounts.length) {
                for (let discount of this.discounts) {
                    let sum = this.sum /100 * discount.percent;
                    discounts.items.push({
                        name: discount.full_name,
                        sum: sum,
                        sum_string: this.numberFormat(sum, 0,',', ' ') + 'р'
                    })

                    discounts.total += sum;
                }
                discounts.total_string = this.numberFormat(discounts.total, 0,',', ' ') + 'р'
            }

            return discounts;
        },
        finishedSum() {
            let sum = 0;
            if (this.sum)
                sum += this.sum;

            if (this.discountsSum && this.discountsSum.total)
                sum -= this.discountsSum.total;

            return this.numberFormat(sum, 0,',', ' ') + 'р';
        },
        sum_string() {
            return this.numberFormat(this.sum, 0,',', ' ') + 'р';
        }
    },

    methods: {
        numberFormat(number, decimals, decPoint, thousandsSep) {
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
            const n = !isFinite(+number) ? 0 : +number
            const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
            const sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
            const dec = (typeof decPoint === 'undefined') ? '.' : decPoint
            let s = ''
            const toFixedFix = function (n, prec) {
                if (('' + n).indexOf('e') === -1) {
                    return +(Math.round(n + 'e+' + prec) + 'e-' + prec)
                } else {
                    const arr = ('' + n).split('e')
                    let sig = ''
                    if (+arr[1] + prec > 0) {
                        sig = '+'
                    }
                    return (+(Math.round(+arr[0] + 'e' + sig + (+arr[1] + prec)) + 'e-' + prec)).toFixed(prec)
                }
            }
            s = (prec ? toFixedFix(n, prec).toString() : '' + Math.round(n)).split('.')
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || ''
                s[1] += new Array(prec - s[1].length + 1).join('0')
            }
            return s.join(dec)
        },
    },
    watch: {
        globalParams: {
            handler(data) {
                if (data.attributes.length) {
                    for (let index in data.attributes) {
                        if (index !== 0 && data.attributes[index].parent_id && data.attributes[index].parent_id !== data.attributes[0].id)
                            this.globalParams.attributes[index] = [];
                    }
                }
            },
            deep: true
        }
    }
}
</script>

<style scoped>

</style>
