<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>{{ title }}</the-h1>
        <div class="custom-text" v-html="description"></div>

        <div v-if="reviews.length > 0">
            <the-h2>ОТЗЫВЫ КЛИЕНТОВ ОСТАВЛЕННЫЕ С ПОМОЩЬЮ ФОРМЫ НА НАШЕМ САЙТЕ</the-h2>
            <div v-for="review in reviews">
                <the-h3>{{ review.name }}, {{ review.city }}</the-h3>
                <the-p v-html="review.description"></the-p>
            </div>
        </div>
        <div>
            <the-h2>ОСТАВИТЬ ОТЗЫВ</the-h2>

            <div v-show="success" class="flex justify-center items-center font-bold m-4 p-2">
                Спасибо за отзыв!
            </div>

            <form @submit.prevent="submit" class="flex flex-col gap-1">
                <div class="flex flex-col md:flex-row gap-1">
                    <input v-model="form.name" class="w-full" type="text" placeholder="Имя">
                    <input v-model="form.city" class="w-full" type="text" placeholder="Город">
                </div>
                <textarea v-model="form.description" placeholder="Ваш отзыв"></textarea>
                <button :disabled="form.processing"
                        class="btn btn-danger"
                        type="submit"
                        value="Отправить">
                    Отправить
                </button>
            </form>
        </div>

    </guest>
</template>

<script>
import Guest from "@/Layouts/Guest/Guest";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH2 from "@/Components/Guest/TheH2";
import TheH3 from "@/Components/Guest/TheH3";
import TheP from "@/Components/Guest/TheP";
import {useForm} from "@inertiajs/inertia-vue3";
import TheH1 from "@/Components/Guest/TheH1";

export default {
    name: "Reviews",
    components: {TheH1, TheP, TheH3, TheH2, TheCrumbs, Guest},
    props: ['crumbs', 'reviews', 'title', 'description'],
    setup() {
        const form = useForm({
            name: '',
            city: '',
            description: '',
        });
        return {form}
    },
    data() {
        return {
            success: false
        }
    },
    methods: {
        submit() {
            this.form.post(this.route('reviews.store'), {
                errorBag: 'form',
                preserveScroll: true,
                onSuccess: () => {
                    this.success = true;
                    this.form.reset();
                },
            })
        },
    }
}
</script>

<style scoped>

</style>
