<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>ПОИСК ТОВАРОВ</the-h1>
        <form class="flex mb-2" @submit.prevent="submit">
            <input v-model="form.search" class="w-2/3 h-12 px-6 border border-primary" placeholder="Поиск..."/>
            <div @click="submit" class="bg-primary h-12 w-12 flex justify-center items-center cursor-pointer">
                <span class="text-white">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </form>

        <template v-if="data.products.length ">
            <the-product-list :products="data.products"/>

            <the-pagination v-if="data.hasPages"
                            :currentPage="data.currentPage"
                            :currentUrl="data.currentUrl"
                            :lastPage="data.lastPage"/>
        </template>
        <template v-else>
            <div class="my-52 text-center text-2xl text-gray-700">
                По запросу нет  подходящих товаров.
            </div>
        </template>
    </guest>
</template>

<script>
import Guest from "@/Layouts/Guest/Guest";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import TheProductList from "@/Components/Guest/TheProductList";
import ThePagination from "@/Components/Guest/ThePagination";
import {useForm} from "@inertiajs/inertia-vue3";
export default {
    name: "Search",
    components: {ThePagination, TheProductList, TheH1, TheCrumbs, Guest},
    props: {
        crumbs: Array,
        search: String,
        data: Object
    },
    setup(props) {
        const form = useForm({
            search: props.search ?? '',
        });
        return {form}
    },
    methods: {
        submit() {
            this.form.get(this.route('search'), {
                errorBag: 'form',
                preserveScroll: true,
            })
        },
    }
}
</script>

<style scoped>

</style>
