<template>
    <guest>
        <template v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <the-h1>ВЫ ПРОСМАТРИВАЛИ ТОВАРЫ:</the-h1>

        <the-product-list :products="data.products"/>
        <the-pagination v-if="data.hasPages" :currentPage="data.currentPage" :currentUrl="data.currentUrl" :lastPage="data.lastPage"/>
    </guest>
</template>

<script>

import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import TheProductList from "@/Components/Guest/TheProductList";
import Guest from "@/Layouts/Guest/Guest";
import ThePagination from "@/Components/Guest/ThePagination";
export default {
    name: "Viewed",
    components: {ThePagination, Guest, TheProductList, TheH1, TheCrumbs},
    props: {
        crumbs: Array,
        data: Object
    }
}
</script>

<style scoped>

</style>
