<template>
    <guest>
        <template v-if="crumbs && crumbs.length" v-slot:crumbs>
            <the-crumbs :crumbs="crumbs" />
        </template>

        <the-catalog :title="title" :about="about" :data="data"/>

        <div class="my-6 custom-text" v-if="about" v-html="about"></div>

        <the-categories-list v-if="categories.length" :categories="categories"/>

        <the-photo-work :photos="photos"/>

    </guest>
</template>

<script>
import Guest from "@/Layouts/Guest/Guest";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheCatalog from "@/Components/Guest/TheCatalog";
import TheHead from "@/Components/TheHead";
import TheCategoriesList from "@/Components/Guest/TheCategoriesList";
import TheH2 from "@/Components/Guest/TheH2";
import TheP from "@/Components/Guest/TheP";
import ThePhotoWork from "@/Components/Guest/ThePhotoWork";

export default {
    props: {
        data: Object,
        crumbs: Array,
        title: String,
        about: String,
        categories: {
            type: Array,
            default: []
        },
        photos: {
            type: Array,
            default: []
        },
    },
    components: {
        ThePhotoWork,
        TheP,
        TheH2,
        TheCategoriesList,
        TheHead,
        TheCatalog,
        TheCrumbs,
        Guest,
    },
}
</script>
