<template>
    <div class="flex flex-col">
        <div class="flex items-center" :class="{ 'opacity-40': processing }">
            <input
                :id="id"
                type="checkbox"
                class="h-4 w-4 text-indigo-600 focus:ring-0 border-gray-300 rounded cursor-pointer"
                :disabled="processing"
                v-model="proxyChecked"
                @click="$emit('update:modelValue', !modelValue)"
                ref="input"
                @focus="clearError"
            />
            <label v-if="label" :for="id" class="ml-2 block text-sm text-gray-900 cursor-pointer"> {{label}} </label>
        </div>
        <p class="text-sm text-red-500" v-if="hasError">{{ error }}</p>
    </div>
</template>

<script>
export default {
    name: "TheCheckbox",
    props: {
        modelValue: '',
        id: String,
        label: String,
        error: {
            type: String,
            default: ''
        },
        processing: {
            type: Boolean,
            default: false
        }
    },
    emits: ['update:modelValue', 'update:error'],
    methods: {
        focus() {
            this.$refs.input.focus()
        },
        clearError() {
            if (this.error) {
                this.$emit('update:error', '')
            }
        }
    },
    computed: {
        hasError() {
            return !!this.error;
        },
        proxyChecked: {
            get() {
                return this.modelValue;
            },
            set(val) {
                this.$emit("update:modelValue", val);
            },
        },
    }
}
</script>

<style scoped>

</style>
