<template>
    <div class="w-full" :class="{ 'opacity-40': processing }">
        <editor :disabled="processing" v-model="modelValue" @change="update()" :init="init" :required="required"/>
        <p class="text-sm text-red-500" v-if="hasError">{{ error }}</p>
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
import axios from "axios";

export default {
    name: "TheEditor",
    components: {Editor},
    props: {
        height: {
            default: 200
        },
        modelValue: String,
        processing: Boolean,
        error: {
            type: String,
            default: ''
        },
        required: {
            type: Boolean,
            default: false
        },
    },
    emits: ['update:modelValue'],
    data() {
        return {
            init:{
                height: this.height,
                menubar: true,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | link image',
                image_title: true,
                automatic_uploads: true,
                file_picker_types: 'image',
                file_picker_callback: this.loadImageCallback,
            }
        }
    },
    methods: {
        update() {
            this.$emit('update:modelValue', this.modelValue);
        },
        clearError() {
            if (this.error) {
                this.$emit('update:error', '')
            }
        },
        loadImageCallback(cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            input.onchange = function () {
                var file = this.files[0];

                let formData = new FormData();
                formData.append('folder', 'upload');
                formData.append('image', file);

                axios.post('/api/image-save', formData, {
                    headers: {'Content-Type': 'multipart/form-data'},
                }).then(res => {
                    cb(res.data.started_path, { title: res.data.name });
                }).catch(err => {
                    console.log(err);
                })
            };

            input.click();
        },
    },
    computed: {
        hasError() {
            return !!this.error;
        }
    }
}
</script>
