<template>
    <div class="flex flex-col">
        <div class="relative text-gray-400" :class="{ 'opacity-40': processing }">
            <span v-if="icon" class="absolute inset-y-0 left-0 flex items-center pl-2 text-2xl">
                <i :class="icon"></i>
            </span>
            <input
                :disabled="processing"
                :type="type"
                :autocomplete="autocomplete ?? false"
                class="w-full
                      py-2
                      px-3
                      text-sm text-gray-900
                      rounded-md
                      border border-gray-300
                      focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 transition duration-200"
                :class="{'pl-10':!!icon, 'border-gray-300':!hasError, 'border-red-400':hasError}"
                :placeholder="placeholder"
                :required="required"
                :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" ref="input"
            />
        </div>
        <p class="text-sm text-red-500" v-if="hasError">{{ error }}</p>
    </div>
</template>

<script>
export default {
    name: "TheInput",
    props: {
        modelValue: String,
        icon: String,
        name: String,
        type: String,
        autocomplete: {
            type: String,
            default: ''
        },
        required: {
            type: Boolean,
            default: false
        },
        placeholder: String,
        error: {
            type: String,
            default: ''
        },
        processing: {
            type: Boolean,
            default: false
        }
    },
    emits: ['update:modelValue', 'update:error'],
    methods: {
        focus() {
            this.$refs.input.focus()
        },
        clearError() {
            if (this.error) {
                this.$emit('update:error', '')
            }
        }
    },
    computed: {
      hasError() {
          return !!this.error;
      }
    }
}
</script>
