<template>
    <Link :as="as" :href="href">
        <slot/>
    </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {
    name: "TheLink",
    components: {Link},
    props: {
        as: {
            type: String,
            default: 'a'
        },
        href: {
            type: String,
            default: '#'
        }
    }
}
</script>
