<template>
    <the-head v-if="meta.title" :title="meta.title"/>
    <div class="flex justify-between">
        <h2 class="text-2xl text-gray-600">{{ meta.title }}</h2>
        <the-breadcrumb v-if="meta.crumb" :crumb="meta.crumb" />
    </div>
</template>

<script>
import TheBreadcrumb from "@/Components/Dashboard/UI/TheBreadcrumb";
import TheHead from "@/Components/TheHead";
export default {
    name: "TheMeta",
    components: {TheHead, TheBreadcrumb},
    computed: {
        meta() {
            let meta = {};
            if (this.$page.props && this.$page.props.meta) meta = this.$page.props.meta;
            return meta;
        }
    }
}
</script>

<style scoped>

</style>
