<template>
    <div class="flex flex-col">
        <div class="relative text-gray-400" :class="{ 'opacity-40': processing }">
            <textarea
                :disabled="processing"
                class="w-full
                      py-2
                      px-3
                      text-sm text-gray-900
                      rounded-md
                      border border-gray-300
                      focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 transition duration-200"
                :class="{'pl-10':!!icon, 'border-gray-300':!hasError, 'border-red-400':hasError}"
                :placeholder="placeholder"
                :required="required"
                :value="modelValue" @input="$emit('update:modelValue', $event.target.value)"
            />
        </div>
        <p class="text-sm text-red-500" v-if="hasError">{{ error }}</p>
    </div>
</template>

<script>
export default {
    name: "TheTextarea",
    props: {
        modelValue: String,
        icon: String,
        name: String,
        type: String,
        required: {
            type: Boolean,
            default: false
        },
        placeholder: String,
        error: {
            type: String,
            default: ''
        },
        processing: {
            type: Boolean,
            default: false
        }
    },
    emits: ['update:modelValue', 'update:error'],
    methods: {
        clearError() {
            if (this.error) {
                this.$emit('update:error', '')
            }
        }
    },
    computed: {
        hasError() {
            return !!this.error;
        }
    }
}
</script>
