<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.materials.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="material.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>
            <form-section tag="div">
                <template #title>
                    Основая информация о материале
                </template>

                <template #description>
                </template>

                <template #form>

                    <form-body-row required>
                        <template #label>
                            Название материала
                        </template>

                        <the-input
                            class="w-full"
                            v-model="form.name"
                            type="text"
                            placeholder="Название материала"
                            :required="true"
                            v-model:error="form.errors.name"
                            :processing="form.processing"
                        />
                    </form-body-row>

                    <form-body-row required>
                        <template #label>
                            Изображение
                        </template>

                        <form-load-image folder="materials"
                                         width="150"
                                         height="150"
                                         key="img"
                                         v-model="form.img"
                                         :required="true"
                                         v-model:error="form.errors.img"
                                         :processing="form.processing"
                                         :keep="0"/>
                    </form-body-row>

                    <form-body-row required>
                        <template #label>
                            Описание
                        </template>

                        <the-editor v-model="form.description" :processing="form.processing" :required="true" v-model:error="form.errors.description"/>
                    </form-body-row>

                    <form-body-row required>
                        <template #label>
                            Наценка за материал
                        </template>

                        <the-input
                            class="w-full"
                            v-model="form.percent"
                            type="text"
                            placeholder="%"
                            :required="true"
                            v-model:error="form.errors.percent"
                            :processing="form.processing"
                        />
                    </form-body-row>

                    <form-body-row required>
                        <template #label>
                            Порядок сортировки
                        </template>

                        <the-input
                            class="w-full"
                            v-model="form.sort"
                            type="text"
                            placeholder="0"
                            :required="true"
                            v-model:error="form.errors.sort"
                            :processing="form.processing"
                        />
                    </form-body-row>

                </template>
            </form-section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import TheEditor from "@/Components/Dashboard/TheEditor";
import FormLoadImage from "@/Components/Dashboard/UI/Form/FormLoadImage";
export default {
    name: "Index",
    components: {FormLoadImage, TheEditor, TheInput, FormBodyRow, FormSection, TheButton, DashboardLayout},
    props: {
        materials: {
            type: Array,
            default: []
        },
        material: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                id: this.material.id ?? '',
                name: this.material.name ?? '',
                description: this.material.description ?? '',
                img: this.material.img ?? '',
                percent: this.material.percent ?? '',
                sort: this.material.sort ?? '',

            }),
            formDestroy: this.$inertia.form({}),
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async submit() {
            if (this.form.id) {
                await this.form.put(this.route('dashboard.materials.update', this.form.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.materials.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.materials.destroy', this.material.id), {
                onBefore: () => confirm('Удалить материал "'+ this.material.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
