<template>
    <div class="flex flex-col items-center">
        <div class="max-w-6xl w-full px-4 sm:px-6">
            <slot/>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContentTemplate"
}
</script>

<style scoped>

</style>
