<template>
    <a v-if="settings.telegram" :href="settings.telegram" class="text-2xl hover:opacity-90 text-[#0088cc]">
        <i class="fab fa-telegram"></i>
    </a>
    <a v-if="settings.viber" :href="settings.viber" class="text-2xl hover:opacity-90 text-[#665CAC]">
        <i class="fab fa-viber"></i>
    </a>
    <a v-if="phone" :href="'tel:'+phone" class="h-[23.5px] w-[23.5px] text-sm text-white bg-green-500 rounded-full flex items-center justify-center hover:opacity-90">
        <i class="fas fa-phone-alt"></i>
    </a>
    <a v-if="settings.email" :href="'mailto:'+settings.email" class="h-[23.5px] w-[23.5px] text-sm text-white bg-gray-500 rounded-full flex items-center justify-center hover:opacity-90">
        <i class="far fa-envelope"></i>
    </a>
</template>

<script>
import {computed} from "vue";
import {usePage} from "@inertiajs/inertia-vue3";

export default {
    name: "ContactsBtns",
    setup() {
        const settings = computed(() => usePage().props.value.settings ?? {})
        return { settings }
    },
    computed: {
        phone() {
            if(this.settings.phone_code && this.settings.phone_number) {
                let phone = this.settings.phone_code+''+this.settings.phone_number;
                return '+'+phone.replace(/[^\d]/g, "")
            }
            return null;
        }
    }
}
</script>
