<template>
    <button :type="type"
            class="flex items-center justify-center py-2 px-3 text-base font-bold text-white bg-secondary hover:bg-primary">
        <slot />
    </button>
</template>

<script>
export default {
    name: "PrimaryBtn",
    props: {
        type: {
            type: String,
            default: 'submit',
        },
    },
}
</script>

<style scoped>

</style>

