<template>
    <button :type="type" class="text-white text-sm py-1 px-2 cursor-pointer bg-secondary hover:bg-primary">
        <slot/>
    </button>
</template>

<script>
export default {
    name: "PrimaryBtnSmall",
    props: {
        type: {
            type: String,
            default: 'submit'
        }
    }
}
</script>
