<template>
    <the-link :href="href" class="font-bold" :class="classes">
        <slot/>
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "PrimaryLink",
    components: {TheLink},
    props: {
        href: {
            type: String,
            default: '#',
        },
        active: {
            type: Boolean,
            default: false,
        }
    },
    computed: {
        classes() {
            return this.active ?
                'text-primary' :
                'text-secondary hover:text-primary' ;
        }
    }
}
</script>
