<template>
    <the-link :href="href"
            class="flex items-center justify-center py-2 px-3 min-w-min text-base font-bold text-white bg-secondary hover:bg-primary">
        <slot />
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "PrimaryBtnLink",
    components: {TheLink},
    props: {
        href: {
            type: String,
            default: '#',
        },
    },
}
</script>

<style scoped>

</style>


