<template>
    <div>
        <p class="font-semibold text-sm my-2">{{ personalization.name }}:</p>
        <div class="flex flex-row gap-4">

            <img class="object-cover w-2/5 h-full" :src="personalization.img_path"/>

            <div>

                <template v-if="personalization.groups.length > 1">
                    <the-select-dropdown-mini
                        v-model="selected"
                        :items="personalization.groups"/>

                    <the-select-dropdown-mini
                        objName="full_name"
                        v-if="selected.id"
                        v-model="modelValue"
                        :label="personalization.name"
                        :items="selected.items"
                    />
                </template>
                <template v-else>
                    <the-select-dropdown-mini
                        v-model="modelValue"
                        :label="personalization.name"
                        :items="personalization.groups[0].items"
                    />
                </template>

                <p class="text-xs text-gray-400 pt-2">
                    {{ personalization.description }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import TheSelectDropdownMini from "@/Components/Guest/TheSelectDropdownMini";
import TheDropdown from "@/Components/Guest/TheDropdown";
import {watch} from "vue";
export default {
    name: "ProductAdditionPersonalization",
    components: {TheDropdown, TheSelectDropdownMini},
    emits: ['update:modelValue'],
    props: {
        personalization: {},
        modelValue: {},
    },
    watch: {
        modelValue(data) {
            this.$emit('update:modelValue', data);
        }
    },
    data() {
        return {
            selected: {},
        }
    }
}
</script>
