<template>
    <button :type="type" class="text-primary border-transparent border-b focus:outline-none hover:border-primary-dark hover:text-primary-dark transition ease-in-out duration-150">
        <slot />
    </button>
</template>

<script>
export default {
    name: "SecondaryStringBtn",
    props: {
        type: {
            type: String,
            default: 'submit',
        },
    }
}
</script>
