<template>
    <the-link class="self-center text-lg text-secondary hover:text-secondary-dark" href="/favorites">
        <i class="fas fa-heart"></i>
    </the-link>
    <the-link class="self-center text-lg text-secondary hover:text-secondary-dark" href="/viewed">
        <i class="fas fa-eye"></i>
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "SupportBtsCart",
    components: {TheLink}
}
</script>
