<template>
    <div class="flex items-center">
        <span class="text-primary mr-3">
            <i class="fas fa-caret-right"></i>
        </span>
        <the-link :href="href" class="text-gray-600">
            <slot/>
        </the-link>
    </div>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheArrowLink",
    components: {TheLink},
    props: {
        href:String
    }
}
</script>

<style scoped>

</style>
