<template>
    <button class="flex group">
        <div class="text-sm text-white py-2 px-4 bg-[#a5a5a5] group-hover:bg-primary h-full">
            <slot/>
        </div>
        <span class="text-white bg-[#969696] px-2.5 py-2 group-hover:bg-primary-dark" :class="{'bg-primary-dark':this.active}">
            <slot name="img"/>
        </span>
    </button>
</template>

<script>
export default {
    name: "TheAdditionButton",
    props: {
        active: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style scoped>

</style>
