<template>
    <div class="my-6">
        <the-h2>Наши товары и услуги</the-h2>
        <div class="grid grid-cols-2 gap-6 md:grid-cols-4 sm:grid-cols-3 mb-6">
            <the-category :href="category.href" v-for="category in categories">
                <template v-slot:img><img :src="category.img_path"/></template>
                <template v-slot:name>{{ category.name }}</template>
            </the-category>
        </div>
    </div>
</template>

<script>
import TheCategory from "@/Components/Guest/TheCategory";
import TheH2 from "@/Components/Guest/TheH2";
export default {
    name: "TheCategoriesList",
    components: {TheH2, TheCategory},
    props: {
        categories: Array
    }
}
</script>

<style scoped>

</style>
