<template>
    <li class="py-2 border-b font-serif last:border-0 hover:text-primary flex items-center">
        <span class="text-primary mr-3">
            <i class="fas fa-caret-right"></i>
        </span>
        <the-link v-if="href" :href="href">
            <slot/>
        </the-link>
        <span v-else class="cursor-pointer">
            <slot/>
        </span>
    </li>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheCategorieMenu",
    components: {TheLink},
    props: {
        href: {
            type: String,
            default: null,
        },
    },
}
</script>

<style scoped>

</style>
