<template>
    <div class="border-b">
        <content-template class="py-1 flex justify-center text-xs text-gray-500 font-medium">
            <template v-for="(crumb, i) in crumbs">
                <span class="mx-3" v-show="i !== 0">
                    <i class="fas fa-angle-right"></i>
                </span>
                <the-link v-if="crumb.href" class="hover:text-black last:text-black" :href="crumb.href">{{ crumb.name }}</the-link>
                <span v-else class="hover:text-black last:text-black">{{ crumb.name }}</span>
            </template>
        </content-template>
    </div>
</template>

<script>

import ContentTemplate from "@/Components/Guest/ContentTemplate";
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheCrumbs",
    components: {TheLink, ContentTemplate},
    props: {
        crumbs: Array
    }
}
</script>

<style scoped>

</style>
