<template>
    <the-link :href="href" class="flex flex-col items-center">
        <slot name="img"/>
        <p class="p-2"><slot name="name"/></p>
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheCategory",
    components: {TheLink},
    props: {
        href: String
    }
}
</script>

<style scoped>

</style>
