<template>
    <div class="relative" @mouseover.native="open = true" @mouseleave.native="open = false">
        <div class="bg-secondary-light text-white p-4 flex gap-4 items-center">
            <i class="fas fa-shopping-cart text-xl"></i>
            <span class="hidden md:block w-0.5 bg-white h-6"></span>
            <div class="hidden md:flex flex-col cursor-pointer">
                <span-small>КОРЗИНА</span-small>
                <span-medium class="font-bold">{{ total.sum }}</span-medium>
            </div>
        </div>
        <div v-show="open" class="absolute right-0 w-64 flex flex-col bg-white px-4 drop-shadow-md z-50">
            <!-- products cart -->
            <template  v-if="basket.length">
                <div class="flex gap-2 border-b py-4 relative" v-for="item in basket">
                    <div class="absolute cursor-pointer right-0 top-4 bg-gray-900 text-sm text-center h-4 w-4 text-white leading-none"
                         @click="destroy(item.id)">
                        x
                    </div>
                    <img class="w-16 h-20" :src="item.product.img_path" />
                    <div class="flex flex-col gap-1">
                        <span-medium>{{ item.name }}</span-medium>
                        <span-small>Кол-во: {{ item.count }}</span-small>
                        <span-medium class="text-primary">{{ item.sum_string }}</span-medium>
                    </div>
                </div>
            </template>

            <span-medium v-else class="text-center m-3 font-bold">
                Карзина пустая
            </span-medium>

            <!-- Sale -->
            <div class="flex justify-between gap-2 border-b py-3" v-if="total.sale_sum">
                <div>
                    <span-medium class="font-bold">Скидка:</span-medium>
                </div>
                <div>
                    <span-medium class="font-bold text-primary">{{ total.sale_sum }}</span-medium>
                </div>
            </div>

            <!-- Total -->
            <div class="flex justify-between gap-2 border-b py-3"  v-if="total.sum">
                <div>
                    <span-medium class="font-bold">Итог:</span-medium>
                </div>
                <div>
                    <span-medium class="font-bold text-primary">{{ total.sum }}</span-medium>
                </div>
            </div>

            <div class="py-3" v-if="basket.length">
                <primary-btn-link :href="route('basket')">Перейти</primary-btn-link>
            </div>
        </div>
    </div>
</template>

<script>
import SpanSmall from "@/Components/Guest/SpanSmall";
import SpanMedium from "@/Components/Guest/SpanMedium";
import PrimaryBtnLink from "@/Components/Guest/PrimaryBtnLink";
import { computed } from 'vue'
import {usePage} from "@inertiajs/inertia-vue3";
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "TheCart",
    components: {PrimaryBtnLink, SpanMedium, SpanSmall},
    data: () => ({
        open: false
    }),
    setup() {
        const basket = computed(() => usePage().props.value.basket ?? [])
        const formDestroy = useForm();
        return { basket, formDestroy }
    },
    methods: {
        destroy(item_id) {
            this.formDestroy.delete(this.route('basket.destroy', item_id), {
                errorBag: 'formDestroy',
                preserveScroll: true
            });
        },
        numberFormat(number, decimals, decPoint, thousandsSep) {
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
            const n = !isFinite(+number) ? 0 : +number
            const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
            const sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
            const dec = (typeof decPoint === 'undefined') ? '.' : decPoint
            let s = ''
            const toFixedFix = function (n, prec) {
                if (('' + n).indexOf('e') === -1) {
                    return +(Math.round(n + 'e+' + prec) + 'e-' + prec)
                } else {
                    const arr = ('' + n).split('e')
                    let sig = ''
                    if (+arr[1] + prec > 0) {
                        sig = '+'
                    }
                    return (+(Math.round(+arr[0] + 'e' + sig + (+arr[1] + prec)) + 'e-' + prec)).toFixed(prec)
                }
            }
            s = (prec ? toFixedFix(n, prec).toString() : '' + Math.round(n)).split('.')
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || ''
                s[1] += new Array(prec - s[1].length + 1).join('0')
            }
            return s.join(dec)
        },
    },
    computed: {
        total() {

            let total = { sum: 0, sale_sum: 0 }

            if (!this.basket.length) {
                total.sum = this.numberFormat(total.sum, 0,',', ' ') + 'р';
                return total;
            }

            let sale = 0;
            let sum = 0;
            for (let item of this.basket) {
                sale += item.sum_sale
                sum += item.sum
            }

            if(!!sale)
                total.sale_sum = this.numberFormat(sale, 0,',', ' ') + 'р';

            total.sum = this.numberFormat(sum-sale, 0,',', ' ') + 'р';

            return total;
        }
    }
}
</script>
