<template>
    <div>
        <the-h1>{{ title }}</the-h1>
        <the-filter/>
        <the-product-list :products="data.products"/>
        <the-pagination v-if="data.hasPages" :currentPage="data.currentPage" :currentUrl="data.currentUrl" :lastPage="data.lastPage"/>
    </div>
</template>

<script>
import TheH1 from "@/Components/Guest/TheH1";
import TheFilter from "@/Components/Guest/Filters/TheFilter";
import TheProductList from "@/Components/Guest/TheProductList";
import TheCategoriesList from "@/Components/Guest/TheCategoriesList";
import ThePhotoWork from "@/Components/Guest/ThePhotoWork";
import TheH2 from "@/Components/Guest/TheH2";
import ThePagination from "@/Components/Guest/ThePagination";
import TheP from "@/Components/Guest/TheP";
export default {
    name: "TheCatalog",
    props: {
        data: Object,
        title: String
    },
    components: {
        TheP,
        ThePagination, TheH2, ThePhotoWork, TheCategoriesList, TheProductList, TheFilter, TheH1}
}
</script>

<style scoped>

</style>
