<template>
    <div class="grid gap-3 cursor-pointer hover:font-bold" :class="{'font-bold':active}">
        {{ title }}
        <div v-if="line" class="border-b w-full border-gray-300"></div>
    </div>
</template>

<script>
export default {
    name: "TheDropdownItem",
    props: {
        title: String,
        line: {
            default: true
        },
        active: {
            default: false
        }
    },

}
</script>

<style scoped>

</style>
