<template>
    <div @mouseover.native="open = true" @mouseleave.native="open = false">
        <button type="button"
                class="py-1 px-2 text-xs border md:border-0 md:border-r hover:bg-primary hover:text-white relative"
                :class="{'bg-primary text-white': active}">

            <slot name="title"/>

            <span class="ml-1">
                <i class="fas fa-caret-down"></i>
            </span>
        </button>
        <list-y-transition>
            <div v-show="open" class="absolute bg-white shadow z-10">
                <div class="py-4 px-6 min-w-[200px] grid gap-3 text-xs">
                    <slot name="content"/>
                </div>
            </div>
        </list-y-transition>
    </div>
</template>

<script>
import ListYTransition from "@/Components/Guest/ListYTransition";

export default {
    name: "TheDropdown",
    components: {ListYTransition},
    props: {
        active: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        open: false,
    }),
}
</script>

<style scoped>

</style>
