<template>
    <div class="mt-2">
        <div @mouseleave.native="open = false">
            <button type="button" class="flex lg:hidden items-center justify-center p-3 bg-primary text-white hover:bg-primary-dark cursor-pointer"  @click="open = !open">
                <i class="fas fa-bars"></i>
            </button>

            <list-y-transition>
                <div v-show="open" class="absolute bg-white overflow-y-auto shadow-xl z-20">
                    <the-left-menu :catalog="catalog" class="max-h-[590px]"/>
                </div>
            </list-y-transition>
        </div>

        <primary-link v-for="(link, i) in general"
                      class="flex-grow flex items-center justify-center border-t border-r px-1 py-2"
                      :href="link.href"
                      :class="{'border-l': i===0}"
                      :active="currentName === link.route">
            <span-small class="font-bold text-[0.70rem]">{{ link.name }}</span-small>
        </primary-link>
        <a href="/construkt" class="font-bold bg-primary text-white hover:bg-primary-dark  flex-grow flex items-center justify-center border-t-primary border-r px-1 py-2">
            <span-small class="font-bold text-[0.70rem]">Конструтор памятников</span-small>
        </a>
        <the-link :href="route('search')" class="flex lg:hidden items-center justify-center p-3 bg-primary text-white hover:bg-primary-dark cursor-pointer">
            <i class="fas fa-search"></i>
        </the-link>
    </div>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
import SpanSmall from "@/Components/Guest/SpanSmall";
import PrimaryLink from "@/Components/Guest/PrimaryLink";
import ListYTransition from "@/Components/Guest/ListYTransition";
import TheLeftMenu from "@/Components/Guest/TheLeftMenu";
export default {
    name: "TheDesktopMenu",
    components: {TheLeftMenu, ListYTransition, PrimaryLink, SpanSmall, TheLink},
    props: ['general', 'catalog'],
    data: () => ({
        open: false,
    }),
    computed: {
        currentName() {
            return this.route().current();
        }
    }
}
</script>

<style scoped>

</style>
