<template>
    <div class="p-6">
        <the-categorie-menu @click="openCatalog">Каталог</the-categorie-menu>

        <list-y-transition>
            <div v-show="open">
                <template v-for="group in catalog">
                    <the-categorie-menu class="pl-4" @click="openCategories">{{group.title}}</the-categorie-menu>
                    <list-y-transition>
                        <ul class="mb-1" v-show="openCategory">
                            <the-categorie-menu class="pl-8" v-for="link in group.items" :href="link.href">{{link.title}}</the-categorie-menu>
                        </ul>
                    </list-y-transition>
                </template>
            </div>
        </list-y-transition>

        <the-categorie-menu v-for="link in general" :href="link.href">{{link.name}}</the-categorie-menu>
    </div>
</template>

<script>

import TheCategorieMenu from "@/Components/Guest/TheCategorieMenu";
import TheH3 from "@/Components/Guest/TheH3";
import ListYTransition from "@/Components/Guest/ListYTransition";

export default {
    name: "TheDropdownMobileMenu",
    components: {TheCategorieMenu, TheH3, ListYTransition},
    props: {
        catalog: Array,
        general: Array
    },
    data: () => ({
        open: false,
        openCategory: false,
    }),
    methods: {
        openCatalog() {
            this.open = !this.open;
        },
        openCategories() {
            this.openCategory = !this.openCategory;
        },
    }
}
</script>

<style scoped>

</style>
