<template>
    <div class="mt-2">
        <button type="button" @click="$emit('open')" class="flex lg:hidden items-center justify-center p-3 bg-primary text-white hover:bg-primary-dark cursor-pointer">
            <i class="fas fa-bars"></i>
        </button>
        <button class="flex-grow items-center justify-center border-t border-l px-1 py-2 text-secondary hidden lg:flex hover:text-primary focus:text-primary" @click="$emit('open')">
            <span-small class="font-bold text-[0.70rem]">Памятники</span-small>
        </button>
        <primary-link v-for="(link, i) in general"
                      class="flex-grow flex items-center justify-center border-t border-r px-1 py-2"
                      :href="link.href"
                      :class="{'border-l': i===0}"
                      :active="currentName === link.route">
            <span-small class="font-bold text-[0.70rem]">{{ link.name }}</span-small>
        </primary-link>
        <a href="/construkt" class="font-bold bg-primary text-white hover:bg-primary-dark  flex-grow flex items-center justify-center border-t-primary border-r px-1 py-2">
            <span-small class="font-bold text-[0.70rem]">Конструтор памятников</span-small>
        </a>
        <the-link :href="route('search')" class="flex lg:hidden items-center justify-center p-3 bg-primary text-white hover:bg-primary-dark cursor-pointer">
            <i class="fas fa-search"></i>
        </the-link>
    </div>
</template>

<script>
import PrimaryLink from "@/Components/Guest/PrimaryLink";
import SpanSmall from "@/Components/Guest/SpanSmall";
import TheLink from "@/Components/Guest/TheLink";

export default {
    name: "TheDesktopMenuDetail",
    components: {PrimaryLink, SpanSmall, TheLink},
    props: ['general'],
    computed: {
        currentName() {
            return this.route().current();
        }
    }
}
</script>

<style scoped>

</style>
