<template>
    <div class="footer">
        <div class="bg-footer py-8">
            <content-template>
                <div class="flex md:justify-between flex-wrap gap-8 md:gap-4">
                    <div>
                        <the-footer-h3>Наши контакты</the-footer-h3>
                        <div class="grid gap-2 text-gray-600">
                            <div v-if="settings.phone_code && settings.phone_number" class="flex items-center">
                                <span class="text-primary mr-3 w-4">
                                    <i class="fas fa-phone"></i>
                                </span>
                                <p>{{ settings.phone_code+' '+settings.phone_number }}</p>
                            </div>
                            <div v-if="settings.email" class="flex items-center">
                                <span class="text-primary mr-3 w-4">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <p>{{ settings.email }}</p>
                            </div>
                            <div v-if="settings.address" class="flex items-center">
                                <span class="text-primary mr-3 w-4">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                <p>{{ settings.address }}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <the-footer-h3>Оплата и доставка</the-footer-h3>
                        <div class="grid gap-2">
                            <the-arrow-link
                                v-for="link in generals.left"
                                :href="link.href">
                                {{ link.name }}
                            </the-arrow-link>
                        </div>
                    </div>
                    <div>
                        <the-footer-h3>Обслуживание клиентов</the-footer-h3>
                        <div class="grid gap-2 text-gray-600">
                            <the-arrow-link
                                v-for="link in generals.right"
                                :href="link.href">
                                {{ link.name }}
                            </the-arrow-link>
                        </div>
                    </div>
                </div>
            </content-template>
        </div>
        <div class="bg-footer-dark py-2">
            <content-template>
                <div class="text-xs text-gray-700 text-center">
                    2010 - {{ new Date().getFullYear() }}. Все права защищены. <the-link :href="route('policy')" class="underline text-gray-600">Политика конфиденциальности. Правовая информация.</the-link><br>
                    Копирование текстовых и фото материалов с сайта ЗАПРЕЩЕНО и преследуется по закону РФ. Факты нарушения незаконного использования выявляются.
                </div>
            </content-template>
        </div>
    </div>
</template>

<script>

import ContentTemplate from "@/Components/Guest/ContentTemplate";
import TheFooterH3 from "@/Components/Guest/TheFooterH3";
import TheArrowLink from "@/Components/Guest/TheArrowLink";
import {computed} from "vue";
import {usePage} from "@inertiajs/inertia-vue3";
import TheLink from "@/Components/Guest/TheLink";

export default {
    name: "TheFooter",
    components: {TheLink, TheArrowLink, TheFooterH3, ContentTemplate},
    props: {
        generals: Object
    },
    setup() {
        const settings = computed(() => usePage().props.value.settings ?? {})
        return { settings }
    },
}
</script>

<style scoped>

</style>
