<template>
    <div class="flex gap-2 justify-between py-1 md:hidden">
        <div class="flex items-center flex-wrap gap-1">
            <contacts-btns/>
        </div>
        <div class="justify-self-center">
            <the-link class="h-[23.5px] w-[23.5px] text-sm text-white bg-gray-500 rounded-full flex items-center justify-center hover:opacity-90">
                <i class="fas fa-search"></i>
            </the-link>
        </div>
        <div class="justify-self-end flex items-center flex-wrap gap-1">
            <support-bts-cart/>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-2 md:gap-4 md:mt-4">
        <div class="col-span-3 flex flex-col justify-center gap-2">
            <!-- Logo -->
            <the-logo/>
            <!-- Search Form -->
            <the-primary-search />
        </div>
        <div class="col-span-9 flex-grow flex flex-col justify-end">
            <div class="flex justify-between gap-2 md:mt-2">
                <div class="max-w-[33%] hidden lg:block">
                    <p-medium>
                        Выезд менеджера. <span class="font-bold text-primary">Бесплатно</span><br>
                        <span-small>
                            заказать памятник в удобном для вас месте и время.
                            Личный менеджер <secondary-string-btn @click="openManager = true">заказать</secondary-string-btn>.
                        </span-small>
                    </p-medium>
                </div>

                <div class="justify-self-center flex items-start">
                    <div class="hidden md:grid grid-cols-2 place-items-center gap-0.5">
                        <contacts-btns/>
                    </div>
                </div>
                <div class="justify-self-center">
                    <div class="flex items-center h-full md:hidden">
                        <a v-if="phone" :href="'tel:'+phone" class="group">
                            <span-large class="font-bold">
                                <span class="text-secondary">{{ this.settings.phone_code }} </span>
                                <span class="text-primary">{{ this.settings.phone_number }}</span>
                            </span-large>
                        </a>
                    </div>
                    <div class="flex flex-col hidden md:block">
                        <a v-if="phone" :href="'tel:'+phone" class="group">
                            <span-medium class="font-bold text-secondary group-hover:text-secondary-dark">
                                {{ this.settings.phone_code }}
                            </span-medium>
                            <span-large class="font-bold text-primary group-hover:text-primary-dark">
                                {{ this.settings.phone_number }}
                            </span-large>
                        </a>
                        <div>
                            <span-small class="text-secondary">
                                {{ this.settings.schedule }}
                            </span-small>
                            <secondary-string-btn @click="openCallback = true" class="text-sm font-bold">
                                Перезвонить
                            </secondary-string-btn>
                        </div>
                    </div>
                </div>

                <div class="justify-self-end flex gap-4">
                    <div class=" hidden md:grid">
                        <support-bts-cart/>
                    </div>
                    <the-cart/>
                </div>
            </div>
        </div>
    </div>

    <call-manager :open="openManager" @close="openManager = false" />
    <callback :open="openCallback" @close="openCallback = false" />
</template>

<script>
import TheLogo from "@/Components/Guest/TheLogo";
import ThePrimarySearch from "@/Components/Guest/ThePrimarySearch";
import SpanMedium from "@/Components/Guest/SpanMedium";
import SpanLarge from "@/Components/Guest/SpanLarge";
import SpanSmall from "@/Components/Guest/SpanSmall";
import SecondaryStringBtn from "@/Components/Guest/SecondaryStringBtn";
import PMedium from "@/Components/Guest/PMedium";
import PSmall from "@/Components/Guest/PSmall";
import TheLink from "@/Components/Guest/TheLink";
import TheCart from "@/Components/Guest/TheCart";
import ContactsBtns from "@/Components/Guest/ContactsBtns";
import SupportBtsCart from "@/Components/Guest/SupportBtsCart";
import PrimaryBtn from "@/Components/Guest/PrimaryBtn";
import {computed} from "vue";
import {usePage} from "@inertiajs/inertia-vue3";
import CallManager from "@/Components/Guest/Modals/CallManager";
import Callback from "@/Components/Guest/Modals/Callback";
export default {
    name: "TheHeader",
    components: {
        Callback,
        CallManager,
        PrimaryBtn,
        SupportBtsCart,
        ContactsBtns,
        TheCart,
        TheLink,
        PSmall, PMedium, SecondaryStringBtn, SpanSmall, SpanLarge, SpanMedium, ThePrimarySearch, TheLogo},
    setup() {
        const settings = computed(() => usePage().props.value.settings ?? {})
        return { settings }
    },
    data() {
        return {
            openManager: false,
            openCallback: false
        }
    },
    computed: {
        phone() {
            if(this.settings.phone_code && this.settings.phone_number) {
                let phone = this.settings.phone_code+''+this.settings.phone_number;
                return '+'+phone.replace(/[^\d]/g, "")
            }
            return null;
        }
    }
}
</script>
