<template>
    <div class="mb-2">
        <h3 class="text-2xl font-medium font-serif hover:text-primary">
            <slot/>
        </h3>
    </div>
</template>

<script>
export default {
    name: "TheH3"
}
</script>

<style scoped>

</style>
