<template>
    <div class="text-2xl text-gray-700 py-2 my-5 border-b border-black">
        <slot/>
    </div>
</template>

<script>
export default {
    name: "TheH2"
}
</script>

<style scoped>

</style>
