<template>
    <Link :href="href">
        <slot />
    </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
export default {
    name: "TheLink",
    components: {
        Link
    },
    props: {
        href: {
            type: String,
            default: '#',
        },
    }
}
</script>

<style scoped>

</style>
