<template>
    <the-link href="/">
        <img class="hidden md:block" src="/images/logo.png" alt="" width="200" height="39"/>
        <img class="md:hidden" src="/images/logo_small.png" alt="" width="39" height="39"/>
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheLogo",
    components: {TheLink}
}
</script>
