<template>
    <div class="mb-4">
        <label v-if="label" class="font-semibold text-sm py-2 uppercase">{{ label }}</label>
        <div class="flex flex-col max-h-60 overflow-y-auto">
            <div class="grid grid-cols-12 flex items-center py-2 pl-4 w-full bg-gray-100">
                <div class="col-span-4 text-gray-500 text-xs uppercase" v-for="param in params">{{ param.name }}</div>
                <div class="col-span-4 text-gray-500 text-xs uppercase">ЦЕНА</div>
            </div>
            <div class="flex flex-wrap cursor-pointer"
                 v-for="item in localItems"
                 v-show="!index || item.parent_id === parent_id"
                 @click="select(item)"
                 :class="{'font-bold' : (modelValue.id === item.id)}">
                <div class="flex flex-row items-center w-full">
                    <div class="grid grid-cols-12 flex items-center py-2 pl-4 w-full text-gray-900 text-xs">
                        <div class="col-span-4" v-for="cell in item.cells">
                            {{ cell.value }}
                        </div>
                        <div class="col-span-4">
                            {{ item.price_string }}
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-300 w-full"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TheListRadio",
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            default: {} // в переменной массива обязательно должен быть уникальный id
        },
        items: {
            type: Array,
            default: []
        },
        params: {
            type: Array,
            default: []
        },
        label: String,
        aid: Number,
        parent_id: Number,
        index: Number,
        selected_material: Object,
    },
    data() {
        return {
            localItems: []
        }
    },
    methods: {
        select(item) {
            item.label = this.label;
            this.$emit('update:modelValue', item);
        },
        numberFormat(number, decimals, decPoint, thousandsSep) {
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
            const n = !isFinite(+number) ? 0 : +number
            const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
            const sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
            const dec = (typeof decPoint === 'undefined') ? '.' : decPoint
            let s = ''
            const toFixedFix = function (n, prec) {
                if (('' + n).indexOf('e') === -1) {
                    return +(Math.round(n + 'e+' + prec) + 'e-' + prec)
                } else {
                    const arr = ('' + n).split('e')
                    let sig = ''
                    if (+arr[1] + prec > 0) {
                        sig = '+'
                    }
                    return (+(Math.round(+arr[0] + 'e' + sig + (+arr[1] + prec)) + 'e-' + prec)).toFixed(prec)
                }
            }
            s = (prec ? toFixedFix(n, prec).toString() : '' + Math.round(n)).split('.')
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || ''
                s[1] += new Array(prec - s[1].length + 1).join('0')
            }
            return s.join(dec)
        },
    },
    watch: {
        selected_material(data) {
            this.localItems = [];
            for (let object of this.items) {
                let item = {...object};
                if (!!item.sum) {
                    item.sum += !!data.percent ? (item.sum * (data.percent / 100)) : 0;
                    item.price_string = !!item.sum ? this.numberFormat(item.sum, 0, ',', ' ') + 'р' : 'бесплатно';

                    if (this.modelValue.id === item.id)
                        this.select(item);

                }
                this.localItems.push(item)
            }
        },
    },
    created() {
        if(!this.selected_material.id) {
            this.localItems = this.items
        }
        if (!this.modelValue.id && this.items.length) {
            this.select(this.items[0]);
        }
    }
}
</script>
