<template>
    <div class="p-6">
        <template v-for="group in catalog">
            <the-link :href="group.href">
                <the-h3>{{group.title}}</the-h3>
            </the-link>
            <ul class="mb-4">
                <the-categorie-menu v-for="link in group.items" :href="link.href">{{link.title}}</the-categorie-menu>
            </ul>
        </template>
    </div>
</template>

<script>
import TheH3 from "@/Components/Guest/TheH3";
import TheCategorieMenu from "@/Components/Guest/TheCategorieMenu";
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheLeftMenu",
    components: {TheLink, TheCategorieMenu, TheH3},
    props: {
        catalog: Array
    },
}
</script>

<style scoped>

</style>
