<template>
    <div>
        <div class="hidden md:block border-b-2 border-primary-dark">
            <content-template>
                <the-desktop-menu :general="general" :catalog="catalog" class="flex justify-between text-center"/>
            </content-template>
        </div>

        <div @mouseleave.native="openMobile = false">
            <the-mobile-menu class="md:hidden mt-2" @click="openMobile = !openMobile"/>
            <list-y-transition>
                <div v-show="openMobile" @mouseleave.native="openMobile = false" class="absolute bg-white overflow-y-auto w-3/4 right-0 shadow-xl z-20">
                    <the-dropdown-mobile-menu :catalog="catalog" :general="general" class="max-h-[590px]"/>
                </div>
            </list-y-transition>
        </div>



    </div>
</template>

<script>
import TheMobileMenu from "@/Components/Guest/TheMobileMenu";
import TheDesktopMenu from "@/Components/Guest/TheDesktopMenu";
import ContentTemplate from "@/Components/Guest/ContentTemplate";
import ListYTransition from "@/Components/Guest/ListYTransition";
import TheLeftMenu from "@/Components/Guest/TheLeftMenu";
import TheDropdownMobileMenu from "@/Components/Guest/TheDropdownMobileMenu";
export default {
    name: "TheMenu",
    components: {TheDropdownMobileMenu, TheLeftMenu, ListYTransition, ContentTemplate, TheDesktopMenu, TheMobileMenu},
    props: ['general', 'catalog'],
    data: () => ({
        openMobile: false
    }),
}
</script>

<style scoped>

</style>
