<template>
    <content-template class="bg-primary-dark">
        <div class="flex gap-2 py-2 items-center justify-between" @click="$emit('open')">
            <span-large class="text-white font-bold">
                Меню
            </span-large>

            <button type="button" class="text-white text-2xl">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </content-template>
</template>

<script>
import ContentTemplate from "@/Components/Guest/ContentTemplate";
import SpanLarge from "@/Components/Guest/SpanLarge";
import PrimaryBtn from "@/Components/Guest/PrimaryBtn";
export default {
    name: "TheMobileMenu",
    components: {PrimaryBtn, SpanLarge, ContentTemplate}
}
</script>

<style scoped>

</style>
