<template>
    <div class="hidden md:block border-b-2 border-primary-dark">
        <content-template>
            <the-desktop-menu-detail :general="general" class="flex justify-between text-center" @open="openMenu()"/>
        </content-template>
    </div>
    <the-mobile-menu :general="general" class="md:hidden mt-2" @open="openMenuMobile()"/>

    <content-template>
        <list-y-transition>
            <div v-show="open" class="absolute bg-white overflow-y-auto shadow-xl z-20">
                <the-left-menu :catalog="catalog" class="max-h-[590px] w-[250px]"/>
            </div>
        </list-y-transition>
    </content-template>

    <list-y-transition>
        <div v-show="openMobile" class="absolute bg-white overflow-y-auto w-3/4 right-0 shadow-xl z-20">
            <the-dropdown-mobile-menu :catalog="catalog" :general="general" class="max-h-[590px]"/>
        </div>
    </list-y-transition>

</template>

<script>
import TheDropdownMobileMenu from "@/Components/Guest/TheDropdownMobileMenu";
import TheLeftMenu from "@/Components/Guest/TheLeftMenu";
import ListYTransition from "@/Components/Guest/ListYTransition";
import ContentTemplate from "@/Components/Guest/ContentTemplate";
import TheMobileMenu from "@/Components/Guest/TheMobileMenu";
import TheDesktopMenuDetail from "@/Components/Guest/TheDesktopMenuDetail";

export default {
    name: "TheMenuDetail",
    components: {
        TheDesktopMenuDetail,
        TheDropdownMobileMenu, TheLeftMenu, ListYTransition, ContentTemplate, TheMobileMenu},
    props: ['general', 'catalog'],
    data: () => ({
        open: false,
        openMobile: false
    }),
    methods: {
        openMenu() {
            this.open = !this.open;
        },
        openMenuMobile() {
            this.openMobile = !this.openMobile;
        }
    }
}
</script>

<style scoped>

</style>
