<template>
    <Head>
        <title>{{ meta.title ?? 'Памятники' }}</title>
        <meta head-key="description" name="description" v-if="meta.description" :content="meta.description" />
        <meta head-key="keywords" name="keywords" v-if="meta.keywords" :content="meta.keywords" />
    </Head>
</template>

<script>
import { computed } from 'vue'
import { usePage, Head } from '@inertiajs/inertia-vue3'
export default {
    name: "TheMeta",
    components: {Head},
    setup() {
        const meta = computed(() => usePage().props.value.meta ?? {})
        return { meta }
    },
}
</script>
