<template>
    <p class="text-gray-600 my-2" :class="classes">
        <slot/>
    </p>
</template>

<script>
export default {
    name: "TheP",
    props: {
        size: {
            type: String,
            default: 'base'
        }
    },
    computed: {
        classes() {
            if (this.size === 'sm') {
                return 'text-sm'
            }
            return 'text-base';
        }
    }
}
</script>

<style scoped>

</style>
