<template>
    <span class="text-xs mr-1 text-gray-500"><i class="fas fa-angle-double-right"></i></span>
</template>

<script>
export default {
    name: "ThePointLi"
}
</script>

<style scoped>

</style>
