<template>
    <div class="grid grid-cols-12 gap-1 pt-2 px-4">
        <div class="col-span-8 text-sm"><slot name="title"/></div>
        <div class="col-span-4 text-sm text-right"><slot name="price"/></div>
    </div>
</template>

<script>
export default {
    name: "TheProductDiscountPrice"
}
</script>

<style scoped>

</style>
