<template>
    <div class="lg:grid-cols-3 gap-4 my-2">
        <div v-for="(personalization, index) in personalizations">
            <product-addition-personalization
                v-model="selected[index]"
                :personalization="personalization"
            />
        </div>
    </div>
</template>

<script>
import TheDropdown from "@/Components/Guest/TheDropdown";
import TheSelectDropdownMini from "@/Components/Guest/TheSelectDropdownMini";
import ProductAdditionPersonalization from "@/Components/Guest/ProductAdditionPersonalization";

export default {
    name: "TheProductAddition",
    components: {ProductAdditionPersonalization, TheSelectDropdownMini, TheDropdown},
    emits: ['update:modelValue'],
    props: {
        personalizations: Array,
        modelValue: Array
    },
    data() {
      return {
          selected: []
      }
    },
    watch: {
        selected: {
            deep: true,
            handler(data) {
                this.$emit('update:modelValue',data)
            }
        }
    }
}
</script>

<style scoped>

</style>
