<template>
    <form @submit.prevent="submit" class="flex hidden lg:flex flex-inline justify-between">
        <div class="grow border border-2 border-primary">
            <input v-model="form.search" class="w-full px-2 py-2 " placeholder="Поиск...">
        </div>
        <div @click="submit" class="flex items-center justify-center p-3 bg-primary text-white hover:bg-primary-dark cursor-pointer">
            <i class="fas fa-search"></i>
        </div>
    </form>
    <div>

    </div>

</template>

<script>
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "ThePrimarySearch",
    setup() {
        const form = useForm({
            search: '',
        });
        return {form}
    },
    methods: {
        submit() {
            this.form.get(this.route('search'), {
                errorBag: 'form',
                preserveScroll: true,
            })
        },
    }


}
</script>
