<template>
    <div class="grow">
        <p class="bg-gray-100 p-2 text-center">Ваши товары</p>
        <the-product-dropdown-price
            v-if="params.attributes && params.attributes.length"
            v-for="attribute in params.attributes"
            v-show="attribute.id">
            <template v-slot:title>{{ attribute.label }}</template>
            <template v-slot:type>1 шт.</template>
            <template v-slot:price>{{ attribute.price_string }}</template>
        </the-product-dropdown-price>

        <the-product-dropdown-price
            v-if="params.installation && params.installation.id">
            <template v-slot:title>{{ params.installation.label }}</template>
            <template v-slot:type>{{ params.installation.name }}</template>
            <template v-slot:price>{{ params.installation.price_string }}</template>
        </the-product-dropdown-price>

        <the-product-dropdown-price
            v-if="params.shipping && params.shipping.id">
            <template v-slot:title>{{ params.shipping.label }}</template>
            <template v-slot:type>{{ params.shipping.name }}</template>
            <template v-slot:price>{{ params.shipping.price_string }}</template>
        </the-product-dropdown-price>

        <template  v-if="params.personalizations"
                   v-for="personalization in params.personalizations">
            <the-product-dropdown-price v-if="personalization.id">
                <template v-slot:title>{{ personalization.label }}</template>
                <template v-slot:type>{{ personalization.name }}</template>
                <template v-slot:price>{{ personalization.price_string }}</template>
            </the-product-dropdown-price>
        </template>

        <div class=" flex justify-end">
            <div class="border-b border-gray-600 w-2/3 flex justify-end mr-4"></div>
        </div>

        <div class="grid grid-cols-12 gap-1 py-2 px-4">
            <div class="col-span-6 text-xs text-right mr-2">СУММА:</div>
            <div class="col-span-3 text-xs">{{ count }} шт.</div>
            <div class="col-span-3 text-xs text-primary font-semibold">{{ sum }}</div>
        </div>

        <template v-if="discounts.items && discounts.items.length">
            <p class="p-2 bg-primary text-white text-center">СКИДКИ</p>
            <the-product-discount-price v-for="discount in discounts.items">
                <template v-slot:title>{{ discount.name }}</template>
                <template v-slot:price>- {{ discount.sum_string }}</template>
            </the-product-discount-price>
            <div class=" flex justify-end">
                <div class="border-b border-gray-600 w-2/3 flex justify-end mt-2 mr-4"></div>
            </div>
            <div class="grid grid-cols-12 gap-1 py-2 px-4" v-if="!!discounts.total">
                <div class="col-span-8 text-sm text-right mr-2">Сумма скидок:</div>
                <div class="col-span-4 text-sm text-primary font-semibold text-right">- {{ discounts.total_string }}</div>
            </div>
        </template>
        <div class="py-2 px-6 bg-primary text-white text-xl flex justify-between">
            <p class="text-xl">Итог</p>
            <p class="text-2xl">{{ finishedSum }}</p>
        </div>
    </div>
</template>

<script>
import TheProductDropdownPrice from "@/Components/Guest/TheProductDropdownPrice";
import TheProductDiscountPrice from "@/Components/Guest/TheProductDiscountPrice";
export default {
    name: "TheProductPrice",
    components: {TheProductDiscountPrice, TheProductDropdownPrice},
    props: {
        discounts: Array,
        params: Object,
        count: Number,
        sum: Number,
        finishedSum: Number,
    },
}
</script>

<style scoped>

</style>
