<template>
    <ClientOnly>
        <div class="grid grid-cols-2 gap-6 md:grid-cols-4 sm:grid-cols-3 mb-6">
            <img v-for="(photo, index) in photos"
                 class="cursor-pointer"
                 @click="showImg(index)"
                 :src="photo.preview_img_path"/>
        </div>
        <vue-easy-lightbox
            :visible="visible"
            :imgs="imgs"
            :index="index"
            @hide="handleHide"
        ></vue-easy-lightbox>
    </ClientOnly>
</template>

<script>
import ClientOnly from '@/ClientOnly'
import VueEasyLightbox from 'vue-easy-lightbox';
export default {
    name: "ThePhotoWork",
    components: {ClientOnly, VueEasyLightbox},
    props: {
        photos: Array
    },
    data: () => ({
        visible: false,
        index: 0,
    }),
    methods: {
        showImg(index) {
            this.index = index
            this.visible = true
        },
        handleHide() {
            this.visible = false
        }
    },
    computed: {
        imgs() {
            let imgs = [];
            if (this.photos && this.photos.length) {
                for (let photo of this.photos) {
                    imgs.push(photo.origin_img_path);
                }
            }
            return imgs;
        }
    }
}
</script>

<style scoped>

</style>
