<template>
        <div class="grid grid-cols-2 gap-6 md:grid-cols-4 sm:grid-cols-3 mb-6">
            <the-product v-for="product in products"
                         :pid="product.id"
                         :favorite="product.is_favorite"
                         :href="product.href">
<!--                <template v-slot:sale>17%</template>-->
                <template v-slot:img><img :src="product.img_path"/></template>
                <template v-slot:name><p>{{ product.name }} (арт: {{ product.art }})</p></template>
                <template v-slot:new-price><p>{{ product.min_price }}</p></template>
<!--                <template v-slot:price><p>20 800p</p></template>-->
            </the-product>
        </div>

</template>

<script>
import TheProduct from "@/Components/Guest/TheProduct";
export default {
    name: "TheProductList",
    components: { TheProduct},
    props: {
        products: Array
    }
}
</script>

<style scoped>

</style>
