<template>
    <div class="flex justify-center gap-2 items-center">
        <span class="text-gray-700 text-xs pt-1 hover:text-primary">
            <the-link v-show="prevUrl" :href="prevUrl">
                <i class="fas fa-angle-double-left"></i>
            </the-link>
        </span>

        <the-link
            v-for="page in lastPage"
            :href="getUrl(page)"
            class="text-gray-700 hover:text-primary"
            :class="{'text-gray-700' : page !== currentPage, 'text-primary' : page === currentPage }">
            {{ page }}
        </the-link>

        <span class="text-gray-700 text-xs pt-1 hover:text-primary">
            <the-link v-show="nextUrl" :href="nextUrl">
                <i class="fas fa-angle-double-right"></i>
            </the-link>
        </span>
    </div>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "ThePagination",
    components: {TheLink},
    props: {
        currentPage: Number,
        lastPage: Number,
        currentUrl: String,
    },
    computed: {
        prevUrl() {
            if (this.currentPage > 1)
                return this.currentUrl + '?page=' + (this.currentPage - 1);
            return null;
        },
        nextUrl() {
            if (this.currentPage < this.lastPage)
                return this.currentUrl + '?page=' + (this.currentPage + 1);
            return null;
        }
    },
    methods: {
        getUrl(page) {
            return this.currentUrl + '?page=' + page;
        }
    }
}
</script>

<style scoped>

</style>
