<template>
    <div class="w-full lg:w-[68%]">
        <div class="flex flex-wrap md:flex-nowrap gap-4">
            <div class="w-full md:w-1/3 flex-none">
                <the-h2 class="text-base md:hidden">{{ product.name }} (АРТ: {{ product.art }})</the-h2>
                <button @click="showMultiple(index=0)" class="w-full">
                    <img class="object-cover w-full" :src="product.img_path"/>
                </button>
                <vue-easy-lightbox escDisabled moveDisabled :visible="visible" :imgs="imgs" :index="index"
                                   @hide="handleHide"/>
            </div>
            <div class="md:grow">
                <the-h2 class="text-base hidden md:block">{{ product.name }} (АРТ: {{ product.art }})</the-h2>
                <div class="text-sm text-gray-600" v-html="product.about"></div>
                <div class="my-4">

                    <the-list-radio
                        v-for="(attribute, index) in attributes"
                        :index="index"
                        :aid="attribute.id"
                        :label="attribute.name"
                        :params="attribute.columns"
                        :items="attribute.rows"
                        :parent_id="generalRow.id"
                        :selected_material="modelValue.material"
                        v-model="modelValue.attributes[index]"/>

                    <the-select-dropdown v-if="materials" v-model="modelValue.material" label="Материал"
                                         :items="materials"/>
                    <the-select-dropdown v-if="installations" v-model="modelValue.installation" label="Установка"
                                         :items="installationsLocal"/>
                    <the-select-dropdown v-if="shippings" v-model="modelValue.shipping" label="Доставка"
                                         :items="shippings"/>

                </div>

                <div class="flex flex-wrap gap-3 mt-8">
                    <the-addition-button @click.prevent="submitBasket">
                        Добавить в корзину
                        <template v-slot:img>
                            <i class="fas fa-shopping-cart"></i>
                        </template>
                    </the-addition-button>
                    <the-addition-button
                        :active="product.is_favorite"
                        @click.prevent="submitFavorite">
                        Добавить в список желаний
                        <template v-slot:img>
                            <i class="fas fa-heart"></i>
                        </template>
                    </the-addition-button>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
import TheAdditionButton from "@/Components/Guest/TheAdditionButton";
import TheSelectDropdown from "@/Components/Guest/TheSelectDropdown";
import ThePointLi from "@/Components/Guest/ThePointLi";
import TheH2 from "@/Components/Guest/TheH2";
import TheListRadio from "@/Components/Guest/TheListRadio";
import VueEasyLightbox from 'vue-easy-lightbox';
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "TheProductSpecifications",
    components: {TheListRadio, TheH2, ThePointLi, TheSelectDropdown, TheAdditionButton, VueEasyLightbox},
    emits: ['update:modelValue'],
    props: {
        attributes: Array,
        materials: Array,
        installations: Array,
        shippings: Array,
        product: Object,
        modelValue: Object,
        count: Number,
        sum: Number,
        sum_sale: Number,
    },
    setup() {
        const form = useForm({});
        const formBasket = useForm({
            count: 0,
            sum: 0,
            sum_sale: 0,
            detail: {},
        });
        return {form, formBasket}
    },
    data() {
        return {
            imgs: '',
            visible: false,
            index: 0,
        }
    },
    computed: {
        generalRow() {
            if (this.modelValue.attributes[0])
                return this.modelValue.attributes[0];

            return {}
        },
        installationsLocal() {
            let installationsLocal = [];
            for (let object of this.installations) {
                let installation = {...object};
                if (!!installation.price) {

                    for (let key in this.modelValue.attributes) {
                        if (this.modelValue.attributes[key] && this.modelValue.attributes[key].up_installation) {
                            installation.price += this.modelValue.attributes[key].up_installation;
                        }
                    }

                    installation.price_string = this.numberFormat(installation.price, 0, ',', ' ') + 'р';
                }
                installationsLocal.push(installation);
            }
            return installationsLocal;
        }
    },
    methods: {
        numberFormat(number, decimals, decPoint, thousandsSep) {
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
            const n = !isFinite(+number) ? 0 : +number
            const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
            const sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
            const dec = (typeof decPoint === 'undefined') ? '.' : decPoint
            let s = ''
            const toFixedFix = function (n, prec) {
                if (('' + n).indexOf('e') === -1) {
                    return +(Math.round(n + 'e+' + prec) + 'e-' + prec)
                } else {
                    const arr = ('' + n).split('e')
                    let sig = ''
                    if (+arr[1] + prec > 0) {
                        sig = '+'
                    }
                    return (+(Math.round(+arr[0] + 'e' + sig + (+arr[1] + prec)) + 'e-' + prec)).toFixed(prec)
                }
            }
            s = (prec ? toFixedFix(n, prec).toString() : '' + Math.round(n)).split('.')
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || ''
                s[1] += new Array(prec - s[1].length + 1).join('0')
            }
            return s.join(dec)
        },
        showMultiple(index) {
            this.imgs = [this.product.img_path]
            this.index = index
            this.show()
        },
        show() {
            this.visible = true
        },
        handleHide() {
            this.visible = false
        },
        async submitFavorite() {
            if (this.product.is_favorite) {
                await this.form.delete(this.route('favorites.destroy', this.product.id), {
                    errorBag: 'form',
                    preserveScroll: true
                })
            } else {
                await this.form.post(this.route('favorites.store', this.product.id), {
                    errorBag: 'form',
                    preserveScroll: true
                })
            }
        },
        async submitBasket() {

            this.formBasket.count = 1;
            this.formBasket.sum = this.sum;
            this.formBasket.sum_sale = this.sum_sale;
            this.formBasket.detail = this.modelValue;

            await this.formBasket.post(this.route('basket.store', this.product.id), {
                errorBag: 'formBasket',
                preserveScroll: true
            })

        }
    }

}
</script>
