<template>
    <div class="grid grid-cols-12 gap-1 py-2 px-4">
        <div class="col-span-9 text-xs flex justify-between pr-2">
            <p><slot name="title"/></p>
            <p><slot name="type"/></p>
        </div>
        <div class="col-span-3 text-xs text-right">
            <slot name="price"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "TheProductDropdownPrice"
}
</script>

<style scoped>

</style>
