<template>
    <the-link :href="href"
              class="hover:opacity-80 relative"
              @mouseover="active = true"
              @mouseleave="active = false">

        <p v-show="hasSale" class="bg-primary absolute text-white text-xs px-1 py-0.5 rounded-sm">
            <slot name="sale"/>
        </p>

        <primary-btn-small class="absolute right-0" @click.prevent="submitFavorite" v-show="active || favorite">
            <i class="fas fa-heart"></i>
        </primary-btn-small>

        <slot name="img"/>
        <div class="py-2 border-b border-black">
            <p class="font-semibold text-gray-700 text-left">
                <slot name="name"/>
            </p>
        </div>
        <div class="py-2 flex gap-1 flex-wrap">
            <p class="text-sm text-primary">
                <slot name="new-price"/>
            </p>
            <p class="text-sm text-gray-400 line-through">
                <slot name="price"/>
            </p>
        </div>
    </the-link>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
import {useForm} from "@inertiajs/inertia-vue3";
import PrimaryBtnSmall from "@/Components/Guest/PrimaryBtnSmall";

export default {
    name: "TheProduct",
    components: {PrimaryBtnSmall, TheLink},
    props: {
        href: {
            type: String,
            default: '#'
        },
        favorite: Boolean,
        pid: {
            default: null
        }
    },
    setup() {
        const form = useForm({});
        return {form}
    },
    data: () => ({
        active: false
    }),
    methods: {
        async submitFavorite() {
            if (this.favorite) {
                await this.form.delete(this.route('favorites.destroy', this.pid), {
                    errorBag: 'form',
                    preserveScroll: true
                })
            } else {
                await this.form.post(this.route('favorites.store', this.pid), {
                    errorBag: 'form',
                    preserveScroll: true
                })
            }
        }
    },
    computed: {
        showFavorite() {
            return (this.active || this.favorite) && this.pid;
        },
        hasSale() {
            return !!this.$slots.sale;
        }
    }
}
</script>

<style scoped>

</style>
