<template>
    <div class="relative">
        <div @click="handleFocus" tabindex="1" class="py-2 text-gray-900 text-xs cursor-pointer hover:bg-gray-100">
            <div v-if="modelValue.name" class="flex">
                <span class="mx-2">
                  <i class="fas fa-caret-down"></i>
                </span>
                {{ modelValue[objName] }}
            </div>
            <div v-else class="flex">
                <span class="mx-2">
                  <i class="fas fa-caret-down"></i>
                </span>
                Выберите
            </div>
        </div>
        <list-y-transition>
            <div v-show="open" class="bg-white shadow absolute w-full z-10 border cursor-pointer">

                <div class="flex items-center px-4 text-gray-900 text-xs hover:font-bold" @click="changeModal({})"
                     :class="{'bg-gray-100 font-semibold' : !modelValue.id}">
                    <div class="py-2 border-b w-full">Отсутствует</div>
                </div>

                <div class="flex items-center px-4 text-gray-900 text-xs hover:font-bold" v-for="item in items" @click="changeModal(item)"
                     :class="{'bg-gray-100 font-semibold' : modelValue.id === item.id}">
                    <div class="py-2 border-b w-full">{{ item[objName] }}</div>
                </div>
            </div>
        </list-y-transition>

        <div class="fixed w-full h-full inset-0" v-if="open" @click="handleFocusOut"></div>
    </div>
</template>

<script>
import ListYTransition from "@/Components/Guest/ListYTransition";
export default {
name: "TheSelectDropdownMini",
    components: {ListYTransition},
    props: {
        modelValue: {
            default: {}
        },
        items: Array,
        label: String,
        objName: {
            type: String,
            default: 'name'
        }
    },
    data: () => ({
        open: false,
    }),
    methods: {
        changeModal(item) {
            if (item.id) item.label = this.label
            this.$emit('update:modelValue', item);
            this.open = false;
        },
        handleFocus() {
            this.open = !this.open;
        },
        handleFocusOut() {
            this.open = false;
        }
    }
}
</script>

<style scoped>

</style>
