<template>
    <div class="relative grid grid-cols-12 flex gap-3 border-b last:border-b-0">
        <label v-if="label" class="col-span-4 font-semibold text-sm py-2 uppercase">{{ label }}</label>
        <div class="col-span-8">
            <div class="flex gap-2 items-center cursor-pointer w-full"
                 @click="handleFocus"
                 tabindex="1">
                <div v-if="modelValue.name" class="w-full">
                    <div class="flex flex-wrap items-center">
                        <div class="grid grid-cols-12 flex items-center gap-2 py-2 pl-4 w-full">
                            <img v-if="modelValue.img_path" :src="modelValue.img_path" class="object-cover h-10 col-span-2">
                            <div class="col-span-4 text-gray-900 text-sm font-semibold" :class="{'col-span-6' : modelValue.img_path, 'col-span-8' : !modelValue.subTitle && !modelValue.img_path}">
                                {{ modelValue.name }}
                            </div>
                            <div class="col-span-4 text-gray-900 text-sm font-semibold" v-if="modelValue.subTitle">
                                {{ modelValue.subTitle }}
                            </div>
                            <div class="col-span-4 text-gray-900 text-sm font-semibold" v-if="modelValue.price_string" :class="{'text-primary' : modelValue.img}">
                                {{ modelValue.price_string }}
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else class="text-sm py-2 pl-4">
                    {{ 'Пожалуйста выберите' }}
                </div>
            </div>
        </div>
        <list-y-transition>
            <div class="bg-white shadow absolute w-full z-10 border top-8" v-show="open">
                <div class="flex flex-col max-h-60 overflow-y-auto ">
                    <div v-if="params.title">
                        <div class="grid grid-cols-12 flex items-center pt-2 pl-4 w-full">
                            <div class="col-span-4 text-gray-500 text-xs">{{ params.title }}</div>
                            <div class="col-span-4 text-gray-500 text-xs">{{ params.subTitle }}</div>
                            <div class="col-span-4 text-gray-500 text-xs">{{ params.price_string }}</div>
                        </div>
                    </div>
                    <div class="flex flex-wrap cursor-pointer hover:bg-gray-100"
                         v-for="item in items"
                         :class="{'bg-gray-100 font-semibold' : modelValue.id === item.id}">
                        <div class="flex flex-row items-center w-full" @click="changeModal(item)">
                            <img v-if="item.img_path" :src="item.img_path" class="max-w-[30%] object-cover max-h-[100px] h-full">

                            <div class="grid grid-cols-12 flex items-center py-2 pl-4 w-full text-gray-900 text-xs">
                                <div class="col-span-4" v-if="item.name" :class="{'col-span-8 font-semibold text-sm' : item.description}">
                                    {{ item.name }}
                                </div>
                                <div class="col-span-4">
                                    {{ item.subTitle ?? '' }}
                                </div>
                                <div class="col-span-4" v-if="item.price_string" :class="{'col-span-4 text-primary text-sm' : item.description}">
                                    {{ item.price_string }}
                                </div>

                                <div class="col-span-12"
                                     v-if="item.description"
                                     v-html="item.description"></div>
                            </div>
                        </div>
                        <div class="border-b border-gray-300 w-full"></div>

                    </div>
                </div>
            </div>
        </list-y-transition>

        <div v-if="open" class="fixed w-full h-full inset-0" @click="handleFocusOut"></div>
    </div>
</template>

<script>
import ListYTransition from "@/Components/Guest/ListYTransition";

export default {
    name: "TheSelectDropdown",
    components: {ListYTransition},
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            default: {} // в переменной массива обязательно должен быть уникальный id
        },
        items: {
            type: Array,
            default: []
        },
        params: {
            type: Array,
            default: []
        },
        label: String
    },
    data: () => ({
        value: '',
        open: false
    }),
    methods: {
        changeModal(item) {
            item.label = this.label;
            this.$emit('update:modelValue', item);
            this.open = false;
        },
        handleFocus() {
            this.open = !this.open;
        },
        handleFocusOut() {
            this.open = false;
        }
    },
    created() {
        if (this.items.length && !this.modelValue.id) {
            this.changeModal(this.items[0])
        }
    }
}
</script>
