<template>
        <div class="mt-5 relative">

            <div class="absolute top-1 right-1">
                <form-action-status :on="processing">
                    <i class="fas fa-sync fa-spin text-gray-300"></i>
                </form-action-status>
                <form-action-status :on="on">
                    <i class="fas fa-check-circle text-green-500"></i>
                </form-action-status>
            </div>

            <component :is="asTag" @submit.prevent="$emit('submitted')" >
                <div class="px-4 py-5 bg-white sm:p-6 shadow"
                     :class="hasActions ? 'sm:rounded-tl-md sm:rounded-tr-md' : 'sm:rounded-md'">

                    <section-title>
                        <template #title><slot name="title"></slot></template>
                        <template #description><slot name="description"></slot></template>
                    </section-title>

                    <div class="flex flex-col">
                        <slot name="form"></slot>
                    </div>
                </div>

                <div class="flex items-center justify-end gap-2 px-4 py-3 bg-gray-50 text-right sm:px-6 shadow sm:rounded-bl-md sm:rounded-br-md" v-if="hasActions">
                    <slot name="actions"></slot>
                </div>
            </component>
        </div>
</template>

<script>
import SectionTitle from '../SectionTitle'
import FormActionStatus from "./FormActionStatus";
export default {
    emits: ['submitted'],
    components: {
        FormActionStatus,
        SectionTitle,
    },
    props: ['on', 'processing', 'tag'],
    computed: {
        hasActions() {
            return !! this.$slots.actions
        },
        asTag() {
            if (!this.tag) {
                return 'form';
            }
            return this.tag;
        }
    }
}
</script>
