<template>
    <div class="grid md:grid-cols-6 md:gap-2 mt-5">
        <div class="md:col-span-1 flex items-center">
            <the-p size="sm" v-if="hasLabel">
                <slot name="label"/>
                <span v-show="required" class="text-red-600">*</span>
            </the-p>
        </div>
        <div class="md:col-span-5 flex items-center">
           <slot/>
        </div>
    </div>
</template>

<script>
import TheP from "@/Components/Guest/TheP";
export default {
    name: "FormBodyRow",
    components: {TheP},
    props: {
        required:{
            type: Boolean,
            default: false
        }
    },
    computed: {
        hasLabel() {
            return !!this.$slots.label;
        }
    }
}
</script>
