<template>

    <div v-if="modelValue" class="relative" :style="sizeStyle">
        <the-button class="absolute top-2 right-2" type="button" @click="deleteImage" :disabled="processing">
            <i class="fas fa-trash"></i>
        </the-button>
        <img class="rounded-md" :style="sizeStyle" :src="'/'+modelValue"/>
    </div>

    <div v-else class="flex rounded-md border relative flex items-center bg-white justify-center"
         :style="sizeStyle"
         :class="{'cursor-pointer hover:bg-gray-100':!processing}"
         @click="openinput">
        <span v-if="!loading"><i class="fa fa-plus text-success"></i></span>
        <span v-else><i class="fas fa-spinner fa-spin"></i></span>

        <input type="file" class="hidden" id="vue-file-upload-input" ref="inputfile" @change="addImage">
    </div>

</template>

<script>
import axios from 'axios'
import TheButton from "@/Components/Dashboard/UI/TheButton";

export default {
    name: "FormLoadImage",
    components: {TheButton},
    props: {
        modelValue: String,
        processing: Boolean,
        height: {
            default: 200,
        },
        width: {
            default: 200,
        },
        folder: {
            type: String,
            default: '',
        },
        keep: {
            default: 0
        }
    },
    emits: ['update:modelValue'],
    data: () => ({
        loading: false
    }),
    computed: {
        sizeStyle() {
            return 'width: '+this.width+'px; height:'+this.height+'px;';
        }
    },
    methods: {
        addImage(e) {
            if (this.processing) return;
            const tmpFiles = e.target.files
            if (!tmpFiles.length) {
                return false;
            }
            const file = tmpFiles[0]
            this.saveImage(file);
        },

        async saveImage(file) {

            this.loading = true;

            let formData = new FormData();
            formData.append('height', this.height);
            formData.append('width', this.width);
            formData.append('keep_margins', this.keep);
            formData.append('folder', this.folder);
            formData.append('image', file);

            await axios.post(this.route('api.image.save'), formData, {
                headers: {'Content-Type': 'multipart/form-data'},
            }).then(res => {
                this.$emit('update:modelValue', res.data.path);
                this.loading = false;
            }).catch(err => {
                console.log(err)
                this.loading = false;
            })
        },
        async deleteImage() {
            if (this.processing) return;
            await axios.post(this.route('api.image.destroy'), {path: this.modelValue})
                .then(res => {
                    this.$emit('update:modelValue', '');
                }).catch(err => {
                    console.log(err)
                })
        },
        openinput() {
            this.$refs.inputfile.click();
        },
    }
}
</script>
