<template>
    <form @submit.prevent="submit" class="w-full md:max-w-[300px] bg-white border border-gray-300">
        <div class="bg-gray-200 border-b border-gray-300 px-4 py-2">
            Фильтр
        </div>
        <div class="mt-2 mx-4 text-sm">
            <div class="py-2 border-b">
                Название товара
                <div class="relative text-gray-400">
                    <the-input
                        class="w-full"
                        placeholder="Товар"
                        v-model="form.name"
                        :processing="form.processing"
                    />
                </div>
            </div>
            <div class="py-2 border-b">
                Категория
                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.category_id"
                    :disabled="form.processing">
                    <el-option
                        label="Без категории"
                        :value="null"
                    ></el-option>
                    <el-option
                        v-for="item in categories"
                        :label="item.name"
                        :value="item.id"
                    ></el-option>
                </el-select>

            </div>
            <div class="w-full py-2 flex justify-end">
                <the-button :href="route('dashboard.products.index')" v-if="hasParameters"><i class="fas fa-trash-alt"></i></the-button>
                <the-button>Фильтр</the-button>
            </div>
        </div>
    </form>
</template>

<script>

import TheButton from "@/Components/Dashboard/UI/TheButton";
import TheInput from "@/Components/Dashboard/TheInput";

export default {
    name: "FilterComponent",
    components: {TheInput, TheButton},
    props: ['categories'],
    data() {
        return {
            form: this.$inertia.form({
                name: '',
                category_id: '',
            })
        }
    },
    methods: {
        async submit() {
            await this.form.get(this.route('dashboard.products.index'), {
                errorBag: 'form',
                preserveScroll: true
            });
        }
    },
    computed: {
        params() {
            return this.route().params;
        },
        hasParameters() {
            return !!Object.keys(this.params).length;
        }
    },
    created() {
        this.$nextTick(function () {
            this.form.name = this.params.name;
            this.form.category_id = this.params.category_id;
        })
    }
}
</script>

<style scoped>

</style>
