<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <the-button color="primary" :href="route('dashboard.products.create')">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>
        <div class="flex flex-col md:flex-row-reverse gap-4">

            <filter-component :categories="categories"/>

            <table-component :products="products" />

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TableComponent from "@/Pages/Dashboard/Catalog/Products/TableComponent";
import FilterComponent from "@/Pages/Dashboard/Catalog/Products/FilterComponent";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "Index",
    components: {TheButton, FilterComponent, TableComponent, DashboardLayout},
    props: {
        categories: Array,
        products: Array,
    }
}
</script>

<style scoped>

</style>
