<template>
    <el-scrollbar class="w-full">
        <div class="bg-white overflow-x-auto">
            <el-table :data="products" border>
                <el-table-column label="Изображение" align="center">
                    <template #default="scope">
                        <div class="flex justify-center">
                            <img class="h-20" :src="scope.row.img_path"/>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="Название"/>
                <el-table-column label="Статус">
                    <template #default="scope">
                        {{ scope.row.status ? 'Активен' : 'Отключен' }}
                    </template>
                </el-table-column>
                <el-table-column label="Действие" align="right">
                    <template #default="scope">

                        <div class="flex gap-2">
                            <span class="hover:text-primary cursor-pointer" @click="destroy(scope.row)">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            <the-link :href="route('dashboard.products.edit', scope.row.id)">
                                <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                            </the-link>
                        </div>

                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-scrollbar>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
import TheButton from "@/Components/Dashboard/UI/TheButton";

export default {
    name: "TableComponent",
    components: {TheButton, TheLink},
    props: {
        products: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({}),
        }
    },
    methods: {
        async destroy(product) {
            await this.formDestroy.delete(this.route('dashboard.products.destroy', product.id), {
                onBefore: () => confirm('Удалить продукт "' + product.name + '"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>
