<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <the-button type="button" color="primary" :href="route('dashboard.personalizations.create')">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>

        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-8 px-3 py-2 border-r">
                    Название
                </div>
                <div class="col-span-4 px-3 py-2">
                    Действие
                </div>
            </div>
            <div v-for="personalization in personalizations" class="grid grid-cols-12 border-b last:border-b-0">
                <div class="col-span-8 p-3 border-r">
                    {{ personalization.name }}
                </div>
                <div class="col-span-4 px-3 py-2">
                    <div class="flex gap-3 text-xl">
                        <span class="hover:text-primary cursor-pointer" @click="destroy(personalization)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <the-link :href="route('dashboard.personalizations.edit', personalization.id)">
                            <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                        </the-link>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "Index",
    components: {TheLink, TheButton, DashboardLayout},
    props: {
        personalizations: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async destroy(personalization) {
            await this.formDestroy.delete(this.route('dashboard.personalizations.destroy', personalization.id), {
                onBefore: () => confirm('Удалить "'+ personalization.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
