<template>
    <form-section tag="div">
        <template #title>
            Фотографии
        </template>

        <template #description>
            Загрузите фотографии и заполните данными
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Категория
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.category_id"
                    :disabled="form.processing">
                    <el-option
                        v-for="item in categories"
                        :label="item.name"
                        :value="item.id"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row>
                <template #label>
                    Фильтры
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.filters"
                    :disabled="!filters.length || form.processing"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Выберите фильтры">
                    <el-option-group
                        v-for="filter in filters"
                        :key="filter.name"
                        :label="filter.name">
                        <el-option
                            v-for="item in filter.items"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-option-group>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Превью
                </template>

                <form-load-image folder="categories"
                                 width="185"
                                 height="125"
                                 key="img"
                                 v-model="form.preview_img"
                                 :processing="form.processing"
                                 :keep="0"/>

            </form-body-row>

            <form-body-row required>
                <template #label>
                    Основное фото
                </template>

                <form-load-image folder="categories"
                                 width="900"
                                 height="600"
                                 key="img"
                                 v-model="form.origin_img"
                                 :processing="form.processing"
                                 :keep="0"/>

            </form-body-row>


        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import FormLoadImage from "@/Components/Dashboard/UI/Form/FormLoadImage";
export default {
    name: "GeneralComponent",
    components: {FormLoadImage, TheInput, FormBodyRow, FormSection},
    props: {
        form: Object,
        categories: Array,
        filters: Array,
    }
}
</script>
