<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.photos.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="photo.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>
            <general-component :form="form" :categories="categories" :filters="filters" />
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import GeneralComponent from "@/Pages/Dashboard/Catalog/Photos/ShowOrCreate/GeneralComponent";
import TheButton from "@/Components/Dashboard/UI/TheButton";

export default {
    name: "Index",
    components: {TheButton, GeneralComponent, DashboardLayout},
    props: {
        categories: {
            type: Array,
            default: []
        },
        filters: {
            type: Array,
            default: []
        },
        photo: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                category_id: this.photo.category_id ?? '',
                preview_img: this.photo.preview_img ?? '',
                origin_img: this.photo.origin_img ?? '',
                filters: []
            }),
            formDestroy: this.$inertia.form({}),
        }
    },
    methods: {
        async submit() {
            if (this.photo.id) {
                await this.form.put(this.route('dashboard.photos.update', this.photo.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.photos.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.photos.destroy', this.photo.id), {
                onBefore: () => confirm('Удалить фото?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
        getFilters(filters) {
            for (let filter of filters) {
                this.form.filters.push(filter.id);
            }
        }
    },
    created() {
        if (this.photo.filter_items && this.photo.filter_items.length) {
            this.getFilters(this.photo.filter_items);
        }
    }
}
</script>
