<template>
    <dashboard-layout>

        <update-profile-information-form :user="$page.props.user"/>

        <update-password-form/>

    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import UpdateProfileInformationForm from "@/Pages/Dashboard/Profile/UpdateProfileInformationForm";
import UpdatePasswordForm from "@/Pages/Dashboard/Profile/UpdatePasswordForm";
export default {
    name: "Index",
    components: {UpdatePasswordForm, UpdateProfileInformationForm, DashboardLayout}
}
</script>
