<template>
    <form-section @submitted="submit" :processing="form.processing" :on="form.recentlySuccessful">

        <template #title>
            Обновить пароль
        </template>

        <template #description>
            Убедитесь, что в вашей учетной записи используется длинный случайный пароль, чтобы оставаться в безопасности.
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Текущий пароль
                </template>

                <the-input
                    ref="current_password"
                    class="w-full"
                    v-model="form.current_password"
                    type="password"
                    placeholder="Текущий пароль"
                    :required="true"
                    v-model:error="form.errors.current_password"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Новый пароль
                </template>

                <the-input
                    ref="password"
                    class="w-full"
                    v-model="form.password"
                    type="password"
                    placeholder="Новый пароль"
                    :required="true"
                    v-model:error="form.errors.password"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Подтвердите пароль
                </template>

                <the-input
                    class="w-full"
                    v-model="form.password_confirmation"
                    type="password"
                    placeholder="Подтвердите пароль"
                    :required="true"
                    v-model:error="form.errors.password_confirmation"
                    :processing="form.processing"
                />
            </form-body-row>
        </template>

        <template #actions>
            <the-button
                title="Изменить пароль"
                :disabled="form.processing || !form.isDirty"
            />
        </template>

    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";

export default {
    name: "UpdatePasswordForm",
    components: {FormBodyRow, TheButton, TheInput, FormSection},
    data() {
        return {
            form: this.$inertia.form({
                current_password: '',
                password: '',
                password_confirmation: '',
            })
        }
    },
    methods: {
        submit() {
            this.form.post(route('dashboard.profile.update-password'), {
                errorBag: 'submit',
                preserveScroll: true,
                onSuccess: () => this.form.reset(),
                onError: () => {
                    if (this.form.errors.password) {
                        this.form.reset('password', 'password_confirmation')
                        this.$refs.password.focus()
                    }
                    if (this.form.errors.current_password) {
                        this.form.reset('current_password')
                        this.$refs.current_password.focus()
                    }
                }
            });
        }
    }
}
</script>
