<template>
    <form-section @submitted="submit" :processing="form.processing" :on="form.recentlySuccessful">
        <template #title>
            Информация профиля
        </template>

        <template #description>
            Обновите информацию профиля вашей учетной записи и адрес электронной почты.
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Email
                </template>

                <the-input
                    class="w-full"
                    v-model="form.email"
                    type="email"
                    autocomplete="email"
                    placeholder="Почта"
                    :required="true"
                    v-model:error="form.errors.email"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Имя
                </template>

                <the-input
                    class="w-full"
                    v-model="form.name"
                    type="text"
                    autocomplete="username"
                    placeholder="Имя"
                    :required="true"
                    v-model:error="form.errors.name"
                    :processing="form.processing"
                />
            </form-body-row>
        </template>

        <template #actions>
            <the-button
                title="Сохранить изменения"
                :disabled="form.processing || !form.isDirty"
            />
        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
export default {
    name: "UpdateProfileInformationForm",
    components: {FormBodyRow, TheButton, TheInput, FormSection},
    props: ['user'],
    data() {
        return {
            form: this.$inertia.form({
                _method: 'PUT',
                email: this.user.email,
                name: this.user.name
            })
        }
    },
    methods: {
        submit() {
            this.form.post(route('dashboard.profile.update'), {
                errorBag: 'submit',
                preserveScroll: true
            });
        }
    }
}
</script>

<style scoped>

</style>
