<template>
    <div class="px-4">
        <table class="table-fixed min-w-full divide-y divide-gray-200">
            <thead>
            <tr>
                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Номер заявки
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Телефон
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Клиент
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Источник
                </th>

            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm text-gray-500">
            <tr v-for="order in applications.data" :key="order.id">
                <td class="py-4 whitespace-nowrap">№{{ order.id }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.phone }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.name }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.information }}</td>
            </tr>
            </tbody>
        </table>

        <div class="py-2 flex items-center justify-between border-t border-gray-200">

            <pagination :links="applications.links"/>

        </div>
    </div>
</template>

<script>
import Pagination from "@/Components/Dashboard/UI/Pagination";
export default {
    name: "ApplicationsTableWithPaginate",
    components: {Pagination},
    props: ['applications']
}
</script>

<style scoped>

</style>
