<template>
    <dashboard-layout>

        <!-- ROW -->
        <div class="grid grid-cols-1 gap-4 px-4 mt-8 md:grid-cols-2 lg:grid-cols-4 sm:px-8">
            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                <div class="p-4 bg-green-400 text-white">
                    <i class="fas fa-users fa-3x"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h3 class="text-sm tracking-wider">Всего клиентов</h3>
                    <p class="text-3xl">{{ total_information.clients }}</p>
                </div>
            </div>

            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                <div class="p-4 bg-blue-400 text-white">
                    <i class="fas fa-shopping-cart fa-3x"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h3 class="text-sm tracking-wider">Всего заказов</h3>
                    <p class="text-3xl">{{ total_information.orders }}</p>
                </div>
            </div>

            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                <div class="p-4 bg-indigo-400 text-white">
                    <i class="fas fa-comment-alt fa-3x"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h3 class="text-sm tracking-wider">Всего заявок</h3>
                    <p class="text-3xl">{{ total_information.applications }}</p>
                </div>
            </div>

            <div class="flex items-center bg-white border rounded-sm overflow-hidden shadow">
                <div class="p-4 bg-red-400 text-white">
                    <i class="fas fa-box fa-3x"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h3 class="text-sm tracking-wider">Всего продуктов</h3>
                    <p class="text-3xl">{{ total_information.products }}</p>
                </div>
            </div>
        </div>

        <!-- ROW -->
        <div class="grid grid-cols-1 px-4 gap-4 mt-8 lg:grid-cols-3 sm:px-8">

            <div class="px-4 py-2 bg-white border rounded-md overflow-hidden shadow">
                <h3 class="text-xl text-gray-600 mb-4">Просмотры за 30 дней</h3>
                <apexchart type="area" :height="300"
                           :options="productViewOptions"
                           :series="productViewSeries"></apexchart>
            </div>

            <!-- Заявки -->
            <div class="bg-white border rounded-lg shadow lg:col-span-2">
                <div class="flex justify-between items-center px-4 py-2 mb-2 border-b-2 text-gray-600">
                    <h3 class="tracking-wider">Заявки</h3>
                    <the-link class="border rounded-sm bg-gray-200 px-4 py-2 text-xs hover:bg-gray-300" :href="route('dashboard.applications.index')">
                        <span class="hover:text-primary cursor-pointer">Перейти</span>
                    </the-link>
                </div>
                <applications-table-with-paginate :applications="applications" />
            </div>

        </div>
        <!-- ROW -->
        <div class="grid grid-cols-1 px-4 mt-8 sm:px-8">
            <!-- Заказы -->
            <div class="bg-white border rounded-lg shadow sm:col-span-3">
                <div class="flex justify-between items-center px-4 py-2 mb-2 border-b-2 text-gray-600">
                    <h3 class="tracking-wider">Заказы</h3>
                    <the-link class="border rounded-sm bg-gray-200 px-4 py-2 text-xs hover:bg-gray-300" :href="route('dashboard.orders.index')">
                        <span class="hover:text-primary cursor-pointer">Перейти</span>
                    </the-link>
                </div>
                <orders-table-with-paginate :orders="orders" />
            </div>
        </div>

    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import VueApexCharts from 'vue3-apexcharts'
import { TabGroup, TabList, Tab, TabPanels, TabPanel } from '@headlessui/vue'
import topAuthors from '@/Components/Dashboard/demo/topAuthors.json'
import recentSales from '@/Components/Dashboard/demo/recentSales.json'
import OrdersTableWithPaginate from "@/Pages/Dashboard/Main/OrdersTableWithPaginate";
import TheLink from "@/Components/Dashboard/TheLink";
import ApplicationsTableWithPaginate from "@/Pages/Dashboard/Main/ApplicationsTableWithPaginate";

export default {
    name: "Index",
    components: {
        ApplicationsTableWithPaginate,
        TheLink,
        OrdersTableWithPaginate,
        DashboardLayout,
        apexchart: VueApexCharts,
        TabGroup,
        TabList,
        Tab,
        TabPanels,
        TabPanel,
    },
    props: {
        orders: Object,
        applications: Object,
        product_view: Object,
        total_information: Object,
    },
    data() {
        return {
            productViewOptions: {
                chart: {
                    id: 'pageview-chart',
                    toolbar: {
                        show: false,
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                xaxis: {
                    categories: this.product_view.categories,
                },
            },
            productViewSeries: [
                {
                    name: 'Просмотров',
                    data: this.product_view.data,
                },
            ],
        }
    },
}
</script>
