<template>
    <div class="px-4">
        <table class="table-fixed min-w-full divide-y divide-gray-200">
            <thead>
            <tr>
                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Номер заказа
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Стоимость
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Клиент
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Телефон
                </th>

                <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm text-gray-500">
            <tr v-for="order in orders.data" :key="order.id">
                <td class="py-4 whitespace-nowrap">№{{ order.id }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.items_sum_sum - order.items_sum_sum_sale }}р.</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.name }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-gray-500">{{ order.phone }}</td>
                <td class="py-4 whitespace-nowrap text-sm text-blue-600">
                    <the-link :href="route('dashboard.orders.edit', order.id)">
                        <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                    </the-link>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="py-2 flex items-center justify-between border-t border-gray-200">

            <pagination :links="orders.links"/>

        </div>
    </div>
</template>

<script>
import TheLink from "@/Components/Dashboard/TheLink";
import Pagination from "@/Components/Dashboard/UI/Pagination";
export default {
    name: "OrdersTableWithPaginate",
    components: {Pagination, TheLink},
    props: ['orders']
}
</script>

<style scoped>

</style>
