<template>
    <div class="flex flex-col h-screen justify-between">
        <div>
            <the-meta/>

            <content-template>
                <the-header/>
            </content-template>

            <the-menu :general="routes.general" :catalog="routes.catalog"/>

            <slot v-if="hasCrumbs" name="crumbs"/>

            <content-template>
                <div class="grid grid-cols-12 gap-2 md:gap-4">
                    <the-left-menu :catalog="routes.catalog"
                                   class="hidden lg:block col-span-3 border border-t-0 border-gray-200"/>
                    <div class="col-span-12 px-4 lg:col-span-9 pb-6">
                        <slot/>
                    </div>
                </div>
            </content-template>

        </div>
        <the-footer :generals="routes.footer"/>
    </div>
</template>

<script>


import TheHeader from "@/Components/Guest/TheHeader";
import TheFooter from "@/Components/Guest/TheFooter";
import ContentTemplate from "@/Components/Guest/ContentTemplate";
import TheMenu from "@/Components/Guest/TheMenu";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheLeftMenu from "@/Components/Guest/TheLeftMenu";
import TheCatalog from "@/Components/Guest/TheCatalog";
import TheMeta from "@/Components/Guest/TheMeta";

import {computed} from 'vue'
import {usePage} from '@inertiajs/inertia-vue3'

export default {
    components: {TheMeta, TheCatalog, TheLeftMenu, TheCrumbs, TheMenu, ContentTemplate, TheFooter, TheHeader},
    setup() {
        const routes = computed(() => usePage().props.value.routes ?? {})
        return {routes}
    },
    computed: {
        hasCrumbs() {
            return !!this.$slots.crumbs;
        }
    },
}
</script>
