<template>
    <div class="flex flex-col h-screen justify-between">
        <div>
            <the-meta />
            <content-template>
                <the-header/>
            </content-template>

            <the-menu-detail :general="routes.general" :catalog="routes.catalog"/>

            <slot v-if="hasCrumbs" name="crumbs"/>

            <content-template>
                <div class="pb-6">
                    <slot/>
                </div>
            </content-template>
        </div>

        <the-footer :generals="routes.footer"/>
    </div>
</template>

<script>
import TheCatalog from "@/Components/Guest/TheCatalog";
import TheLeftMenu from "@/Components/Guest/TheLeftMenu";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import ContentTemplate from "@/Components/Guest/ContentTemplate";
import TheFooter from "@/Components/Guest/TheFooter";
import TheHeader from "@/Components/Guest/TheHeader";
import TheMenuDetail from "@/Components/Guest/TheMenuDetail";
import TheMeta from "@/Components/Guest/TheMeta";
import {computed} from "vue";
import {usePage} from "@inertiajs/inertia-vue3";

export default {
    name: "GuestDetail",
    components: {TheMeta, TheMenuDetail, TheCatalog, TheLeftMenu, TheCrumbs, ContentTemplate, TheFooter, TheHeader},
    setup() {
        const routes = computed(() => usePage().props.value.routes ?? {})
        return { routes }
    },
    computed: {
        hasCrumbs() {
            return !!this.$slots.crumbs;
        }
    },
}
</script>

<style scoped>

</style>
