<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <the-button type="button" color="primary" :href="route('dashboard.filters.create')">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>

        <div class="flex flex-col md:flex-row-reverse gap-4">

            <el-table :data="filters" border>

                <el-table-column prop="name" label="Название"/>

                <el-table-column prop="sort" label="Сортировка"/>

                <el-table-column label="Категория">
                    <template #default="scope">
                        {{ scope.row.category ? scope.row.category.name : '-' }}
                    </template>
                </el-table-column>

                <el-table-column label="Действие" align="right">
                    <template #default="scope">
                        <span class="hover:text-primary cursor-pointer mr-2" @click="destroy(scope.row)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <the-link :href="route('dashboard.filters.edit', scope.row.id)">
                            <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                        </the-link>
                    </template>
                </el-table-column>

            </el-table>

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheLink from "@/Components/Guest/TheLink";
import TheButton from "@/Components/Dashboard/UI/TheButton";

export default {
    name: "Index",
    components: {TheButton, TheLink, DashboardLayout},
    props: {
        filters: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async destroy(filter) {
            await this.formDestroy.delete(this.route('dashboard.filters.destroy', filter.id), {
                onBefore: () => confirm('Удалить фильтр "'+ filter.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
