/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.expand-enter-active, .expand-leave-active {
    transition: height .2s ease-in-out;
    overflow: hidden;
}

.send-reviews textarea{width: 100%;}
.send-reviews{width: 456px;}
.btn-danger{background: #f66467;}
.btn{
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    width: 150px;
    margin: 18px 0 18px;
    padding: 0;
    font-weight: 700;
    height: 48px;
}

.custom-text h2 {
    color: rgb(55 65 81);
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: rgb(0 0 0);
    border-bottom-width: 1px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.custom-text p, .custom-text td, .custom-text li {
    color: rgb(75 85 99);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.custom-text li {
    margin-left: 1.5rem;
}

.custom-text ul {
    list-style-type: disc;
}

.custom-text iframe {
    width: 100%;
    height: 300px;
}
