<template>
    <div v-if="links.length > 3">
        <div class="flex flex-wrap justify-center -mb-1">
            <template v-for="(link, i) in links" :key="i">
                <div v-if="link.url === null" class="mr-1 mb-1 px-4 py-3 text-sm leading-4 rounded-md hover:font-bold focus:font-bold"
                     v-html="link.label" />
                <the-link v-else
                          class="mr-1 mb-1 px-4 py-3 text-sm leading-4 rounded-md hover:font-bold hover:bg-mg-F2E5F5 focus:font-bold"
                          :class="{ 'font-bold': link.active }" :href="link.url" v-html="link.label" />
            </template>
        </div>
    </div>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    components: {TheLink},
    props: {
        links: Array
    },
}
</script>
