<template>
    <component :is="tag"
               :href="href"
               class=" flex
                    justify-center
                    items-center
                    py-2
                    px-3
                    m-1
                    font-medium
                    rounded-md
                    focus:outline-none
                  " :class="[classDisabled, classColor]" :type="type" :disabled="disabled">
        <template v-if="icon">{{icon}}</template>
        <template v-if="title">{{title}}</template>
        <slot/>
    </component>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {
    name: "TheButton",
    components: {Link},
    props: {
        type: {
            type: String,
            default: 'submit'
        },
        color: {
          type: String,
          default: 'default'
        },
        icon: String,
        title: String,
        disabled: {
            type: Boolean,
            default: false
        },
        active: {
            type: Boolean,
            default: false
        },
        href: String
    },
    computed: {
        tag() {
            if (this.href) {
                return 'Link';
            }
          return 'button';
        },
        classDisabled() {
            return this.disabled ? 'cursor-not-allowed opacity-50' : '';
        },
        classColor() {

            if(this.color === 'primary') {
                return this.active ?
                    'text-white bg-blue-700 hover:bg-blue-800 ring-4 ring-blue-500 hover:ring-blue-600' : 'text-white bg-blue-700 hover:bg-blue-800';
            } else if (this.color === 'success') {

            } else if (this.color === 'warning') {

            } else if (this.color === 'danger') {
                return this.active ?
                    'text-white bg-red-700 hover:bg-red-800 ring-4 ring-red-500 hover:ring-red-600' : 'text-white bg-red-700 hover:bg-red-800';
            }

            return this.active ?
                'bg-blue-600 text-white' : 'text-gray-900 bg-white border border-gray-300 hover:bg-gray-100';
        }
    }
}
</script>

<style scoped>

</style>
