<template>
    <div class="flex items-center space-x-1 text-xs">
        <template v-for="(link, i) in crumb">
            <the-link v-if="link.href" :href="link.href" class="font-bold text-indigo-700">{{ link.name }}</the-link>
            <span v-else class="text-bold text-gray-500">{{ link.name }}</span>
            <svg v-if="(i+1) !== crumb.length" xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </template>
    </div>
</template>

<script>
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheBreadcrumb",
    components: {TheLink},
    props: {
        crumb: {
            type: Array,
            default: []
        }
    }
}
</script>

<style scoped>

</style>
