<template>
    <button class="w-full
                      flex
                      justify-center
                      py-4
                      px-6
                      border border-transparent
                      font-medium
                      rounded-md
                      text-white
                      bg-indigo-600
                      hover:bg-indigo-700
                      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            :class="{ 'opacity-25': processing }" :disabled="processing">
        <template v-if="icon">{{icon}}</template>
        <template v-if="title">{{title}}</template>
    </button>
</template>

<script>
export default {
    name: "ThePrimaryButton",
    props: {
        icon: String,
        title: String,
        processing: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style scoped>

</style>
