<template>
    <form-section tag="div">
        <template #title>
            Данные клиента
        </template>

        <template #description>

        </template>

        <template #form>

            <form-body-row>
                <template #label>
                    Дата
                </template>
                <the-p>
                    {{ order.created_string }}
                </the-p>
            </form-body-row>
            <form-body-row>
                <template #label>
                    Клиента
                </template>
                <the-p>
                    {{ order.name }}
                </the-p>
            </form-body-row>
            <form-body-row>
                <template #label>
                    Телефон
                </template>
                <the-p>
                    {{ order.phone ?? 'Не указан' }}
                </the-p>
            </form-body-row>
            <form-body-row>
                <template #label>
                    Почта
                </template>
                <the-p>
                    {{ order.email ?? 'Не указана' }}
                </the-p>
            </form-body-row>
            <form-body-row>
                <template #label>
                    Способ оплаты
                </template>
                <the-p>
                    {{ order.payment_method }}
                </the-p>
            </form-body-row>
            <form-body-row>
                <template #label>
                    Выбранное место
                </template>
                <the-p>
                    {{ order.where_apply }}
                </the-p>
            </form-body-row>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheP from "@/Components/Guest/TheP";
export default {
    name: "DataComponent",
    components: {TheP, FormBodyRow, FormSection},
    props: {
        order: Object
    }
}
</script>
