<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.orders.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button v-if="order.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>
            <div class="flex">
                <the-button type="button" :active="open === 'order'" @click="switchingTabs('order')">Данные клиента</the-button>
                <the-button type="button" :active="open === 'items'" @click="switchingTabs('items')">Заказанные товары</the-button>
            </div>

            <data-component :order="order" v-show="open === 'order'" />
            <products-component :items="items" v-show="open === 'items'" />

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import DataComponent from "@/Pages/Dashboard/Sales/Orders/Show/DataComponent";
import ProductsComponent from "@/Pages/Dashboard/Sales/Orders/Show/ProductsComponent";
export default {
    name: "Index",
    components: {ProductsComponent, DataComponent, TheButton, DashboardLayout},
    props: {
        items: {
            type: Array,
            default: []
        },
        order: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            formDestroy: this.$inertia.form({}),
            open: 'order',
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.orders.destroy', this.order.id), {
                onBefore: () => confirm('Удалить "'+ this.order.full_title +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
