<template>
    <form-section tag="div">
        <template #title>
            Заказанный товар
        </template>

        <template #description>

        </template>

        <template #form>
            <div class="overflow-auto border border-b-0">
                <div class="grid grid-cols-12 border-b">
                    <div class="col-span-2 p-2 flex justify-center border-r">Изображение</div>
                    <div class="col-span-4 p-2 flex justify-center border-r">Наименование</div>
                    <div class="col-span-1 p-2 flex justify-center border-r">Кол-во</div>
                    <div class="col-span-2 p-2 flex justify-center border-r">Цена</div>
                    <div class="col-span-2 p-2 flex justify-center">Сумма</div>
                </div>
                <div class="grid grid-cols-12 border-b" v-for="item in items">
                    <div class="col-span-2 p-2 flex justify-center border-r">
                        <img :src="item.product.img_path"/>
                    </div>
                    <div class="col-span-4 p-2 flex flex-col justify-center items-center border-r">
                        <p>{{ item.name }}</p>
                        <ul class="text-sm text-gray-700">
                            <li v-if="item.detail.attributes && item.detail.attributes.length"
                                v-for="attribute in item.detail.attributes">
                                <the-point-li/>
                                {{ attribute.label }}:
                                <template v-for="cell in attribute.cells">{{ cell.value }}</template>
                                {{ attribute.price_string }}
                            </li>
                            <li v-if="item.detail.material.id">
                                <the-point-li/>
                                {{ item.detail.material.label }}: {{ item.detail.material.name }}
                            </li>
                            <li v-if="item.detail.installation.id">
                                <the-point-li/>
                                {{ item.detail.installation.label }}: {{ item.detail.installation.name }}
                                {{ item.detail.installation.price_string }}
                            </li>
                            <li v-if="item.detail.shipping.id">
                                <the-point-li/>
                                {{ item.detail.shipping.label }}: {{ item.detail.shipping.name }}
                                {{ item.detail.shipping.price_string }}
                            </li>

                            <template v-if="item.detail.personalizations && item.detail.personalizations.length"
                                      v-for="personalization in item.detail.personalizations">
                                <li v-if="personalization && personalization.id">
                                    <the-point-li/>
                                    {{ personalization.label }}:
                                    {{ personalization.full_name }}
                                </li>
                            </template>

                        </ul>
                    </div>
                    <div class="col-span-1 p-2 flex justify-center items-center border-r">
                        <div class="border-x w-10 h-10 flex items-center justify-center text-gray-500">
                            {{ item.count }}
                        </div>
                    </div>
                    <div class="col-span-2 p-2 flex justify-center items-center border-r text-xl">
                        {{ item.sum_string }}
                    </div>
                    <div class="col-span-2 p-2 flex justify-center items-center text-xl text-primary">
                        {{ item.total_string }}
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-12 flex justify-center items-center border-b">
                <div class="col-span-8"></div>
                <div class="col-span-2 flex justify-center items-center">Сумма :</div>
                <div class="col-span-2 p-2 flex justify-center items-center text-xl text-primary">
                    {{ this.total }}р
                </div>
            </div>

            <div class="grid md:grid-cols-12 flex justify-center items-center border-b">
                <div class="col-span-8"></div>
                <div class="col-span-2 flex justify-center items-center">Скидка :</div>
                <div class="col-span-2 p-2 flex justify-center items-center text-xl text-primary">
                    {{ this.total_sale }}р
                </div>
            </div>

            <div class="grid md:grid-cols-12 flex justify-center items-center border-b">
                <div class="col-span-8"></div>
                <div class="col-span-2 flex justify-center items-center">ИТОГО :</div>
                <div class="col-span-2 p-2 flex justify-center items-center font-semibold text-xl text-primary">
                    {{ this.finished }}р
                </div>
            </div>
        </template>

    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import ThePointLi from "@/Components/Guest/ThePointLi";

export default {
    name: "ProductsComponent",
    components: {ThePointLi, FormSection},
    props: {
        items: Array
    },
    data() {
        return {
            total: 0,
            total_sale: 0,
            finished: 0,
        }
    },
    methods: {
        setTotals() {
            if (this.items.length) {
                for (let item of this.items) {
                    this.total += item.total;
                    this.total_sale += item.total_sale;
                }

                this.finished = this.total-this.total_sale;
            }
        }
    },
    created() {
        this.setTotals()
    }
}
</script>

<style scoped>

</style>
