<template>
    <form-section tag="div">
        <template #title>
            Настройки категории
        </template>

        <template #description>

        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Родительская категория
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.parent_id"
                    :disabled="form.processing">
                    <el-option
                        label="Главная"
                        :value="null"
                    ></el-option>
                    <el-option
                        v-for="item in categories"
                        :label="item.name"
                        :value="item.id"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row>
                <el-checkbox v-model="form.shipping" label="Доствка" size="large" :processing="form.processing"></el-checkbox>
            </form-body-row>

            <form-body-row>
                <el-checkbox v-model="form.personalizations" label="Выбор фото и текста на памятник" size="large" :processing="form.processing"></el-checkbox>
            </form-body-row>

            <form-body-row v-if="has_filter_show">
                <el-checkbox v-model="form.filter_show"
                             label="Показать в фильтрах на странице продуктов"
                             size="large"
                             :processing="form.processing">
                </el-checkbox>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Порядок сортировки
                </template>

                <the-input
                    class="w-full"
                    v-model="form.sort"
                    type="number"
                    placeholder="0"
                    :required="true"
                    v-model:error="form.errors.sort"
                    :processing="form.processing"
                />
            </form-body-row>

        </template>
    </form-section>

</template>

<script>

import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import TheInput from "@/Components/Dashboard/TheInput";
export default {
    name: "DataComponent",
    components: {TheInput, FormSection, FormBodyRow},
    props: {
        form: Object,
        categories: Array,
        has_filter_show: Boolean
    },
}
</script>

<style scoped>

</style>
