<template>
    <form-section tag="div">
        <template #title>
            Основая информация о категории
        </template>

        <template #description>
            Внимательно напишите название заголовка и описание
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Категория
                </template>

                <the-input
                    class="w-full"
                    v-model="form.name"
                    type="text"
                    placeholder="Категория"
                    :required="true"
                    v-model:error="form.errors.name"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Заголовок страницы
                </template>

                <the-input
                    class="w-full"
                    v-model="form.title"
                    type="text"
                    placeholder="Заголовок страницы"
                    :required="true"
                    v-model:error="form.errors.title"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row>
                <template #label>
                    Описание
                </template>

                <the-editor v-model="form.about" :processing="form.processing" />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Мета-тег Title
                </template>

                <the-input
                    class="w-full"
                    v-model="form.meta_title"
                    type="text"
                    placeholder="Мета-тег Title"
                    :required="true"
                    v-model:error="form.errors.meta_title"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row>
                <template #label>
                    Мета-тег Description
                </template>

                <the-textarea
                    class="w-full"
                    v-model="form.meta_description"
                    placeholder="Мета-тег Description"
                    v-model:error="form.errors.meta_description"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row>
                <template #label>
                    Мета-тег Keywords
                </template>

                <the-textarea
                    class="w-full"
                    v-model="form.meta_keywords"
                    placeholder="Мета-тег Keywords"
                    v-model:error="form.errors.meta_keywords"
                    :processing="form.processing"
                />
            </form-body-row>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import TheEditor from "@/Components/Dashboard/TheEditor";
import TheTextarea from "@/Components/Dashboard/TheTextarea";
export default {
    name: "GeneralComponent",
    components: {TheTextarea, TheEditor, TheInput, FormBodyRow, FormSection},
    props: {
        form: Object,
    }
}
</script>

<style scoped>

</style>
