<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.categories.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="category.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>
            <div class="flex">
                <the-button type="button" :active="open === 'general'" @click="switchingTabs('general')">Основные</the-button>
                <the-button type="button" :active="open === 'data'" @click="switchingTabs('data')">Данные</the-button>
                <the-button type="button" :active="open === 'media'" @click="switchingTabs('media')">Медиа</the-button>
            </div>

            <general-component :form="form" v-show="open === 'general'" />
            <data-component :has_filter_show="category.has_filter_show" :form="form" :categories="categories" v-show="open === 'data'" />
            <media-component :form="form" v-show="open === 'media'" />

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import GeneralComponent from "@/Pages/Dashboard/Catalog/Categories/ShowOrCreate/GeneralComponent";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import DataComponent from "@/Pages/Dashboard/Catalog/Categories/ShowOrCreate/DataComponent";
import MediaComponent from "@/Pages/Dashboard/Catalog/Categories/ShowOrCreate/MediaComponent";

export default {
    name: "Index",
    components: {MediaComponent, DataComponent, TheButton, GeneralComponent, DashboardLayout},
    props: {
        categories: {
            type: Array,
            default: []
        },
        category: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                id: this.category.id ?? '',
                name: this.category.name ?? '',
                about: this.category.about ?? '',
                title: this.category.title ?? '',
                parent_id: this.category.parent_id ?? null,
                shipping: this.category.shipping ? true : false,
                personalizations: this.category.personalizations ? true : false,
                sort: this.category.sort ?? false,
                meta_title: this.category.meta_title ?? '',
                meta_description: this.category.meta_description ?? '',
                meta_keywords: this.category.meta_keywords ?? '',
                img: this.category.img ?? '',
                filter_show: this.category.filter_show ?? false,
            }),
            formDestroy: this.$inertia.form({}),
            open: 'general',
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async submit() {
            if (this.form.id) {
                await this.form.put(this.route('dashboard.categories.update', this.form.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.categories.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.categories.destroy', this.category.id), {
                onBefore: () => confirm('Удалить категорию "'+ this.category.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
