<template>
    <form-section tag="div">
        <template #title>
            Контактная информация
        </template>

        <template #description>
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Код города для телефона
                </template>

                <the-input
                    class="w-full"
                    v-model="form.phone_code"
                    type="text"
                    placeholder="+7(812)"
                    :required="true"
                    v-model:error="form.errors.phone_code"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Номер телефона
                </template>

                <the-input
                    class="w-full"
                    v-model="form.phone_number"
                    type="text"
                    placeholder="9999999"
                    :required="true"
                    v-model:error="form.errors.phone_number"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Telegram
                </template>

                <the-input
                    class="w-full"
                    v-model="form.telegram"
                    type="text"
                    placeholder="http://"
                    :required="true"
                    v-model:error="form.errors.telegram"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Viber
                </template>

                <the-input
                    class="w-full"
                    v-model="form.viber"
                    type="text"
                    placeholder=""
                    :required="true"
                    v-model:error="form.errors.viber"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Email
                </template>

                <the-input
                    class="w-full"
                    v-model="form.email"
                    type="text"
                    placeholder=""
                    :required="true"
                    v-model:error="form.errors.email"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Расписание
                </template>

                <the-input
                    class="w-full"
                    v-model="form.schedule"
                    type="text"
                    placeholder="График: 09:00 до 21:00"
                    :required="true"
                    v-model:error="form.errors.schedule"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Адрес
                </template>

                <the-input
                    class="w-full"
                    v-model="form.address"
                    type="text"
                    placeholder="Город, улица, дом"
                    :required="true"
                    v-model:error="form.errors.address"
                    :processing="form.processing"
                />
            </form-body-row>


        </template>

    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
export default {
    name: "ContactsComponent",
    components: {TheInput, FormBodyRow, FormSection},
    props: {
        form: Object
    }
}
</script>
