<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.settings.general.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
        </div>
        <div>
            <div class="flex">
                <the-button type="button" :active="open === 'contacts'" @click="switchingTabs('contacts')">Контакты</the-button>
            </div>

            <contacts-component
                :form="form"
            />

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import ContactsComponent from "@/Pages/Dashboard/Settings/General/ContactsComponent";
export default {
    name: "Index",
    components: {ContactsComponent, TheButton, DashboardLayout},
    props: {
        settings: Object,
    },
    data() {
        return {
            form: this.$inertia.form({
                ...this.settings
            }),
            open: 'contacts',
        }
    },
    methods: {
        async submit() {
            await this.form.put(this.route('dashboard.settings.general.update'), {
                errorBag: 'form',
                preserveScroll: true
            });
        },
        switchingTabs(name) {
            this.open = name
        },
    }
}
</script>

<style scoped>

</style>
