<template>
    <dashboard-layout>
        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-2 px-3 py-2 border-r">
                    Номер заявки
                </div>
                <div class="col-span-3 px-3 py-2 border-r">
                    Телефон
                </div>
                <div class="col-span-3 px-3 py-2 border-r">
                    Имя
                </div>
                <div class="col-span-4 px-3 py-2">
                    Источник
                </div>
            </div>
            <div v-for="application in applications" class="grid grid-cols-12 border-b last:border-b-0">
                <div class="col-span-2 p-3 border-r">
                    №{{ application.id }}
                </div>
                <div class="col-span-3 p-3 border-r">
                    {{ application.phone }}
                </div>
                <div class="col-span-3 p-3 border-r">
                    {{ application.name }}
                </div>
                <div class="col-span-4 p-3 border-r">
                    {{ application.information }}
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
export default {
    name: "Index",
    components: {DashboardLayout},
    props: {
        applications: Array
    }
}
</script>

<style scoped>

</style>
