<template>
    <Head>
        <title>{{ title }}</title>
    </Head>
</template>

<script>
import { Head } from '@inertiajs/inertia-vue3'
export default {
    name: "TheHead",
    components: {Head},
    props: {
        title: {
            type: String,
            default: ''
        }
    }
}
</script>

