<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <the-button type="button" color="primary" :href="route('dashboard.categories.create')">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>

        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-5 px-3 py-2 border-r">
                    Категории
                </div>
                <div class="col-span-3 px-3 py-2 border-r">
                    Порядок сортировки
                </div>
                <div class="col-span-4 px-3 py-2">
                    Действие
                </div>
            </div>
            <div v-for="category in categories" class="grid grid-cols-12 border-b last:border-b-0">
                <div class="col-span-5 p-3 border-r">
                    {{ category.name }}
                </div>
                <div class="col-span-3 p-3 border-r">
                    {{ category.sort }}
                </div>
                <div class="col-span-4 px-3 py-2">
                    <div class="flex gap-3 text-xl">
                        <span class="hover:text-primary cursor-pointer" @click="destroy(category)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <the-link :href="route('dashboard.categories.edit', category.id)">
                            <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                        </the-link>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheLink from "@/Components/Guest/TheLink";
import TheButton from "@/Components/Dashboard/UI/TheButton";

export default {
    name: "Index",
    components: {TheButton, TheLink, DashboardLayout},
    props: {
        categories: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async destroy(category) {
            await this.formDestroy.delete(this.route('dashboard.categories.destroy', category.id), {
                onBefore: () => confirm('Удалить категорию "'+ category.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
