<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <the-button type="button" color="primary" :href="route('dashboard.photos.create')">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>

        <div class="flex flex-wrap gap-4">
            <the-link v-for="photo in photos.data" :href="route('dashboard.photos.edit', photo.id)" class="flex flex-col">
                <img :src="photo.preview_img_path"/>
            </the-link>
        </div>

        <pagination :links="photos.links"/>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheLink from "@/Components/Guest/TheLink";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import Pagination from "@/Components/Dashboard/UI/Pagination";

export default {
    name: "Index",
    components: {Pagination, TheButton, TheLink, DashboardLayout},
    props: {
        photos: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({})
        }
    },
}
</script>

<style scoped>

</style>
