<template>
    <form-section tag="div">
        <template #title>
            Основая информация о категории
        </template>

        <template #description>
            Внимательно напишите название заголовка и описание
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Название
                </template>

                <the-input
                    class="w-full"
                    v-model="form.name"
                    type="text"
                    placeholder="Название"
                    :required="true"
                    v-model:error="form.errors.name"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Категория
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.category_id"
                    :disabled="form.processing">
                    <el-option
                        v-for="item in categories"
                        :label="item.name"
                        :value="item.id"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Порядок
                </template>

                <the-input
                    class="w-full"
                    v-model="form.sort"
                    type="number"
                    :required="true"
                    v-model:error="form.errors.sort"
                    :processing="form.processing"
                />
            </form-body-row>


        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
export default {
    name: "GeneralComponent",
    components: {TheInput, FormBodyRow, FormSection},
    props: {
        form: Object,
        categories: Array
    }
}
</script>
