<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.filters.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="filter.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>
            <div class="flex">
                <the-button type="button" :active="open === 'general'" @click="switchingTabs('general')">Основные данные</the-button>
                <the-button v-if="filter.id" type="button" :active="open === 'items'" @click="switchingTabs('items')">Список</the-button>
            </div>

            <general-component :form="form" :categories="categories" v-show="open === 'general'" />
            <items-component :fid="form.id" :items="filter.items" v-show="open === 'items'" />
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import GeneralComponent from "@/Pages/Dashboard/Catalog/Filters/ShowOrCreate/GeneralComponent";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import ItemsComponent from "@/Pages/Dashboard/Catalog/Filters/ShowOrCreate/ItemsComponent";

export default {
    name: "Index",
    components: {ItemsComponent, TheButton, GeneralComponent, DashboardLayout},
    props: {
        categories: {
            type: Array,
            default: []
        },
        filter: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                id: this.filter.id ?? '',
                sort: this.filter.sort ?? '',
                name: this.filter.name ?? '',
                category_id: this.filter.category_id ?? '',
            }),
            formDestroy: this.$inertia.form({}),
            open: 'general',
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async submit() {
            if (this.form.id) {
                await this.form.put(this.route('dashboard.filters.update', this.form.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.filters.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.filters.destroy', this.filter.id), {
                onBefore: () => confirm('Удалить фильтр "'+ this.filter.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>
