<template>
    <form-section tag="div">
        <template #title>
            Управления параметрами
        </template>

        <template #description>
            Управление списокм параметров фильтров
        </template>

        <template #form>

            <div class="grid gap-1 border">
                <div class="grid grid-cols-12 gap-1">
                    <div class="col-span-6 p-1 border-r font-bold">
                        Название параметра
                    </div>
                    <div class="col-span-4 p-1 font-bold">
                        Порядок сотрировки
                    </div>
                    <div class="col-span-2 p-1 border-l"></div>
                </div>

                <div class="grid grid-cols-12 gap-1 border-t" v-for="item in items">
                    <div class="col-span-6 border-r p-1">
                        <the-input
                            @keyup.enter="updateItem(item)"
                            class="w-full"
                            v-model="item.name"
                            type="text"
                            :required="true"
                            :processing="form.processing"
                        />
                    </div>
                    <div class="col-span-4 p-1">
                        <the-input
                            @keyup.enter="updateItem(item)"
                            class="w-full"
                            v-model="item.sort"
                            type="number"
                            :required="true"
                            :processing="form.processing"
                        />
                    </div>
                    <div class="col-span-2 p-1 border-l flex items-center justify-center">
                        <the-button color="danger" type="button" @click="deleteItem(item)">
                            <i class="fas fa-minus"></i>
                        </the-button>
                        <the-button color="primary" type="button" @click="updateItem(item)">
                            <i class="fas fa-sync"></i>
                        </the-button>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-1 border-t">
                    <div class="col-span-6 border-r p-1">
                        <the-input
                            @keyup.enter="storeItem"
                            class="w-full"
                            v-model="form.name"
                            type="text"
                            :required="true"
                            v-model:error="form.errors.name"
                            :processing="form.processing"
                        />
                    </div>
                    <div class="col-span-4 p-1">
                        <the-input
                            @keyup.enter="storeItem"
                            class="w-full"
                            v-model="form.sort"
                            type="number"
                            :required="true"
                            v-model:error="form.errors.sort"
                            :processing="form.processing"
                        />
                    </div>
                    <div class="col-span-2 p-1 border-l flex items-center justify-center">
                        <the-button color="primary" type="button" @click="storeItem">
                            <i class="fas fa-plus"></i>
                        </the-button>
                    </div>
                </div>
            </div>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "ItemsComponent",
    components: {TheButton, TheInput, FormBodyRow, FormSection},
    props: {
        items: Array,
        loading: false,
        fid: Number
    },
    data() {
        return {
            form: this.$inertia.form({
                id: '',
                name: '',
                sort: '',
                filter_id: this.fid,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async deleteItem(item) {
            await this.formDestroy.delete(this.route('dashboard.filters.destroy-item', item.id), {
                onBefore: () => confirm('Удалить параметр "'+ item.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
        async storeItem() {
            await this.form.post(this.route('dashboard.filters.store-item'), {
                errorBag: 'form',
                preserveScroll: true,
                onBefore: () => confirm('Создать параметр "'+ this.form.name +'"?'),
                onSuccess: () => this.form.reset(),
            });
        },
        async updateItem(item) {
            this.form.name = item.name;
            this.form.sort = item.sort;
            this.form.filter_id = this.fid;
            await this.form.put(this.route('dashboard.filters.update-item', item.id), {
                errorBag: 'form',
                preserveScroll: true,
                onBefore: () => confirm('Создать параметр "'+ item.name +'"?'),
                onSuccess: () => this.form.reset(),
            });
        },

    }
}
</script>

<style scoped>

</style>
