@import '../../../node_modules/tailwindcss/base.css';
@import '../../../node_modules/tailwindcss/components.css';
@import '../../../node_modules/tailwindcss/utilities.css';

@import 'inc/custom.css';

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800');
@import url('http://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('http://fonts.googleapis.com/css?family=Oswald');
