<template>
    <div>
        <form-section tag="div">
            <template #title>
                Шаблон атрибутов и их колонок
            </template>

            <template #description>
                Перед началом заполнения цен нужно указать
                какие атрибуты будут у продукта и какие колонки
                они будут иметь. <br>
                Колонка цены является является дефолтной!
            </template>

            <template #form>

                <div class="grid gap-1 border mt-4">
                    <div class="grid grid-cols-12 gap-1">
                        <div class="col-span-7 p-1 border-r font-bold">
                            Название Атрибута
                        </div>
                        <div class="col-span-3 p-1 font-bold">
                            Порядок сотрировки
                        </div>
                        <div class="col-span-2 p-1 border-l"></div>
                    </div>

                    <!-- Редактирует атрибуты -->
                    <div class="flex flex-col gap-1 border-t" v-for="(attribute, index) in attributes">
                        <div class="font-bold flex justify-center" v-if="index === 0">Основная</div>
                        <attributes-form-component :key="attribute.id" :pid="pid" :attribute="attribute"/>
                    </div>

                    <!-- Создаем новый атрибут -->
                    <div>
                        <the-p class="p-1 font-bold">Добавить атрибут</the-p>
                        <attributes-form-component class="bg-green-100" :pid="pid"/>
                    </div>

                </div>
            </template>
        </form-section>

        <form-section tag="div">
            <template #title>
                Заполнение
            </template>

            <template #description>
                Заполняте атрибуты данными.
            </template>

            <template #form>

                <attributes-table-component
                    class="mt-2"
                    :has_installation="has_installation"
                    :attributeTree="attributeTree" />

            </template>
        </form-section>
    </div>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import AttributesFormComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributeFormComponent";
import TheP from "@/Components/Guest/TheP";
import AttributesTableComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributesTableComponent";

export default {
    name: "AttributesComponent",
    components: {
        AttributesTableComponent,
        TheP,
        AttributesFormComponent,
        FormSection
    },
    props: {
        attributes: Array,
        attributeTree: Object,
        pid: Number,
        has_installation: Boolean,
    },
}
</script>
