<template>
    <div v-if="attributeTree.id" class="flex flex-col gap-3">

        <div class="rounded-md bg-gray-100 p-2" v-for="(row, sort) in attributeTree.rows">
            <div class="font-bold flex justify-start">
                {{ attributeTree.name }}
            </div>
            <attribute-row-form
                :has_installation="has_installation"
                :columns="attributeTree.columns"
                :aid="attributeTree.id"
                :row="row"
                :open="!!subForms[sort]"
                @open="openSubForms(sort)"
                :sort="sort"/>

            <!-- sub attributes -->
            <div class="rounded-md border p-2 m-2 flex flex-col gap-2" v-if="!!subForms[sort]">
                <sub-attribute-component
                    v-for="attribute in row.rows"
                    :has_installation="has_installation"
                    :attribute="attribute"
                    :parent_id="row.id"
                    class="border-b"/>
            </div>
        </div>


        <attribute-row-form
            class="rounded-md bg-gray-100 p-2"
            v-if="createForm"
            :has_installation="has_installation"
            :columns="attributeTree.columns"
            :aid="attributeTree.id"
            :sort="nextSort"/>

        <div class="flex justify-center">
            <the-button :color="createForm ? 'danger' : 'primary'" @click="openCreateForm">
                {{ createForm ? '-' : '+' }} {{ attributeTree.name }}
            </the-button>
        </div>

    </div>
</template>

<script>
import TheButton from "@/Components/Dashboard/UI/TheButton";
import AttributeRowForm from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributeRowForm";
import SubAttributeComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/SubAttributeComponent";

export default {
    name: "AttributesTableComponent",
    components: {SubAttributeComponent, AttributeRowForm, TheButton},
    props: {
        attributeTree: Object,
        has_installation: Boolean
    },
    data() {
        return {
            createForm: false,
            subForms: []
        }
    },
    computed: {
        nextSort() {
            return (this.attributeTree.rows && this.attributeTree.rows.length) ?
                this.attributeTree.rows.length : 0
        },
    },
    methods: {
        openCreateForm() {
            this.createForm = !this.createForm;
        },
        openSubForms(index) {
            if (this.subForms[index]) {
                this.subForms[index] = false
            } else {
                this.subForms[index] = true;
            }
        }
    }
}
</script>

<style scoped>

</style>
