<template>
    <div class="grid gap-1 grid-cols-2" :class="getGridCols">

        <el-select
            class="w-full"
            size="large"
            placeholder="Цвет фона"
            v-model="form.color"
            :disabled="form.processing">
            <el-option
                v-for="color in colors"
                :label="color.label"
                :value="color.value"
            ></el-option>
        </el-select>

        <the-input
            v-for="cell in form.cells"
            @keyup.enter="submit"
            class="w-full"
            v-model="cell.value"
            :placeholder="cell.name"
            type="text"
            :required="true"
            :processing="form.processing"/>

        <the-input
            @keyup.enter="submit"
            class="w-full"
            v-model="form.sum"
            placeholder="Сумма"
            type="number"
            :required="true"
            :processing="form.processing"/>

        <the-input
            v-show="has_installation"
            @keyup.enter="submit"
            class="w-full"
            v-model="form.up_installation"
            placeholder="Наценка на установку"
            type="number"
            :required="true"
            :processing="form.processing"/>

        <div class="flex gap-1 justify-center">
            <template v-if="row.id">
                <the-button color="danger"
                            :disabled="form.processing"
                            type="button"
                            @click="destroy">
                    <i class="fas fa-minus"></i>
                </the-button>
                <the-button color="primary"
                            type="button"
                            :disabled="!form.isDirty || form.processing"
                            @click="submit">
                    <i class="fas fa-sync"></i>
                </the-button>
                <the-button v-if="!parent_id"
                            :disabled="form.processing"
                            :color="open ? 'primary' : ''"
                            type="button"
                            @click="$emit('open')">
                    <i class="fas fa-angle-down"></i>
                </the-button>
            </template>
            <the-button v-else
                        color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>
    </div>
</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "AttributeRowForm",
    components: {TheButton, TheInput},
    props: {
        columns: {
            type: Array,
            default: []
        },
        row: {
            type: Object,
            default: {}
        },
        sort: Number,
        parent_id: Number,
        aid: Number,
        open: Boolean,
        has_installation: Boolean,
    },
    data() {
        return {
            form: this.$inertia.form({
                attribute_id: this.aid,
                parent_id: this.parent_id ?? null,
                sort: null,
                sum: this.row.sum ?? null,
                up_installation: this.row.up_installation ?? null,
                color: this.row.color ?? null,
                cells: this.getColumnValues()
            }),
            formDestroy: this.$inertia.form({}),
            colors: [
                { value:'white', label:'Белый фон' },
                { value:'gray', label:'Серый фон' },
            ],
        }
    },
    methods: {
        async submit() {
            this.form.sort = this.sort;
            if (this.row.id) {
                await this.form.put(this.route('dashboard.attribute-value.update', this.row.id), {
                    onBefore: () => confirm('Обновить?'),
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.attribute-value.store'), {
                    onBefore: () => confirm('Создать?'),
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.attribute-value.destroy', this.row.id), {
                onBefore: () => confirm('Удалить?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
        getColumnValues() {
            let values = [];
            for (let column of this.columns) {
                let cell = null;

                if (this.row.cells) {
                    cell = this.row.cells.filter(function (cell) {
                        return cell.attribute_column_id === column.id;
                    });
                    cell = cell[0];
                }

                if (!cell) {
                    cell = {
                        value: '',
                        name: column.name,
                        attribute_column_id: column.id,
                        attribute_row_id: this.row.id,
                    };
                }

                values.push(cell);
            }
            return values;
        }
    },
    computed: {
        getGridCols() {
            let count = 3 + this.columns.length;
            if (this.has_installation) count++;
            return 'md:grid-cols-'+ count;
        }
    }
}
</script>
