<template>
    <div class="col-span-4 p-1 flex gap-1 items-center">

        <div class="font-bold" v-if="!column.id">+</div>

        <the-input
            @keyup.enter="submit"
            class="w-full"
            v-model="form.name"
            type="text"
            :required="true"
            :processing="form.processing"
        />

        <template v-if="column.id">
            <the-button color="danger" :disabled="form.processing" type="button" @click="destroy">
                <i class="fas fa-minus"></i>
            </the-button>
            <the-button color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-sync"></i>
            </the-button>
        </template>

        <the-button v-else color="primary"
                    type="button"
                    :disabled="!form.isDirty || form.processing"
                    @click="submit">
            <i class="fas fa-plus"></i>
        </the-button>

    </div>
</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "AttributeColumnForm",
    components: {TheButton, TheInput},
    props: {
        column: {
            type: Object,
            default: {}
        },
        aid: Number,
        sort: Number
    },
    data() {
        return {
            form: this.$inertia.form({
                name: this.column.name ?? '',
                sort: null,
                attribute_id: this.aid,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async submit() {

            this.form.sort = this.sort;

            if (this.column.id) {
                await this.form.put(this.route('dashboard.attribute-columns.update', this.column.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.attribute-columns.store'), {
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.attribute-columns.destroy', this.column.id), {
                onBefore: () => confirm('Удалить материал "'+ this.form.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>
