<template>
    <div class="grid grid-cols-12">
        <div class="col-span-7 border-r p-1">
            <the-input
                @keyup.enter="submit"
                class="w-full"
                v-model="form.name"
                placeholder="Название Атрибута"
                type="text"
                :required="true"
                :processing="form.processing"
            />
        </div>
        <div class="col-span-3 p-1">
            <the-input
                @keyup.enter="submit"
                class="w-full"
                v-model="form.sort"
                placeholder="Порядок сотрировки"
                type="number"
                :required="true"
                :processing="form.processing"
            />
        </div>
        <div class="col-span-2 p-1 border-l flex items-center justify-center">
            <template v-if="attribute.id">
                <the-button color="danger" :disabled="form.processing" type="button" @click="destroy">
                    <i class="fas fa-minus"></i>
                </the-button>
                <the-button color="primary"
                            type="button"
                            :disabled="!form.isDirty || form.processing"
                            @click="submit">
                    <i class="fas fa-sync"></i>
                </the-button>
            </template>

            <the-button v-else color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>
    </div>

    <div class="col-span-12 p-2 ml-2 mr-2 mb-2 bg-gray-100" v-if="attribute.id">
        <form-body-row required>
            <template #label>
                Название колонок
            </template>

            <div class="grid grid-cols-12 gap-1 flex-wrap">
                <attribute-column-form
                    v-for="(column, i) in attribute.columns"
                    :key="'column_form'+i"
                    :column="column"
                    :aid="attribute.id"
                    :sort="i"/>

                <attribute-column-form
                    v-if="showColumnForm"
                    key="column_form"
                    :aid="attribute.id"
                    :sort="nextColumnSort"/>
            </div>

        </form-body-row>
    </div>

</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import AttributeColumnForm from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributeColumnForm";
export default {
    name: "AttributesFormComponent",
    components: {AttributeColumnForm, FormBodyRow, TheButton, TheInput},
    props: {
        attribute: {
            type: Object,
            default: {}
        },
        pid: Number
    },
    data() {
        return {
            form: this.$inertia.form({
                name: this.attribute.name ?? '',
                sort: this.attribute.sort ?? null,
                product_id: this.pid,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    computed: {
        nextColumnSort(){
            return (this.attribute.columns && this.attribute.columns.length) ?
                this.attribute.columns.length : 0
        },
        showColumnForm() {
            return this.attribute.columns && this.attribute.columns.length < 3;
        }
    },
    methods: {
        async submit() {
            if (this.attribute.id) {
                await this.form.put(this.route('dashboard.attributes.update', this.attribute.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.attributes.store'), {
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.attributes.destroy', this.attribute.id), {
                onBefore: () => confirm('Удалить материал "'+ this.form.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>
