<template>
    <form-section tag="div">
        <template #title>
            Важные данные о продукте
        </template>

        <template #description>
            Выберите категории и артикул и другие данные
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Артикул
                </template>

                <the-input
                    class="w-full"
                    v-model="form.art"
                    type="text"
                    placeholder="Артикул"
                    :required="true"
                    v-model:error="form.errors.art"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Категория
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    :required="true"
                    v-model="form.category_id"
                    :disabled="form.processing">
                    <el-option
                        v-for="item in categories"
                        :label="item.name"
                        :value="item.id"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row>
                <template #label>
                    Фильтры
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    v-model="form.filters"
                    :disabled="!filters.length || form.processing"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Выберите фильтры">
                    <el-option-group
                        v-for="filter in filters"
                        :key="filter.name"
                        :label="filter.name">
                        <el-option
                            v-for="item in filter.items"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                        </el-option>
                    </el-option-group>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Есть доставка
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    :required="true"
                    v-model="form.has_shipping"
                    :disabled="form.processing">
                    <el-option
                        label="C доставкой"
                        :value="true"
                    ></el-option>
                    <el-option
                        label="Без доставки"
                        :value="false"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Есть материал
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    :required="true"
                    v-model="form.has_material"
                    :disabled="form.processing">
                    <el-option
                        label="C материалом"
                        :value="true"
                    ></el-option>
                    <el-option
                        label="Без материала"
                        :value="false"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Есть установка (заполняется в отдельной вкладке)
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    :required="true"
                    v-model="form.has_installation"
                    :disabled="form.processing">
                    <el-option
                        label="C установкой"
                        :value="true"
                    ></el-option>
                    <el-option
                        label="Без установки"
                        :value="false"
                    ></el-option>
                </el-select>
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Есть персонализация
                </template>

                <el-select
                    class="w-full my-2"
                    size="large"
                    :required="true"
                    v-model="form.has_personalizations"
                    :disabled="form.processing">
                    <el-option
                        label="C персонализацией"
                        :value="true"
                    ></el-option>
                    <el-option
                        label="Без персонализации"
                        :value="false"
                    ></el-option>
                </el-select>
            </form-body-row>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
export default {
    name: "DataComponent",
    components: {TheInput, FormBodyRow, FormSection},
    props: {
        form: Object,
        categories: Array,
        filters: Array,
    },
}
</script>
