<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.products.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="product.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>

            <div class="flex">
                <the-button type="button" :active="open === 'general'" @click="switchingTabs('general')">
                    Основное
                </the-button>
                <the-button type="button" :active="open === 'data'" @click="switchingTabs('data')">
                    Данные
                </the-button>
                <the-button type="button" :active="open === 'media'" @click="switchingTabs('media')">
                    Медиа
                </the-button>
                <the-button type="button" :disabled="!product.id" :active="open === 'attributes'" @click="switchingTabs('attributes')">
                    Атрибуты
                </the-button>
                <the-button type="button" :disabled="!product.has_installation" :active="open === 'installations'" @click="switchingTabs('installations')">
                    Установка
                </the-button>
            </div>

            <general-component :form="form" v-show="open === 'general'"/>

            <data-component :form="form"
                            :categories="categories"
                            :filters="filters"
                            v-show="open === 'data'"/>

            <media-component :form="form" v-show="open === 'media'" />

            <attributes-component
                :pid="product.id"
                :attributeTree="attributeTree"
                :attributes="product.attributes"
                :has_installation="product.has_installation"
                v-show="open === 'attributes'" />

            <installations-components
                :pid="product.id"
                :installations="installations"
                v-show="open === 'installations'"/>

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import GeneralComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/GeneralComponent";
import DataComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/DataComponent";
import MediaComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/MediaComponent";
import AttributesComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributesComponent";
import InstallationsComponents from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/InstallationsComponents";

export default {
    name: "Index",
    components: {
        InstallationsComponents,
        AttributesComponent, MediaComponent, DataComponent, GeneralComponent, TheButton, DashboardLayout},
    props: {
        categories: {
            type: Array,
            default: []
        },
        filters: {
            type: Array,
            default: []
        },
        installations: {
            type: Array,
            default: []
        },
        product: {
            type: Object,
            default: {}
        },
        attributeTree: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                id: this.product.id ?? '',
                name: this.product.name ?? '',
                status: !!this.product.status,
                about: this.product.about ?? '',
                category_id: this.product.category_id ?? '',
                art: this.product.art ?? '',
                img: this.product.img ?? '',
                meta_title: this.product.meta_title ?? '',
                meta_description: this.product.meta_description ?? '',
                meta_keywords: this.product.meta_keywords ?? '',
                has_shipping: !!this.product.has_shipping,
                has_material: !!this.product.has_material,
                has_installation: !!this.product.has_installation,
                has_personalizations: !!this.product.has_personalizations,
                filters: []
            }),
            formDestroy: this.$inertia.form({}),
            open: 'general',
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async submit() {
            if (this.form.id) {
                await this.form.put(this.route('dashboard.products.update', this.form.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.products.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.products.destroy', this.product.id), {
                onBefore: () => confirm('Удалить категорию "'+ this.product.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
        getFilters(filters) {
            for (let filter of filters) {
                this.form.filters.push(filter.id);
            }
        }
    },
    created() {
        if (this.product.filter_items && this.product.filter_items.length) {
            this.getFilters(this.product.filter_items);
        }
    }
}
</script>
