<template>
    <form-section tag="div">
        <template #title>
            Установка
        </template>

        <template #description>
            Варианты установки и базовае цены,
            без наценок из атрибутов
        </template>

        <template #form>

            <div class="grid gap-1 border mt-4">
                <div class="grid grid-cols-12 gap-1">
                    <div class="col-span-8 p-1 border-r font-bold">
                        Название
                    </div>
                    <div class="col-span-1 p-1 border-r font-bold">
                        Порядок
                    </div>
                    <div class="col-span-1 p-1 font-bold">
                        Стоимость
                    </div>
                </div>

                <!-- Редактируем -->
                <div class="grid grid-cols-12 gap-1 border-t" v-for="installation in installations">
                    <installation-form :pid="pid" :installation="installation"/>
                </div>

                <!-- Создаем новый -->
                <div class="grid grid-cols-12 gap-1 border-t">
                    <installation-form :pid="pid" />
                </div>
            </div>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import InstallationForm from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/InstallationForm";
export default {
    name: "InstallationsComponents",
    components: {InstallationForm, FormSection},
    props: {
        pid: Number,
        installations: Array,
    }
}
</script>
