<template>
    <form-section tag="div">
        <template #title>
            Управление медиа
        </template>

        <template #description>
            Картинки товара
        </template>

        <template #form>

            <form-body-row required>
                <template #label>
                    Главная картинка
                </template>

                <form-load-image folder="products"
                                 width="170"
                                 height="270"
                                 key="img"
                                 v-model="form.img"
                                 :processing="form.processing"
                                 :keep="1"/>
            </form-body-row>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import FormLoadImage from "@/Components/Dashboard/UI/Form/FormLoadImage";
export default {
    name: "MediaComponent",
    components: {FormLoadImage, FormBodyRow, FormSection},
    props: {
        form: Object
    }
}
</script>

<style scoped>

</style>
