<template>
    <div class="bg-gray-50 p-2">
        <div class="font-bold flex justify-start">
            {{ attribute.name }}
        </div>

        <div class="flex flex-col gap-1">
            <attribute-row-form
                v-for="(row, sort) in attribute.rows"
                :columns="attribute.columns"
                :has_installation="has_installation"
                :aid="attribute.id"
                :row="row"
                :sort="sort"
                :parent_id="parent_id"/>
        </div>

        <attribute-row-form
            class="rounded-md bg-gray-100 p-2"
            v-if="createForm"
            :columns="attribute.columns"
            :has_installation="has_installation"
            :aid="attribute.id"
            :sort="nextSort"
            :parent_id="parent_id"/>

        <div class="flex justify-start">
            <the-button :color="createForm ? 'danger' : 'primary'" @click="openCreateForm">
                {{ createForm ? '-' : '+' }} {{ attribute.name }}
            </the-button>
        </div>

    </div>
</template>

<script>
import AttributeRowForm from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributeRowForm";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "SubAttributeComponent",
    components: {TheButton, AttributeRowForm},
    props: {
        attribute: Object,
        parent_id: Number,
        has_installation: Boolean,
    },
    data() {
        return {
            createForm: false
        }
    },
    computed: {
        nextSort(){
            return (this.attribute.rows && this.attribute.rows.length) ?
                this.attribute.rows.length : 0
        },
    },
    methods: {
        openCreateForm() {
            this.createForm = !this.createForm;
        },
    }
}
</script>
