<template>
    <guest-detail>
        <template v-if="crumbs && crumbs.length" v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <template v-if="basket.length">

            <the-h1>ВАША КОРЗИНА</the-h1>

            <div>
                <div class="overflow-auto border border-b-0">
                    <div class="min-w-[850px]">
                        <div class="grid grid-cols-12 border-b">
                            <div class="col-span-1 p-2 flex justify-center border-r"></div>
                            <div class="col-span-2 p-2 flex justify-center border-r">Изображение</div>
                            <div class="col-span-4 p-2 flex justify-center border-r">Наименование</div>
                            <div class="col-span-1 p-2 flex justify-center border-r">Кол-во</div>
                            <div class="col-span-2 p-2 flex justify-center border-r">Цена</div>
                            <div class="col-span-2 p-2 flex justify-center">Сумма</div>
                        </div>
                        <div class="grid grid-cols-12 border-b" v-for="item in basket">
                            <div class="col-span-1 p-2 flex justify-center items-center border-r">
                                <div class="flex flex-col gap-4 text-3xl text-gray-500">
                                <span class="hover:text-primary cursor-pointer" @click="destroyItem(item.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                </div>
                            </div>
                            <div class="col-span-2 p-2 flex justify-center border-r">
                                <img :src="item.product.img_path"/>
                            </div>
                            <div class="col-span-4 p-2 flex flex-col justify-center items-center border-r">
                                <p>{{ item.name }}</p>
                                <ul class="text-sm text-gray-700">
                                    <li v-if="item.detail.attributes && item.detail.attributes.length"
                                        v-for="attribute in item.detail.attributes">
                                        <template v-if="attribute.id">
                                            <the-point-li/>
                                            {{ attribute.label }}:
                                            <template v-for="cell in attribute.cells">{{ cell.value }}</template>
                                            {{ attribute.price_string }}
                                        </template>
                                    </li>
                                    <li v-if="item.detail.material.id">
                                        <the-point-li/>
                                        {{ item.detail.material.label }}: {{ item.detail.material.name }}
                                    </li>
                                    <li v-if="item.detail.installation.id">
                                        <the-point-li/>
                                        {{ item.detail.installation.label }}: {{ item.detail.installation.name }}
                                        {{ item.detail.installation.price_string }}
                                    </li>
                                    <li v-if="item.detail.shipping.id">
                                        <the-point-li/>
                                        {{ item.detail.shipping.label }}: {{ item.detail.shipping.name }}
                                        {{ item.detail.shipping.price_string }}
                                    </li>

                                    <template v-if="item.detail.personalizations && item.detail.personalizations.length"
                                              v-for="personalization in item.detail.personalizations">
                                        <li v-if="personalization && personalization.id">
                                            <the-point-li/>
                                            {{ personalization.label }}:
                                            {{ personalization.full_name }}
                                        </li>
                                    </template>

                                </ul>
                            </div>
                            <div class="col-span-1 p-2 flex justify-center items-center border-r">
                                <div>
                                    <div @click="editItem(item.id, true)"
                                         class="border flex items-center justify-center w-10 h-8 hover:bg-primary hover:text-white cursor-pointer">
                                        <span><i class="fas fa-angle-up"></i></span>
                                    </div>
                                    <div class="border-x w-10 h-10 flex items-center justify-center text-gray-500">
                                        {{ item.count }}
                                    </div>
                                    <div @click="editItem(item.id)"
                                         class="border flex items-center justify-center w-10 h-8 hover:bg-primary hover:text-white cursor-pointer">
                                        <span><i class="fas fa-angle-down"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-2 p-2 flex justify-center items-center border-r text-xl">
                                {{ item.sum_string }}
                            </div>
                            <div class="col-span-2 p-2 flex justify-center items-center text-xl text-primary">
                                {{ item.total_string }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid md:grid-cols-12 flex justify-center items-center border-b">
                    <div class="col-span-8"></div>
                    <div class="col-span-2 flex justify-center items-center">Сумма :</div>
                    <div class="col-span-2 p-2 flex justify-center items-center text-xl text-primary">
                        {{ totalSumString }}
                    </div>
                </div>
                <div v-if="discountsSum.total && discountsSum.items && discountsSum.items.length"
                     class="grid md:grid-cols-12 flex justify-center items-center border-b">
                    <div class="md:col-span-3"></div>
                    <div class="md:col-span-4 py-3 px-8 grid gap-2 flex items-center">
                        <div class="flex justify-between text-sm text-gray-900" v-for="discount in discountsSum.items">
                            <p>{{ discount.name }}</p>
                            <p class="px-2">-{{ discount.sum_string }}</p>
                        </div>
                    </div>
                    <div class="md:col-span-1"></div>
                    <div class="md:col-span-2 flex justify-center items-center">Скидка :
                        <p class="md:hidden p-2 text-xl text-primary">
                            -{{ discountsSum.total_string }}
                        </p>
                    </div>
                    <div class="md:col-span-2 p-2 justify-center items-center text-xl text-primary hidden md:flex">
                        -{{ discountsSum.total_string }}
                    </div>
                </div>
                <div class="grid md:grid-cols-12 flex justify-center items-center border-b">
                    <div class="col-span-8"></div>
                    <div class="col-span-2 flex justify-center items-center">ИТОГО :</div>
                    <div class="col-span-2 p-2 flex justify-center items-center font-semibold text-xl text-primary">
                        {{ finishedSum }}
                    </div>
                </div>
            </div>
            <the-h2>ОФОРМЛЕНИЕ ЗАКАЗА</the-h2>

            <order-form :registers="registers" :payments="payments"/>

        </template>
        <template v-else>
            <div class="my-52 text-center text-2xl text-gray-700">
                Добавте товар в корзину.
            </div>
        </template>

    </guest-detail>

</template>

<script>
import GuestDetail from "@/Layouts/Guest/GuestDetail";
import TheCrumbs from "@/Components/Guest/TheCrumbs";
import TheH1 from "@/Components/Guest/TheH1";
import ThePointLi from "@/Components/Guest/ThePointLi";
import TheH2 from "@/Components/Guest/TheH2";
import {useForm} from "@inertiajs/inertia-vue3";
import OrderForm from "@/Pages/Guest/Basket/OrderForm";

export default {
    name: "Index",
    components: {OrderForm, TheH2, ThePointLi, TheH1, TheCrumbs, GuestDetail},
    props: {
        basket: Array,
        discounts: Array,
        crumbs: Array,
        registers: Array,
        payments: Array,
    },
    setup() {
        const form = useForm();
        const formDestroy = useForm();
        return {form, formDestroy}
    },
    computed: {
        totalSum() {
            let sum = 0;
            if (this.basket.length) {
                for (let item of this.basket) {
                    sum += item.total;
                }
            }
            return sum;
        },
        totalSumString() {
            if (this.basket.length) {
                let sum = 0;
                for (let item of this.basket) {
                    sum += item.total;
                }
                return this.numberFormat(sum, 0, ',', ' ') + 'р';
            }
            return null;
        },
        discountsSum() {
            let discounts = {total: 0, total_string: '', items: []}

            if (this.discounts.length) {
                for (let discount of this.discounts) {
                    let sum = this.totalSum / 100 * discount.percent;
                    discounts.items.push({
                        name: discount.full_name,
                        sum: sum,
                        sum_string: this.numberFormat(sum, 0, ',', ' ') + 'р'
                    })

                    discounts.total += sum;
                }
                discounts.total_string = this.numberFormat(discounts.total, 0, ',', ' ') + 'р'
            }

            return discounts;
        },
        finishedSum() {
            let sum = 0;
            if (this.totalSum)
                sum += this.totalSum;

            if (this.discountsSum && this.discountsSum.total)
                sum -= this.discountsSum.total;

            return this.numberFormat(sum, 0,',', ' ') + 'р';
        },
    },
    methods: {
        numberFormat(number, decimals, decPoint, thousandsSep) {
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '')
            const n = !isFinite(+number) ? 0 : +number
            const prec = !isFinite(+decimals) ? 0 : Math.abs(decimals)
            const sep = (typeof thousandsSep === 'undefined') ? ',' : thousandsSep
            const dec = (typeof decPoint === 'undefined') ? '.' : decPoint
            let s = ''
            const toFixedFix = function (n, prec) {
                if (('' + n).indexOf('e') === -1) {
                    return +(Math.round(n + 'e+' + prec) + 'e-' + prec)
                } else {
                    const arr = ('' + n).split('e')
                    let sig = ''
                    if (+arr[1] + prec > 0) {
                        sig = '+'
                    }
                    return (+(Math.round(+arr[0] + 'e' + sig + (+arr[1] + prec)) + 'e-' + prec)).toFixed(prec)
                }
            }
            s = (prec ? toFixedFix(n, prec).toString() : '' + Math.round(n)).split('.')
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep)
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || ''
                s[1] += new Array(prec - s[1].length + 1).join('0')
            }
            return s.join(dec)
        },
        destroyItem(item_id) {
            this.formDestroy.delete(this.route('basket.destroy', item_id), {
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
        editItem(item_id, add = false) {
            let route = this.route('basket.rem-count', item_id);
            if (add)
                route = this.route('basket.add-count', item_id);

            this.form.post(route, {
                errorBag: 'form',
                preserveScroll: true
            })
        }
    }

}
</script>

<style scoped>

</style>
