<template>
    <div v-show="!success">
        <div class="grid md:grid-cols-3 gap-6">
            <div class="md:mr-6">
                <p class="text-sm text-gray-700">Ваше имя:</p>
                <input v-model="form.name" class="text-sm border px-6 py-2 w-full mb-4 focus:border-primary"/>
                <p class="text-sm text-gray-700">Телефон:</p>
                <input v-model="form.phone" class="text-sm border px-6 py-2 w-full mb-4 focus:border-primary"/>
                <p class="text-sm text-gray-700">E-mail</p>
                <input v-model="form.email" class="text-sm border px-6 py-2 w-full mb-4 focus:border-primary"/>
            </div>
            <div class="md:ml-6" v-if="registers.length">
                <p class="text-gray- 900 font-semibold">Где оформить:</p>
                <div class="m-4 grid gap-2">
                    <p class="text-gray-700 cursor-pointer"
                       v-for="register in registers"
                       :class="{'font-semibold': form.where_apply === register.name}"
                       @click="form.where_apply = register.name">
                        {{ register.name }}
                    </p>
                </div>
            </div>
            <div class="md:ml-6" v-if="payments.length">
                <p class="text-gray-900 font-semibold">Оплата:</p>
                <div class="m-4 grid gap-2">
                    <p class="text-gray-700 cursor-pointer"
                       v-for="payment in payments"
                       :class="{'font-semibold': form.payment_method === payment.name}"
                       @click="form.payment_method = payment.name">
                        {{ payment.name }}
                    </p>
                </div>
            </div>
        </div>

        <div class="md:flex items-center my-6">
            <button @click="submit"
                    :disabled="form.processing"
                    class="py-2 px-4 md:mr-8 w-full md:w-48 text-white bg-[#444] hover:bg-primary">
                Отправить заказ
            </button>
            <div class="flex gap-1 items-center">
                <p>Соглашаюсь на обработку персональных данных</p>
            </div>
        </div>
    </div>
    <div v-show="success" class="flex justify-center items-center font-bold m-4 p-2">
        Заказ успешно оформлен!
    </div>
</template>

<script>
import {useForm} from "@inertiajs/inertia-vue3";

export default {
    name: "OrderForm",
    props: {
        registers: Array,
        payments: Array,
    },
    setup(props) {
        const form = useForm({
            name: null,
            phone: '+7',
            email: null,
            where_apply: props.registers.length ? props.registers[0].name : null,
            payment_method: props.payments.length ? props.payments[0].name : null,
        });

        return {form}
    },
    data() {
        return {
            success: false
        }
    },
    methods: {
        submit() {
            this.form.post(this.route('order.store'), {
                errorBag: 'form',
                preserveScroll: true,
                onSuccess: function () {
                    this.success = true;
                    this.form.reset()
                },
            })
        },
    }
}
</script>
