<template>
    <guest-detail>
        <template v-if="crumbs && crumbs.length" v-slot:crumbs>
            <the-crumbs :crumbs="crumbs"/>
        </template>

        <div class="my-52 text-center text-2xl text-gray-700">
            Спасибо за ваш заказ. Мы свяжемся с Вами в ближайшее время!
        </div>

    </guest-detail>

</template>

<script>
import GuestDetail from "@/Layouts/Guest/GuestDetail";
import TheCrumbs from "@/Components/Guest/TheCrumbs";

export default {
    name: "Result",
    components: {TheCrumbs, GuestDetail},
    props: {
        crumbs: Array
    },

}
</script>
