<template>
    <div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
        <div class="max-w-md w-full">
            <slot/>
        </div>
    </div>
</template>

<script>
export default {
    name: "AuthLayouts"
}
</script>
