<template>
    <dashboard-layout>
        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-5 px-3 py-2 border-r">
                    Страницы
                </div>
                <div class="col-span-4 px-3 py-2">
                    Действие
                </div>
            </div>
            <div v-for="page in pages" class="grid grid-cols-12 border-b last:border-b-0">
                <div class="col-span-5 p-3 border-r">
                    {{ page.name }}
                </div>
                <div class="col-span-4 px-3 py-2">
                    <div class="flex gap-3 text-xl">
                        <the-link :href="route('dashboard.settings.pages.edit', page.slug)">
                            <span class="hover:text-primary cursor-pointer">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </the-link>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "Index",
    components: {TheLink, TheButton, DashboardLayout},
    props: {
        pages: Array
    },
}
</script>

<style scoped>

</style>
