<template>
    <dashboard-layout>
        <form-section tag="div">
            <template #title>
                Виды доставок
            </template>

            <template #description>
            </template>

            <template #form>

                <div class="grid gap-1 border mt-4">
                    <div class="grid grid-cols-12 gap-1">
                        <div class="col-span-8 p-1 border-r font-bold">
                            Название вида доставки
                        </div>
                        <div class="col-span-1 p-1 border-r font-bold">
                            Порядок
                        </div>
                        <div class="col-span-1 p-1 font-bold">
                            Стоимость
                        </div>
                    </div>

                    <!-- Редактирует атрибуты -->
                    <div class="grid grid-cols-12 gap-1 border-t" v-for="shipping in shippings">

                        <shippings-form-component :shipping="shipping"/>

                    </div>

                    <!-- Создаем новый атрибут -->
                    <div class="grid grid-cols-12 gap-1 border-t">

                        <shippings-form-component/>

                    </div>
                </div>

            </template>
        </form-section>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import ShippingsFormComponent from "@/Pages/Dashboard/Catalog/Shippings/ShippingsFormComponent";
export default {
    name: "Index",
    components: {ShippingsFormComponent, FormSection, DashboardLayout},
    props: {
        shippings: Array,
    }
}
</script>

<style scoped>

</style>
