@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Infant|EB+Garamond|Gabriela|Kelly+Slab|Lobster|Marck+Script|Open+Sans|Open+Sans+Condensed:300|Oswald|Playfair+Display|Poiret+One|Roboto|Roboto+Condensed|Roboto+Slab');

#constructor {
    display: flex;
}

#constructor .deleteBtn {
    background-color: #ffffff;
    border-radius: 50%;
    color: #1c141c;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: OpenSans-Regular, Arial, Verdana;
}

.canvas-container {
    margin: 0 auto;
}

.canvas-container .deleteBtn
{
    display: none;
}

.canvas-container .canvas-container .deleteBtn
{
    display: flex;
}

#constructor .left {
    padding: 30px 0;
    background-color: #ffffff;
    width: 730px;
    float: left;
}

#constructor .right {
    margin: 0 0px 40px 30px;
    width: 300px;
    float: left;
}

#constructor .right p
{
    margin: 20px 0px 15px !important;
    padding: 0;
    font-family: OpenSans-Bold, OpenSans-Regular, Arial, Verdana;
    font-size: 14px;
}

#constructor .right li {
    height: 60px;
    width: 25%;
    display: inline-block;
    cursor: pointer;
    padding: 2%;
    color: #e7e7e7;
    text-align: center;
    box-sizing: border-box;
    border:1px solid #1c141c
}

#constructor .right li:hover {
   border:1px solid #404040
}

#constructor .right ul.colum-1 li {
    height: 40px;
    width: 95%;
    display: inline-block;
    cursor: pointer;
    margin: 2%;
    color: #e7e7e7;
}


#constructor .right ul.colum-2 li {
    height: 40px;
    width: 45%;
    display: inline-block;
    cursor: pointer;
    margin: 2%;
    color: #e7e7e7;
}





#constructor .right li img {
    max-width: 100%;
    max-height: 100%;
}



#slide-mem {
    text-align: center;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 20px 0 60px 0;
    box-sizing: border-box;    
}

#slide-mem li {
    height: 100px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

#slide-mem li img {
    max-width: 100%;
    max-height: 100%;
}

#constructor .hide {
    display: none;
}


#constructor .righ {
    width: 300px;
}

#constructor .right ul {
    background: #1c141c;
    margin: 0px 0 0 0;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
 
#constructor .accordeon {
    background: #ffffff;
    box-shadow: 0px 0px 15px #e8e8e8;
    border-radius: 4px;
    border: 1px solid #ececec;
    padding: 10px;
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 14px;
}


#constructor .accordeon.portret{
    background: url(../../construkt-pam/img/constructor/foto.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.tablichki{
    background: url(../../construkt-pam/img/constructor/tablichki.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.mecheti{
    background: url(../../construkt-pam/img/constructor/mecheti.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.msimvol{
    background: url(../../construkt-pam/img/constructor/msimvol.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.muzor{
    background: url(../../construkt-pam/img/constructor/uzor.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.epitafiya{
    background: url(../../construkt-pam/img/constructor/epitafii.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.nadpis-izobrazhenie{
    background: url(../../construkt-pam/img/constructor/nadpis-izobrazhenie.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.hram{
    background: url(../../construkt-pam/img/constructor/hram.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.ikona{
    background: url(../../construkt-pam/img/constructor/ikona.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.angel{
    background: url(../../construkt-pam/img/constructor/angel.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.simvol{
    background: url(../../construkt-pam/img/constructor/simvolika.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.svechi{
    background: url(../../construkt-pam/img/constructor/svecha.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.krest{
    background: url(../../construkt-pam/img/constructor/krestik.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.pticy{
    background: url(../../construkt-pam/img/constructor/pticy.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.ramka{
    background: url(../../construkt-pam/img/constructor/ramka.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.vinetka{
    background: url(../../construkt-pam/img/constructor/vinetka.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.cvetok{
    background: url(../../construkt-pam/img/constructor/cvetok.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.peyzazh{
    background: url(../../construkt-pam/img/constructor/peyzazh.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.vetv{
    background: url(../../construkt-pam/img/constructor/vetvi.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.uzor{
    background: url(../../construkt-pam/img/constructor/uzor.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon.voin{
    background: url(../../construkt-pam/img/constructor/voin.svg) left center no-repeat #ffffff;
    background-size: 22px;
    background-position: 10px 50%;
    padding: 10px 10px 10px 40px;
}

#constructor .accordeon img {
    max-height: 20px;
    margin-right: 10px;
}

#constructor .addImg, #constructor .addText {
    margin-bottom: 5px;
}

#constructor .addImg .text {
    padding: 8px;
    width: 270px;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#constructor .addImg .form {
    background: #ffffff5d;
    margin: 0;
    padding: 15px; 
    box-sizing: border-box;
}

#constructor .addImg .form span {
    min-width: 100px;
}

#constructor .addImg .form p {
    font-size: 12px;
    margin-bottom: 5px;
}

#constructor .addImg .form select {
    padding: 8px;
    border: none;
    margin-bottom: 10px;
    width: 270px;
    box-sizing: border-box;
}

#download {
    text-decoration: none;
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
    margin-left: -20px;
}

#constructor .right > .button {
    width: 100%;
    background: #0c4473;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
}

#constructor .right > .button span {
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 16px;
    text-align: left;
    color: #fff;
}


#constructor .right > .button img {
    float: left;
    margin-right: 25px;
    width: 25px;
}

#constructor .right > div.button {
    width: auto;
    display: flex;
    justify-content: left;
    text-align: left;
    background: #2a77b9;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
}




#constructor .right > .button-zakaz {
    width: 100%;
    background: #ec0808;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
}

#constructor .right > .button-zakaz span {
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 16px;
    text-align: left;
    color: #fff;
}

#constructor .right > .button-zakaz img {
    float: left;
    margin-right: 25px;
    width: 25px;
}

#constructor .right > div.button-zakaz {
    width: auto;
    display: flex;
    justify-content: left;
    text-align: left;
    background: #2a77b9;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
}






.button-download
{
    width: auto;
    display: flex;
    justify-content: left;
    text-align: left;
    background: #2a77b9;
    padding: 10px 10px 10px 10px;
    border-radius: 4px; 
}

.button-download img
{
    margin-right: 25px;
    width: 25px;
}

.button-download span
{
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 16px;
}

#popup {
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    margin-top: -105px;
    background-color: #fff;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    /* border: 1px solid #c9ac75; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 55px 0px #a9a9a987;
}


#popup h2 {
    margin: 0px 0px 15px !important;
    padding: 0;
    font-family: OpenSans-Bold, OpenSans-Regular, Arial, Verdana;
    font-size: 16px;
}



#popup p {
    margin-bottom: 15px; 
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 14px;
}

#popup p input {
    margin-top: 5px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    font-family: OpenSans-Regular, Arial, Verdana;
}


#popup .button {
    width: auto;
    background: #0c4473;
    padding: 7px 10px 7px 10px;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    font-family: OpenSans-Regular, Arial, Verdana;
    color: #fff;
    font-size: 16px;
}

#popup .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup .error {
    padding: 0;
    color: #fc5a5a;
}
/* .canvas-container {} */




@media screen and (max-width: 900px) {
    #constructor {
        flex-direction: column;
        align-items: center;
    }
    
    #constructor .left {
        max-width: 503px;
    }
    
    #constructor .right {
    margin: 0 0px 40px 0px;
    width: 300px;
    float: left;
    }

    #slide-mem {
        max-width: 503px;
        margin: 20px auto;
    }
    
}



@media screen and (max-width: 650px) {

    #constructor {
        flex-direction: column;
        align-items: center;
    }
	
	#constructor {
    display: block;
    }
    
    #constructor .left {
        max-width: 240px;
		height: 356px;
    }
	
	#c
	{
    max-width: 240px !important;
    height: 356px !important;	
	}
	
	.canvas-container
	{
    max-width: 240px !important;
    height: 356px !important;	
	}
	
	.upper-canvas 
	{
    max-width: 240px !important;
    height: 356px !important;	
	}
    
    #constructor .right {
    margin: 0 0px 140px 10px;
    width: 40px;
    float: left;
    position: relative;
    }

    #slide-mem {
    max-width: 240px;
    height: 650px;
    overflow: scroll;
    margin: 20px auto;
	box-sizing: border-box;
    border: 1px solid #ccc;
    }
	
	#constructor .accordeon {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 0px;
    }
	
	#constructor .right p {
    margin: 15px 0px 15px !important;
    font-size: 0px;
    }
	
	#constructor .right ul {
    background: #1c141c;
    margin: 0px 0 0 0;
    border: 2px solid #dc3522;
    max-height: 300px;
    overflow-y: auto;
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 40px;
    z-index: 10;
    }
	

	
	.title-ul-adaptive
    {
    display: block !important;
    background: #dc3522;
    font-family: OpenSans-Regular, "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: 400;
    margin: -24 0 0 -260px;
    padding: 3px 10px;
    position: absolute;
    z-index: 9999999;
    }

	
	#constructor .accordeon.portret,
    #constructor .accordeon.tablichki,
    #constructor .accordeon.mecheti,
    #constructor .accordeon.msimvol,
    #constructor .accordeon.muzor,
    #constructor .accordeon.epitafiya,
    #constructor .accordeon.nadpis-izobrazhenie,
    #constructor .accordeon.hram,
    #constructor .accordeon.ikona,
    #constructor .accordeon.angel,
    #constructor .accordeon.simvol,
    #constructor .accordeon.svechi,
    #constructor .accordeon.krest,
    #constructor .accordeon.pticy,
    #constructor .accordeon.ramka,
    #constructor .accordeon.vinetka,
    #constructor .accordeon.cvetok,
    #constructor .accordeon.vetv,
    #constructor .accordeon.uzor,
    #constructor .accordeon.voin,
    #constructor .accordeon.peyzazhi
	{
    padding: 10px 10px 10px 30px;
    }

    .button-download {
    width: 280px;
    display: flex;
    justify-content: left;
    text-align: left;
    background: #2a77b9;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    right: 0;
    position: absolute;
    }

    #constructor .right > .button {
    width: 300px;
    background: #0c4473;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    right: 0;
    position: absolute;
    margin: 40px 0 0 0;
    }
	
    #constructor .right > .button-zakaz {
    width: 300px;
    background: #ec0808;
    padding: 10px 10px 10px 10px;
    margin: 70px 0 0 0;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    position: absolute;
    right: 0;
    }
	
    #popup {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0%;
    right: 0%;
    margin: 0px auto 0;
    background-color: #fff;
    width: 300px;
	}

}






@media screen and (max-width: 320px) {

    #constructor {
        flex-direction: column;
        align-items: center;
    }
	
	#constructor {
    display: block;
    }
    
    #constructor .left {
        max-width: 220px;
		height: 327px;
    }
	
	#c
	{
    max-width: 220px !important;
    height: 327px !important;	
	}
	
	.canvas-container
	{
    max-width: 220px !important;
    height: 327px !important;	
	}
	
	.upper-canvas 
	{
    max-width: 220px !important;
    height: 327px !important;	
	}
    
    #constructor .right {
    margin: 0 0px 140px 20px;
    width: 40px;
    float: left;
    position: relative;
    }

    #slide-mem {
    max-width: 220px;
    height: 650px;
    overflow: scroll;
    margin: 20px auto;
	box-sizing: border-box;
    border: 1px solid #ccc;
    }
	
	#constructor .accordeon {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 0px;
    }
	
	#constructor .right p {
    margin: 15px 0px 15px !important;
    font-size: 0px;
    }
	
	#constructor .right ul {
    background: #1c141c;
    margin: 0px 0 0 0;
    border: 2px solid #dc3522;
    max-height: 300px;
    overflow-y: auto;
    width: 260px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 40px;
    z-index: 10;
    }
	

	
	.title-ul-adaptive
    {
    display: block !important;
    background: #dc3522;
    font-family: OpenSans-Regular, "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: 400;
    margin: -24 0 0 -240px;
    padding: 3px 10px;
    position: absolute;
    z-index: 9999999;
    }

	
	#constructor .accordeon.portret,
    #constructor .accordeon.tablichki,
    #constructor .accordeon.mecheti,
    #constructor .accordeon.msimvol,
    #constructor .accordeon.muzor,
    #constructor .accordeon.epitafiya,
    #constructor .accordeon.nadpis-izobrazhenie,
    #constructor .accordeon.hram,
    #constructor .accordeon.ikona,
    #constructor .accordeon.angel,
    #constructor .accordeon.simvol,
    #constructor .accordeon.svechi,
    #constructor .accordeon.krest,
    #constructor .accordeon.pticy,
    #constructor .accordeon.ramka,
    #constructor .accordeon.vinetka,
    #constructor .accordeon.cvetok,
    #constructor .accordeon.vetv,
    #constructor .accordeon.uzor,
    #constructor .accordeon.voin	
	{
    padding: 10px 10px 10px 30px;
    }

    .button-download {
    width: 260px;
    display: flex;
    justify-content: left;
    text-align: left;
    background: #2a77b9;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    right: 0;
    position: absolute;
    }

    #constructor .right > .button {
    width: 280px;
    background: #0c4473;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    right: 0;
    position: absolute;
    margin: 40px 0 0 0;
    }
	
    #constructor .right > .button-zakaz {
    width: 280px;
    background: #ec0808;
    padding: 10px 10px 10px 10px;
    margin: 70px 0 0 0;
    border-radius: 4px;
    border: none;
    text-align: left;
    cursor: pointer;
    position: absolute;
    right: 0;
    }
	
    #popup {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0%;
    right: 0%;
    margin: 0px auto 0;
    background-color: #fff;
    width: 200px;
	}

}








.title-ul-adaptive
{
    display:none;
}




/* форма */


.formname input[type=checkbox] {
    display:none;
}
.formname input[type=checkbox] + label {
    display: block;
    position: relative;
    margin: 20px 0 25px 40px !important;
    cursor: pointer;
    line-height: 140%;
    color: #333333;
    font-family: OpenSans-Regular, Arial, Verdana;
    font-size: 13px;
}
.formname input[type=checkbox] + label:hover {
    color:#337AB7;
}
.formname input[type=checkbox] + label:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: -40px;
    top: 7px;
    border: 1px solid #d4d4d4;
}
.formname input[type=checkbox]:checked + label:before{
    content: '\2714';
    font-family: OpenSans-Regular, Arial, Verdana;
    color: #000000;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    border: 1px solid #16c60c;
}
.formname input[type=submit] {
    display: block;
    cursor: pointer;
    font-size: 17px;
    font-family: OpenSans-Regular, Arial, Verdana;
    padding: 10px 30px;
    border: 1px solid #275F8B;
    background: #337AB7;
    color: #000;
    transition: .4s all;
    font-weight: 400;
}
.formname input[type=submit]:hover {
    background: #275F8B;
}
.formname input[disabled] {
    opacity: .6;
    cursor: not-allowed;
}




/* дополнительная информация на странице */

.pamyatnik-vnimanie
{
    background: url(../../construkt-pam/img/constructor/vnimanie.svg) left center no-repeat #fff;
    background-size: 25px;
    background-position: 15px 50%;
    border: 1px solid #dc3522;
    border-left: 6px solid #dc3522;
    border-radius: 0px;
    max-width: 100% !important;
    margin: 40px 0;
    padding: 10px 10px 10px 60px;
    font-family: OpenSans-Regular, GothaProBol, Tahoma;
    font-size: 15px;
    color: #000;
    text-align: left;
    font-weight: 300;
    line-height: 140%;
}

p
{
    font-family: OpenSans-Regular, GothaProBol, Tahoma;
    font-size: 16px;
    color: #000;
    text-align: left;
    margin: 0px 0px 10px 0px;
    font-weight: 300;
    line-height: 140%;    
}