﻿/* CSS Document */

@font-face {
    font-family: OpenSans-Regular; /*   */
    src: url(../fonts/open_sans_regular.ttf); /*      */
   }
   
@font-face {
    font-family: OpenSans-Bold; /*   */
    src: url(../fonts/open-sans-bold.ttf); /*      */
   }

@font-face { 
  font-family: 'OpenSans-Regular'; 
  src: url('../fonts/open_sans_regular.woff2') format('woff2'), 
       url('../fonts/open_sans_regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../fonts/open_sans_regular.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
} 
  
@font-face { 
  font-family: 'OpenSans-Bold'; 
  src: url('../fonts/open-sans-bold.woff2') format('woff2'), 
       url('../fonts/open-sans-bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('../fonts/open-sans-bold.woff') format('woff'); 
  font-weight: bold; 
  font-style: normal; 
}    
   
   
   
body {
    display: block;
    margin: 0px;
}


.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.landing
{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px 0px 70px #cecece;
}

.landing h1 {
    margin: 40px 0px 60px !important;
    padding: 0;
    font-family: OpenSans-Bold, OpenSans-Regular, Arial, Verdana;
    font-size: 40px;
    text-align: center;
}

.knopka-zakaz
{
    background: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    margin: 20px auto 10px;
    font-family: OpenSans-Regular, Calibri, "Courier New", Courier, monospace;
    font-weight: 400;
    line-height: 120%;
    color: #f00;
    text-align: center;
    float: none;
    display: inline-block;
}

.knopka-zakaz:hover
{
    background: #a91717;
    color: #fff;
}

/* ползунок */


.widget-small__button
{
    width: 220px;
}

@media screen and (max-width: 480px) {

.landing h1 {
    margin: 40px 0px 60px !important;
    padding: 0;
    font-family: OpenSans-Bold, OpenSans-Regular, Arial, Verdana;
    font-size: 24px;
    text-align: center;
}

}


@media screen and (max-width: 360px) {

.landing {
    padding: 0 15px;
}

}


::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:3px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#fff; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#ec0b3b; 

background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:3px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 3px; 
}

