<template>
    <dashboard-layout>
        <form-section tag="div">

            <template #form>

                <div class="grid gap-1 border mt-4">
                    <div class="grid grid-cols-12 gap-1">
                        <div class="col-span-7 p-1 border-r font-bold">
                            Название скидки
                        </div>
                        <div class="col-span-3 p-1 font-bold">
                            Процент скидки
                        </div>
                    </div>

                    <!-- Редактирует атрибуты -->
                    <div class="grid grid-cols-12 gap-1 border-t" v-for="discount in discounts">

                        <discounts-form-component :discount="discount"/>

                    </div>

                    <!-- Создаем новый атрибут -->
                    <div class="grid grid-cols-12 gap-1 border-t">

                        <discounts-form-component/>

                    </div>
                </div>

            </template>
        </form-section>
    </dashboard-layout>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import DiscountsFormComponent from "@/Pages/Dashboard/Catalog/Discounts/DiscountsFormComponent";
export default {
    name: "Index",
    components: {DiscountsFormComponent, DashboardLayout, FormSection},
    props: {
        discounts: Array,
    }
}
</script>

<style scoped>

</style>
