<template>
    <dashboard-layout>
        <form-section tag="div">

            <template #form>

                <div class="grid gap-1 border mt-4">
                    <div class="grid grid-cols-12 gap-1">
                        <div class="col-span-10 p-1 border-r font-bold">
                            Способы оплаты
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-1 border-t" v-for="payment in payments">

                        <payments-form-component :payment="payment"/>

                    </div>

                    <div class="grid grid-cols-12 gap-1 border-t">

                        <payments-form-component/>

                    </div>
                </div>

            </template>
        </form-section>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import PaymentsFormComponent from "@/Pages/Dashboard/Catalog/Payments/PaymentsFormComponent";
export default {
    name: "Index",
    components: {PaymentsFormComponent, FormSection, DashboardLayout},
    props: {
        payments: Array,
    }
}
</script>

<style scoped>

</style>
