<template>
    <div class="col-span-10 border-r p-1">
        <the-input
            @keyup.enter="submit"
            class="w-full"
            v-model="form.name"
            type="text"
            :required="true"
            :processing="form.processing"
        />
    </div>
    <div class="col-span-2 p-1 border-l flex items-center justify-center">
        <template v-if="form.id">
            <the-button color="danger" :disabled="form.processing" type="button" @click="destroy">
                <i class="fas fa-minus"></i>
            </the-button>
            <the-button color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-sync"></i>
            </the-button>
        </template>

        <the-button v-else color="primary"
                    type="button"
                    :disabled="!form.isDirty || form.processing"
                    @click="submit">
            <i class="fas fa-plus"></i>
        </the-button>
    </div>
</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "PaymentsFormComponent",
    components: {TheButton, TheInput},
    props: {
        payment: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            form: this.$inertia.form({
                name: this.payment.name ?? '',
                id: this.payment.id,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async submit() {
            if (this.payment.id) {
                await this.form.put(this.route('dashboard.payments.update', this.payment.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.payments.store'), {
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.payments.destroy', this.payment.id), {
                onBefore: () => confirm('Удалить "'+ this.form.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
