<template>
    <dashboard-layout>
        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-2 px-3 py-2 border-r">
                    Номер заказа
                </div>
                <div class="col-span-2 px-3 py-2 border-r">
                    Стоимость
                </div>
                <div class="col-span-3 px-3 py-2">
                    Имя
                </div>
                <div class="col-span-3 px-3 py-2">
                    Телефон
                </div>
                <div class="col-span-2 px-3 py-2">
                    Действие
                </div>
            </div>
            <div v-for="order in orders" class="grid grid-cols-12 border-b last:border-b-0">
                <div class="col-span-2 p-3 border-r">
                    №{{ order.id }}
                </div>
                <div class="col-span-2 p-3 border-r">
                    {{ order.items_sum_sum - order.items_sum_sum_sale }}р.
                </div>
                <div class="col-span-3 p-3 border-r">
                    {{ order.name }}
                </div>
                <div class="col-span-3 p-3 border-r">
                    {{ order.phone }}
                </div>
                <div class="col-span-2 px-3 py-2">
                    <div class="flex gap-3">
                        <span class="hover:text-primary cursor-pointer" @click="destroy(order)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <the-link :href="route('dashboard.orders.edit', order.id)">
                            <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                        </the-link>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "Index",
    components: {TheLink, TheButton, DashboardLayout},
    props: {
        orders: Array
    },
    data() {
        return {
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async destroy(order) {
            await this.formDestroy.delete(this.route('dashboard.orders.destroy', order.id), {
                onBefore: () => confirm('Удалить заказ №"'+ order.id +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
