<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.settings.pages.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
        </div>
        <div>
            <form-section tag="div">
                <template #title>
                    Редактор страницы
                </template>

                <template #description>
                </template>

                <template #form>
                    <form-body-row required>
                        <template #label>
                            Название страницы
                        </template>

                        <the-input
                            class="w-full"
                            v-model="form.name"
                            type="text"
                            placeholder="Название страницы"
                            :required="true"
                            v-model:error="form.errors.name"
                            :processing="form.processing"
                        />
                    </form-body-row>

                    <form-body-row required>
                        <template #label>
                            Текст
                        </template>

                        <the-editor v-model="form.description"
                                    :height="700"
                                    :processing="form.processing"
                                    :required="true"
                                    v-model:error="form.errors.description"
                        />
                    </form-body-row>
                </template>
            </form-section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import TheEditor from "@/Components/Dashboard/TheEditor";
export default {
    name: "Index",
    components: {TheEditor, TheInput, FormBodyRow, FormSection, TheButton, DashboardLayout},
    props: {
        page: {
            type: Object,
            default: {}
        },
        slug: String,
    },
    data() {
        return {
            form: this.$inertia.form({
                name: this.page ? this.page.name : '',
                description: this.page ? this.page.description : '',
                slug: this.slug,
            }),
        }
    },
    methods: {
        async submit() {
            await this.form.put(this.route('dashboard.settings.pages.update', this.slug), {
                errorBag: 'form',
                preserveScroll: true
            });
        },
    }
}
</script>

<style scoped>

</style>
