<template>
    <the-dropdown :active="selected">
        <template v-slot:title>
            {{ title }}
        </template>
        <template v-slot:content>
            <the-dropdown-item
                v-for="(item, i) in items"
                :title="item.name"
                :line="i+1 !== items.length"
                :active="item.slug === this.selected_slug"
                @click="$emit('select', item.slug)"
            />
        </template>
    </the-dropdown>
</template>

<script>
import TheDropdown from "@/Components/Guest/TheDropdown";
import TheDropdownItem from "@/Components/Guest/TheDropdownItem";
export default {
    name: "TheFilterDropdown",
    components: {TheDropdownItem, TheDropdown},
    props: {
        title: String,
        selected_slug: String,
        items: Array
    },
    computed: {
        selected() {
            for (let item of this.items) {
                if (item.slug === this.selected_slug)
                    return true;
            }
            return false;
        }
    }
}
</script>

<style scoped>

</style>
