<template>
    <ClientOnly>
        <div class="md:border-b flex md:justify-between mb-6 flex-wrap gap-3">
            <div class="flex flex-wrap gap-1 md:gap-0">
                <template v-for="category in categoriesFilters">
                    <the-filter-dropdown
                        :title="category.name"
                        :items="category.childrens"
                        :selected_slug="params.children_slug"
                        @select="setCategory(category.slug, $event)"
                    />
                    <the-filter-dropdown
                        v-if="category.filters.length"
                        v-for="filter in category.filters"
                        :title="filter.name"
                        :items="filter.items"
                        :selected_slug="params.filter_slug"
                        @select="setFilter(category.slug, $event)"
                    />
                </template>
            </div>
            <div class="border-b w-full border-gray-300 md:hidden"></div>
            <div class="flex flex-wrap gap-1">
                <the-filter-button
                    v-for="sort in sortFilters"
                    :active="sort.type === params.order"
                    @click="setOrder(sort.type)">
                    {{ sort.name }}
                </the-filter-button>
            </div>
        </div>
    </ClientOnly>
</template>

<script>
import ClientOnly from '@/ClientOnly'
import TheDropdown from "@/Components/Guest/TheDropdown";
import TheFilterButton from "@/Components/Guest/Filters/TheFilterButton";
import TheDropdownItem from "@/Components/Guest/TheDropdownItem";
import {computed} from "vue";
import {usePage} from "@inertiajs/inertia-vue3";
import TheFilterDropdown from "@/Components/Guest/Filters/TheFilterDropdown";

export default {
    name: "TheFilter",
    components: {ClientOnly,TheFilterDropdown, TheDropdownItem, TheFilterButton, TheDropdown},
    setup() {
        const categoriesFilters = computed(() => usePage().props.value.filters ?? [])
        return {categoriesFilters}
    },
    data: () => ({
        sortFilters: [
            {type: 'minimal_price', name: 'По цене'},
            {type: 'art', name: 'По артикулу'},
            {type: 'popular', name: 'По популярности'},
        ],
    }),
    computed: {
        params() {
            return this.route().params;
        },
    },
    methods: {
        setCategory(category_slug, children_slug) {
            let params = this.params;
            params.category_slug = category_slug;
            params.children_slug = children_slug;
            this.$inertia.visit(this.route('catalog.category-children',params));
        },
        setFilter(category_slug, filter_slug) {
            let params = this.params;

            params.filter_slug = filter_slug;

            let path = this.route().current();

            if (!params.category_slug) {
                params.category_slug = category_slug;
                delete params.children_slug;
                path = 'catalog.category';
            }
            this.$inertia.visit(this.route(path,params));
        },
        setOrder(type) {
            let params = this.params;
            if (params.order === type) {
                params.order = null;
            } else {
                params.order = type;
            }
            this.$inertia.visit(this.route(
                this.route().current(),
                params));
        }
    },
}
</script>
