<template>
    <button class="border md:border-b-0 py-1 px-2 text-xs hover:bg-primary hover:text-white" :class="classes">
        <slot/>
        <span class="ml-1">
            <i class="fas fa-angle-down"></i>
        </span>
    </button>
</template>

<script>
export default {
    name: "TheFilterButton",
    props: {
        active: Boolean,
    },
    computed: {
        classes() {
            return this.active ?
                'bg-primary text-white' : ''
        },
    }
}
</script>

<style scoped>

</style>
