<template>
    <the-modal v-show="open" @close="$emit('close')">
        <template #header>
            <div class="text-2xl text-gray-700">
                ОБРАТНЫЙ ЗВОНОК
            </div>
        </template>

        <div class="md:mr-6" v-show="!success">
            <p class="text-sm text-gray-700">Телефон:</p>
            <input v-model="form.phone" class="text-sm border px-6 py-2 w-full mb-4 focus:border-primary"/>

            <div class="md:flex items-center my-6">
                <button @click="submit"
                        :disabled="form.processing"
                        class="py-2 px-4 md:mr-8 w-full md:w-48 text-white bg-[#444] hover:bg-primary">
                    Отправить заказ
                </button>
                <p>Соглашаюсь на обработку персональных данных</p>
            </div>

        </div>
        <div v-show="success" class="flex justify-center items-center font-bold m-4 p-2">
            Мы свяжемся в ближайшее время!
        </div>

    </the-modal>
</template>

<script>
import TheModal from "@/Components/Guest/Modals/TheModal";
import TheH2 from "@/Components/Guest/TheH2";
import {useForm} from "@inertiajs/inertia-vue3";
export default {
    name: "Callback",
    components: {TheH2, TheModal},
    props: {
        open: Boolean
    },
    setup() {
        const form = useForm({
            phone: '+7',
            information: 'ОБРАТНЫЙ ЗВОНОК'
        });

        return {form}
    },
    data() {
        return {
            success: false
        }
    },
    methods: {
        submit() {
            this.form.post(this.route('applications.store'), {
                errorBag: 'form',
                preserveScroll: true,
                onSuccess: () => {
                    this.success = true;
                    this.form.reset()
                },
            })
        },
    }
}
</script>
