<template>
    <div class="fixed z-30  inset-0 w-full h-full flex justify-center items-center">

        <div class="flex flex-col gap-2 z-50 border border-2 m-4 p-2 bg-white w-full sm:max-w-[400px] md:max-w-[500px]">

            <div class="flex gap-2 justify-between">
                <div>
                    <slot name="header"/>
                </div>
                <div class="cursor-pointer" @click="$emit('close')">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="p-2">
                <slot/>
            </div>

        </div>

        <div class="absolute z-30 inset-0 w-full h-full bg-white bg-opacity-50" @click="$emit('close')"></div>

    </div>
</template>

<script>
export default {
    name: "TheModal",
}
</script>

<style scoped>

</style>
