<template>
    <dashboard-layout>
        <form-section tag="div">
            <template #title>
                Отзывы
            </template>

            <template #description>
                Список отзывов клиентов
            </template>

            <template #form>

                <div v-for="review in reviews" class="p-2 border rounded-md flex flex-col gap-1 m-2">
                    <div class="font-bold">{{ review.name }}, {{ review.city }}</div>
                    <div>
                        <the-p>
                            {{ review.description }}
                        </the-p>

                        <the-p>
                            {{ review.created_at }}
                        </the-p>
                    </div>
                </div>

            </template>
        </form-section>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import TheP from "@/Components/Guest/TheP";

export default {
    name: "Index",
    components: {TheP, FormSection, DashboardLayout},
    props: {
        reviews: Array
    }
}
</script>

<style scoped>

</style>
