<template>
    <el-menu
        active-text-color="#ffd04b"
        background-color="#545c64"
        :default-active="defaultActive"
        text-color="#fff"
        class="el-menu-vertical-demo"
        :collapse="status"
    >

        <el-menu-item @click="status = !status" index="default">
            <el-icon>
                <i class="fas fa-bars"></i>
            </el-icon>
            <span>Панель управления</span>
        </el-menu-item>

        <el-menu-item @click="vizit('dashboard.index')" index="dashboard.index">
            <el-icon>
                <i class="fas fa-home"></i>
            </el-icon>
            <span>Главная</span>
        </el-menu-item>

        <el-sub-menu v-for="(list, index) in menu" :index="index">
            <template #title>
                <el-icon v-if="list.icon">
                    <i :class="list.icon"></i>
                </el-icon>
                <span>{{ list.title }}</span>
            </template>
            <el-menu-item-group>
                <el-menu-item v-for="(item, i) in list.items" @click="vizit(item.route)" :index="item.route">
                    {{ item.name }}
                </el-menu-item>
            </el-menu-item-group>
        </el-sub-menu>
    </el-menu>
</template>

<script>
export default {
    name: "CollapseMenu",
    data() {
        return {
            status: true,
            menu: [
                {
                    title: 'Каталог',
                    icon: 'fas fa-clipboard-list',
                    items: [
                        {name:'Категории', route: 'dashboard.categories.index' },
                        {name:'Товар', route: 'dashboard.products.index'},
                        {name:'Фильтры', route: 'dashboard.filters.index'},
                        {name:'Материалы', route: 'dashboard.materials.index'},
                        {name:'Фото работ', route: 'dashboard.photos.index'},
                    ]
                },
                {
                    title: 'Услуги',
                    icon: 'fab fa-stack-overflow',
                    items: [
                        {name:'Доставка', route: 'dashboard.shippings.index'},
                        {name:'Скидки карзины', route: 'dashboard.discounts.index'},
                        {name:'Где оформить заказ', route: 'dashboard.registers.index'},
                        {name:'Способы оплаты', route: 'dashboard.payments.index'},
                        {name:'Услуги персонализации', route: 'dashboard.personalizations.index'},
                    ]
                },
                {
                    title: 'Продажи',
                    icon:  'fas fa-shopping-cart',
                    items: [
                        {name:'Заявки', route: 'dashboard.applications.index' },
                        {name:'Заказы', route: 'dashboard.orders.index' },
                        {name:'Отзывы', route: 'dashboard.reviews.index'},
                    ]
                },
                {
                    title: 'Настройки',
                    icon: 'fas fa-cog',
                    items: [
                        {name:'Редактор страниц', route: 'dashboard.settings.pages.index' },
                        {name:'Основные', route: 'dashboard.settings.general.index' },
                    ]
                },
            ]
        }
    },
    methods: {
        vizit(route) {
            this.$inertia.visit(this.route(route));
        }
    },
    computed: {
        defaultActive() {
            return this.route().current();
        }
    }
}
</script>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
</style>
