<template>
    <div class="flex min-h-screen">

<!--        <the-sidebar v-model:sidebar="sidebar" />-->
        <collapse-menu />

        <div class="flex flex-col flex-grow bg-gray-200">

            <the-header/>

            <div class="mb-auto px-4 mt-4 sm:px-8">

                <the-meta/>

                <slot/>

            </div>

            <the-footer />
        </div>
    </div>
</template>

<script>
import TheHeader from "@/Layouts/Dashboard/TheHeader";
import TheFooter from "@/Layouts/Dashboard/TheFooter";
import TheMeta from "@/Components/Dashboard/TheMeta";
import CollapseMenu from "@/Layouts/Dashboard/CollapseMenu";
import { ElNotification } from 'element-plus'

export default {
    name: "DashboardLayout",
    components: {CollapseMenu, TheMeta, TheFooter, TheHeader},
    methods: {
        setFlash() {
            for (let type in this.flashMessages) {
                if (this.$page.props.flash[type]) {
                    ElNotification({
                        title: 'Уведомление',
                        message: this.$page.props.flash[type],
                        type: type,
                        dangerouslyUseHTMLString: true,
                    })
                }
            }
        }
    },
    computed: {
        flashMessages() {
            return this.$page.props.flash;
        }
    },
    watch: {
        flashMessages: function () {
            this.setFlash();
        }
    }
}
</script>
