<template>
    <footer class="flex justify-between mt-4 px-8 py-4 text-gray-500 border-t-2 text-xs font-bold bg-white">
        <div class="plex space-x-4">

        </div>
        <div>&copy; {{ new Date().getFullYear() }}</div>
    </footer>
</template>

<script>
export default {
    name: "TheFooter"
}
</script>

<style scoped>

</style>
