<template>
    <header class="flex justify-end py-2 bg-white border-b-2 px-4 sm:px-6">

        <el-dropdown>
            <span class="el-dropdown-link cursor-pointer">
              {{ $page.props.user.name }}
              <el-icon class="el-icon--right">
                <i class="fas fa-angle-down"></i>
              </el-icon>
            </span>
            <template #dropdown>
                <el-dropdown-menu>
                    <el-dropdown-item>
                        <the-link :href="route('catalog')" class="block px-4 py-2 text-sm text-gray-700">На главную</the-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <the-link :href="route('dashboard.profile.index')" class="block px-4 py-2 text-sm text-gray-700">Профиль</the-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <the-link as="button" class="w-full" method="post" :href="route('logout')"
                                  :class="[active ? 'bg-gray-200' : '', 'block px-4 py-2 text-sm text-gray-700']">
                            Выход
                        </the-link>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </template>
        </el-dropdown>
    </header>
</template>

<script>
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue'
import TheLink from "@/Components/Guest/TheLink";
export default {
    components: {
        TheLink,
        Menu,
        MenuButton,
        MenuItems,
        MenuItem,
    },
}
</script>
