<template>
    <aside class="min-w-[240px] bg-gray-800 fixed top-0 left-0 z-20 h-screen md:h-auto md:min-h-full overflow-y-auto md:static" :class="{'hidden':!sidebar, 'block':sidebar}">
        <div class="py-3 text-2xl uppercase text-center tracking-widest bg-gray-900 border-b-2 border-gray-800 mb-8">
            <the-link :href="route('dashboard.index')" class="text-white">Панель управления</the-link>
        </div>
        <nav class="text-sm text-gray-300">
            <ul class="flex flex-col" v-for="list in sidebar">

                <li class="px-4 py-2 text-xs uppercase tracking-wider text-gray-500 font-bold">{{ list.header }}</li>

                <li v-for="menu in list.menu">
                    <Disclosure v-slot="{ open }">
                        <DisclosureButton
                            class="px-4 py-3 flex items-center w-full hover:bg-gray-700"
                            :class="open ? 'bg-gray-700' : ''">
                            <i class="fas fa-list-alt mr-4"></i>
                            {{ menu.title }}
                            <span class="ml-auto">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-5 w-5"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    :class="open ? 'transform rotate-90' : ''">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                </svg>
                              </span>
                        </DisclosureButton>
                        <DisclosurePanel>
                            <ul>
                                <li v-for="item in menu.items" class="px-8 hover:bg-gray-700">
                                    <the-link :href="item.route" class="py-3 flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                        </svg>
                                        {{ item.name }}
                                    </the-link>
                                </li>
                            </ul>
                        </DisclosurePanel>
                    </Disclosure>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="md:hidden fixed min-h-screen w-full inset-0 z-10" v-if="sidebar" @click="$emit('update:sidebar', false)"></div>
</template>

<script>
import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'
import TheLink from "@/Components/Guest/TheLink";
export default {
    name: "TheSidebar",
    emits: ['update:sidebar'],
    components: {
        TheLink,
        Disclosure,
        DisclosureButton,
        DisclosurePanel,
    },
    props: {
        sidebar: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            sidebar: [
                {
                    header: 'Продукты',
                    menu: [
                        {
                            title: 'Каталог',
                            items: [
                                {name:'Категории', route: this.route('dashboard.categories.index') },
                                {name:'Товар', route: this.route('dashboard.products.index')},
                                {name:'Фильтры', route: ''},
                                {name:'Материалы', route: ''},
                            ]
                        },
                        {
                            title: 'Услуги',
                            items: [
                                {name:'Доставка', route: ''},
                                {name:'Скидки карзины', route: ''},
                            ]
                        }
                    ]
                }
            ]
        }
    }
}
</script>
