<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Сохранить</button>
            <button type="button" class="rounded px-4 py-2 bg-white hover:bg-gray-100">Отмена</button>
        </div>
        <div class="bg-white">
            <div class="flex flex-row gap-3 p-4">
                <div class="grid gap-2">
                    <div class="flex flex-row gap-3">
                        <div>
                            <p class="text-xs text-gray-700">Параметр</p>
                            <input class="grow border rounded px-4 py-2 w-full">
                        </div>
                        <div>
                            <p class="text-xs text-gray-700">Цена</p>
                            <input class="grow border rounded px-4 py-2 w-full">
                        </div>
                    </div>
                    <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-500">Добавить параметр</button>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
export default {
    name: "Delivery",
    components: {DashboardLayout}
}
</script>

<style scoped>

</style>
