<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Сохранить</button>
            <button type="button" class="rounded px-4 py-2 bg-white hover:bg-gray-100">Отмена</button>
        </div>
        <div class="bg-white">
            <div class="mx-2 flex pt-2">
                <div class="px-4 py-2 text-sm border-r border-t first:border-l" @click="switchingTabs('data')">Данные</div>
            </div>
            <div class="border-t" v-show="open === 'data'">
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Заголовок</div>
                    <input class="grow mx-6 border rounded px-4 py-2">
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <input type="checkbox">
                    <div class="w-1/6 text-right">Описание</div>
                    <div class="grow mx-6">
                        <editor
                            key="category_content_template"
                            v-model="description"
                            :init="init" />
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import Editor from '@tinymce/tinymce-vue';

export default {
    name: "PageEditor",
    props: ['pages'],
    components: {DashboardLayout, Editor},
    data: () => ({
        open: 'data',
        description: '',
        init:{
            height: 200,
            menubar: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
                'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
        }
    }),
    methods: {
        switchingTabs(index) {
            this.open = index
        }
    }
}
</script>

<style scoped>

</style>
