<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2">
            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white text-xl font-bold hover:bg-blue-500">
                +
            </button>
        </div>
        <div class="border bg-white">
            <div class="grid grid-cols-12 font-semibold text-sm text-gray-700 border-b">
                <div class="col-span-9 px-3 py-2 border-r">
                    Страницы
                </div>
                <div class="col-span-3 px-3 py-2">
                    Действие
                </div>
            </div>
            <div class="grid grid-cols-12 border-b last:border-b-0" v-for="page in pages">
                <div class="col-span-9 p-3 border-r">
                    Страница
                </div>
                <div class="col-span-3 px-3 py-2">
                    <div class="flex gap-3 text-xl">
                        <span class="hover:text-primary cursor-pointer">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <a :href="'/dashboard/pages/page/'+page.id">
                            <span class="hover:text-primary cursor-pointer"><i class="fas fa-pencil-alt"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";

export default {
    name: "Pages",
    props: ['pages'],
    components: {DashboardLayout}
}
</script>

<style scoped>

</style>
