<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Сохранить</button>
            <button type="button" class="rounded px-4 py-2 bg-white hover:bg-gray-100">Отмена</button>
        </div>
        <div class="bg-white">
            <div class="mx-2 flex pt-2">
                <div class="px-4 py-2 text-sm border-r border-t first:border-l" @click="switchingTabs('data')">Данные</div>
                <div class="px-4 py-2 text-sm border-r border-t first:border-l" @click="switchingTabs('categories')">Категории/Фильтры</div>
                <div class="px-4 py-2 text-sm border-r border-t first:border-l" @click="switchingTabs('price')">Размер/Цена</div>
                <div class="px-4 py-2 text-sm border-r border-t first:border-l" @click="switchingTabs('service')">Доп. услуги</div>
            </div>
            <div class="border-t" v-show="open === 'data'">
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Название товара</div>
                    <input class="grow mx-6 border rounded px-4 py-2">
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Артикул</div>
                    <input class="grow mx-6 border rounded px-4 py-2">
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Изображение</div>
                    <input class="grow mx-6 border rounded px-4 py-2">
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Изображение доп.</div>
                    <input class="grow mx-6 border rounded px-4 py-2">
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Описание</div>
                    <textarea class="grow mx-6 border rounded px-4 py-2"></textarea>
                </div>
            </div>
            <div class="border-t" v-show="open === 'categories'">
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Категория</div>
                    <select class="grow mx-6 border rounded px-4 py-2 text-sm">
                        <option></option>
                        <option>Памятники</option>
                        <option>Товары</option>
                        <option>Услуги</option>
                        <option>Гравировка</option>
                        <option>Материал</option>
                        <option>Другое</option>
                    </select>
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Подкатегория</div>
                    <select class="grow mx-6 border rounded px-4 py-2 text-sm">
                        <option></option>
                        <option>Недорогие</option>
                        <option>Вертикальные</option>
                        <option>Горизонтальные</option>
                        <option>Маленькие</option>
                        <option>Двойные</option>
                        <option>Комплексы</option>
                    </select>
                </div>
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Фильтры</div>
                    <div>
                        <select class="grow mx-6 border rounded px-4 py-2 text-sm">
                            <option></option>
                            <option>Недорогие</option>
                            <option>Вертикальные</option>
                            <option>Горизонтальные</option>
                            <option>Маленькие</option>
                            <option>Двойные</option>
                            <option>Комплексы</option>
                        </select>
                        <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white text-xl font-bold hover:bg-blue-500">+</button>
                    </div>
                </div>
            </div>
            <div class="border-t" v-show="open === 'price'">
                <div class="p-4 border-b flex items-center text-sm">
                    <div class="w-1/6 text-right">Тип размера</div>
                    <select class="grow mx-6 border rounded px-4 py-2 text-sm" v-model="openPrice">
                        <option value=""></option>
                        <option value="size">Размер</option>
                        <option value="set">Комплект</option>
                    </select>
                </div>
                <div v-show="openPrice === 'size'">
                    <div class="p-4 border-b flex items-center text-sm">
                        <div class="w-1/6 flex justify-between">
                            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Сохранить</button>
                            <div class="flex items-center">Настройка размеров</div>
                        </div>
                        <div class="grow mx-6 grid gap-2">
                            <div class="flex gap-4">
                                <div class="grid grid-cols-3 gap-4 w-full flex items-center justify-center">
                                     <div>
                                         <p>Название</p>
                                         <input class="grow border rounded px-4 py-2 w-full">
                                     </div>
                                     <div>
                                         <p>Название 1 колонки</p>
                                         <input class="grow border rounded px-4 py-2 w-full">
                                     </div>
                                     <div>
                                         <p>Название 2 колонки</p>
                                         <div class="flex items-center">
                                             <input type="checkbox">
                                             <input class="grow border rounded px-4 py-2 ml-2 w-full">
                                         </div>
                                     </div>
                                 </div>
                                <div class="grid gap-2">
                                     Установка
                                     <div class="flex gap-2"><input type="checkbox">Обычная</div>
                                     <div class="flex gap-2"><input type="checkbox">Премиум</div>
                                 </div>
                            </div>
                            <div class="p-4 border-b flex items-center">
                                <div class="w-1/6 flex justify-between">
                                    <div class="flex items-center">Настройка размеров</div>
                                </div>
                                <div class="grow mx-6 grid gap-2">
                                    <div class="grid grid-cols-3 gap-4 w-full flex items-center justify-center">
                                        <div>
                                            <p>Название</p>
                                            <input class="grow border rounded px-4 py-2 w-full">
                                        </div>
                                        <div>
                                            <p>1 колонка</p>
                                            <input class="grow border rounded px-4 py-2 w-full">
                                        </div>
                                        <div>
                                            <p>2 колонка</p>
                                            <div class="flex items-center">
                                                <input type="checkbox">
                                                <input class="grow border rounded px-4 py-2 ml-2 w-full">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid gap-2">
                                    Установка
                                    <div class="flex gap-2"><input type="checkbox">Обычная</div>
                                    <div class="flex gap-2"><input type="checkbox">Премиум</div>
                                </div>
                            </div>
                            <button type="button" class="rounded max-w-[30%] bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Добавить связанный атрибут</button>
                        </div>
                    </div>
                    <div class="p-4 border-b flex items-center text-sm">
                        <div class="w-1/6 text-right">Стелла</div>
                        <div class="grow mx-6 grid gap-2">
                            <div class="grid grid-cols-5 gap-4 w-full flex items-center justify-center">
                                <div>ВЫС Х ШИР</div>
                                <div>ТОЛЩИНА</div>
                                <div>ЦЕНА</div>
                                <div>ЦЕНА ОБЫЧНОЙ УСТАНОВКИ</div>
                                <div>ЦЕНА ПРЕМИУМ УСТАНОВКИ</div>
                            </div>
                            <div class="grid grid-cols-5 gap-4 w-full flex items-center justify-center">
                                <input class="grow border rounded px-4 py-2">
                                <input class="grow border rounded px-4 py-2">
                                <input class="grow border rounded px-4 py-2">
                                <input class="grow border rounded px-4 py-2">
                                <input class="grow border rounded px-4 py-2">
                            </div>
                            <div class="p-4 border-b flex items-center text-sm">
                                <div class="w-24 text-right">Тумба</div>
                                <div class="grow mx-6 grid gap-2">
                                    <div class="grid grid-cols-5 gap-4 w-full flex items-center justify-center">
                                        <div>ВЫС Х ШИР</div>
                                        <div>ТОЛЩИНА</div>
                                        <div>ЦЕНА</div>
                                        <div>ЦЕНА ОБЫЧНОЙ УСТАНОВКИ</div>
                                        <div>ЦЕНА ПРЕМИУМ УСТАНОВКИ</div>
                                    </div>
                                    <div class="grid grid-cols-5 gap-4 w-full flex items-center justify-center">
                                        <input class="grow border rounded px-4 py-2">
                                        <input class="grow border rounded px-4 py-2">
                                        <input class="grow border rounded px-4 py-2">
                                        <input class="grow border rounded px-4 py-2">
                                        <input class="grow border rounded px-4 py-2">
                                    </div>
                                    <button type="button" class="rounded max-w-[30%] bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Добавить размер</button>
                                </div>
                            </div>
                            <button type="button" class="rounded max-w-[30%] bg-blue-600 px-4 py-2 text-white hover:bg-blue-500">Добавить размер</button>
                        </div>
                    </div>
                </div>
                <div v-show="openPrice === 'set'" class="flex flex-col">
                    <div class="p-4 border-b flex items-center text-sm">
                        <div class="w-1/6 text-right">Комплект</div>
                        <div class="grow mx-6 grid gap-2">
                            <div class="grid grid-cols-3 gap-4 w-full flex items-center justify-center">
                                <div>
                                    <p class="text-xs text-gray-700">Тип</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                                <div>
                                    <p class="text-xs text-gray-700">Размер</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                                <div>
                                    <p class="text-xs text-gray-700">Цена</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4 w-full flex items-center justify-center">
                                <div >
                                    <p class="text-xs text-gray-700">Товар</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                                <div>
                                    <p class="text-xs text-gray-700">Характеристика</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                            </div>
                            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-500">Добавить товар</button>
                        </div>
                    </div>
                    <button type="button" class="rounded m-3 bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-500">Добавить комплект</button>
                </div>
            </div>
            <div class="border-t" v-show="open === 'service'">
                <div class="p-4 border-b flex items-center text-sm">
                    <select class="grow mx-6 border rounded px-4 py-2 text-sm max-w-[15%]" v-model="openService">
                        <option value=""></option>
                        <option value="list">Список</option>
                        <option value="parameter">Параметр</option>
                    </select>
                    <div v-show="openService === 'list'" class="flex flex-row gap-3">
                        <div>
                            <p class="text-xs text-gray-700">Услуга</p>
                            <input class="grow border rounded px-4 py-2 w-full">
                        </div>
                        <div class="grid gap-2">
                            <div class="flex flex-row gap-3">
                                <div>
                                    <p class="text-xs text-gray-700">Параметр</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                                <div>
                                    <p class="text-xs text-gray-700">Цена</p>
                                    <input class="grow border rounded px-4 py-2 w-full">
                                </div>
                            </div>
                            <button type="button" class="rounded bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-500">Добавить параметр</button>
                        </div>
                    </div>
                    <div v-show="openService === 'parameter'" class="flex flex-row gap-3">
                        <div>
                            <p class="text-xs text-gray-700">Услуга</p>
                            <input class="grow border rounded px-4 py-2 w-full">
                        </div>
                        <div>
                            <p class="text-xs text-gray-700">Цена</p>
                            <input class="grow border rounded px-4 py-2 w-full">
                        </div>
                    </div>
                </div>
                <button type="button" class="rounded m-3 bg-blue-600 px-4 py-2 text-white font-medium hover:bg-blue-500">Добавить услугу</button>
            </div>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
export default {
    name: "ProductEditor",
    components: {DashboardLayout},
    data: () => ({
        open: 'data',
        openPrice: '',
        openService: '',
    }),
    methods: {
        switchingTabs(index) {
            this.open = index
        }
    }
}
</script>

<style scoped>

</style>
