<template>
    <dashboard-layout>
        <form-section tag="div">

            <template #form>

                <div class="grid gap-1 border mt-4">
                    <div class="grid grid-cols-12 gap-1">
                        <div class="col-span-10 p-1 border-r font-bold">
                            Где оформить:
                        </div>
                    </div>

                    <!-- Редактирует атрибуты -->
                    <div class="grid grid-cols-12 gap-1 border-t" v-for="register in registers">

                        <registers-form-component :register="register"/>

                    </div>

                    <!-- Создаем новый атрибут -->
                    <div class="grid grid-cols-12 gap-1 border-t">

                        <registers-form-component/>

                    </div>
                </div>

            </template>
        </form-section>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import RegistersFormComponent from "@/Pages/Dashboard/Catalog/Registers/RegistersFormComponent";
export default {
    name: "Index",
    components: {RegistersFormComponent, FormSection, DashboardLayout},
    props: {
        registers: Array,
    }
}
</script>

<style scoped>

</style>
