<template>
    <form-section tag="div">
        <template #form>

            <form-body-row required>
                <template #label>
                    Название
                </template>

                <the-input
                    class="w-full"
                    v-model="form.name"
                    type="text"
                    placeholder="Название"
                    :required="true"
                    v-model:error="form.errors.name"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Порядок сортировки
                </template>

                <the-input
                    class="w-full"
                    v-model="form.sort"
                    type="number"
                    placeholder="Число"
                    :required="true"
                    v-model:error="form.errors.sort"
                    :processing="form.processing"
                />
            </form-body-row>

            <form-body-row required>
                <template #label>
                    Изображение
                </template>

                <form-load-image folder="personalizations"
                                 width="150"
                                 height="150"
                                 key="img"
                                 v-model="form.img"
                                 :processing="form.processing"
                                 :keep="1"/>
            </form-body-row>

            <form-body-row>
                <template #label>
                    Описание
                </template>

                <the-textarea
                    class="w-full"
                    v-model="form.description" :processing="form.processing" v-model:error="form.errors.description" />

            </form-body-row>

        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import FormBodyRow from "@/Components/Dashboard/UI/Form/FormBodyRow";
import TheInput from "@/Components/Dashboard/TheInput";
import TheEditor from "@/Components/Dashboard/TheEditor";
import FormLoadImage from "@/Components/Dashboard/UI/Form/FormLoadImage";
import TheTextarea from "@/Components/Dashboard/TheTextarea";
export default {
    name: "GeneralComponent",
    components: {TheTextarea, FormLoadImage, TheEditor, TheInput, FormBodyRow, FormSection},
    props: {
        form: Object
    }
}
</script>

<style scoped>

</style>
