<template>
    <div class="grid grid-cols-12">
        <div class="col-span-10 border-r p-1">
            <the-input
                @keyup.enter="submit"
                class="w-full"
                v-model="form.name"
                placeholder="Название группы"
                type="text"
                :required="true"
                :processing="form.processing"
            />
        </div>
        <div class="col-span-2 p-1 flex">
            <template v-if="group.id">
                <the-button color="danger" :disabled="form.processing" type="button" @click="destroy">
                    <i class="fas fa-minus"></i>
                </the-button>
                <the-button color="primary"
                            type="button"
                            :disabled="!form.isDirty || form.processing"
                            @click="submit">
                    <i class="fas fa-sync"></i>
                </the-button>
                <the-button :disabled="form.processing"
                            :color="open ? 'primary' : ''"
                            type="button"
                            @click="open = !open">
                    <i class="fas fa-angle-down"></i>
                </the-button>
            </template>

            <the-button v-else color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>
    </div>

    <template v-if="group.id">
        <div v-show="open">
            <div class="flex pl-2 flex-col gap-1">
                <item-form-component class="border-t" v-for="item in group.items"
                                     :pid="group.id"
                                     :item="item" :key="'item'+item.id"/>

                <item-form-component class="border-t bg-green-100" :pid="group.id"/>
            </div>

        </div>
    </template>
</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import TheP from "@/Components/Guest/TheP";
import ItemFormComponent from "@/Pages/Dashboard/Catalog/Personalizations/ShowOrCreate/ItemFormComponent";
export default {
    name: "GroupItemFormComponent",
    components: {ItemFormComponent, TheP, TheButton, TheInput},
    props: {
        group: {
            type: Object,
            default: {}
        },
        pid: Number
    },
    data() {
        return {
            open: false,
            form: this.$inertia.form({
                name: this.group.name ?? '',
                personalization_id: this.pid,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async submit() {
            if (this.group.id) {
                await this.form.put(this.route('dashboard.personalization-group.update', this.group.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.personalization-group.store'), {
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.personalization-group.destroy', this.group.id), {
                onBefore: () => confirm('Удалить материал "'+ this.form.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
