<template>
    <dashboard-layout>
        <div class="w-full flex justify-end my-2 gap-4">
            <the-button type="button" :href="route('dashboard.personalizations.index')">
                <i class="fas fa-reply"></i>
            </the-button>
            <the-button type="button" color="primary" :disabled="!form.isDirty" @click="submit">
                <i class="fas fa-save"></i>
            </the-button>
            <the-button v-if="personalization.id" type="button" color="danger" @click="destroy">
                <i class="fas fa-trash-alt"></i>
            </the-button>
        </div>
        <div>

            <div class="flex">
                <the-button type="button" :active="open === 'general'" @click="switchingTabs('general')">
                    Основное
                </the-button>
                <the-button type="button" :disabled="!personalization.id" :active="open === 'items'" @click="switchingTabs('items')">
                    Цена
                </the-button>
            </div>

            <general-component :form="form" v-show="open === 'general'"/>

            <items-component
                v-if="personalization.id"
                :pid="personalization.id"
                :groups="personalization.groups"
                v-show="open === 'items'" />

        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from "@/Layouts/Dashboard/DashboardLayout";
import TheButton from "@/Components/Dashboard/UI/TheButton";
import GeneralComponent from "@/Pages/Dashboard/Catalog/Personalizations/ShowOrCreate/GeneralComponent";
import ItemsComponent from "@/Pages/Dashboard/Catalog/Personalizations/ShowOrCreate/ItemsComponent";
export default {
    name: "Index",
    components: {ItemsComponent, GeneralComponent, TheButton, DashboardLayout},
    props: {
        personalization: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            form: this.$inertia.form({
                id: this.personalization.id ?? '',
                name: this.personalization.name ?? '',
                description: this.personalization.description ?? '',
                img: this.personalization.img ?? '',
                sort: this.personalization.sort ?? null,
            }),
            formDestroy: this.$inertia.form({}),
            open: 'general',
        }
    },
    methods: {
        switchingTabs(name) {
            this.open = name
        },
        async submit() {
            if (this.form.id) {
                await this.form.put(this.route('dashboard.personalizations.update', this.form.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.personalizations.store'), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.personalizations.destroy', this.personalization.id), {
                onBefore: () => confirm('Удалить "'+ this.personalization.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
