<template>
    <div class="grid grid-cols-12">
        <div class="col-span-5 border-r p-1">
            <the-input
                @keyup.enter="submit"
                class="w-full"
                v-model="form.name"
                placeholder="Название позиции"
                type="text"
                :required="true"
                :processing="form.processing"
            />
        </div>
        <div class="col-span-5 border-r p-1">
            <the-input
                @keyup.enter="submit"
                class="w-full"
                v-model="form.sum"
                placeholder="Цена позиции"
                type="number"
                :required="true"
                :processing="form.processing"
            />
        </div>

        <div class="col-span-2 p-1 flex">
            <template v-if="item.id">
                <the-button color="danger" :disabled="form.processing" type="button" @click="destroy">
                    <i class="fas fa-minus"></i>
                </the-button>
                <the-button color="primary"
                            type="button"
                            :disabled="!form.isDirty || form.processing"
                            @click="submit">
                    <i class="fas fa-sync"></i>
                </the-button>
            </template>

            <the-button v-else color="primary"
                        type="button"
                        :disabled="!form.isDirty || form.processing"
                        @click="submit">
                <i class="fas fa-plus"></i>
            </the-button>
        </div>

    </div>
</template>

<script>
import TheInput from "@/Components/Dashboard/TheInput";
import TheButton from "@/Components/Dashboard/UI/TheButton";
export default {
    name: "ItemFormComponent",
    components: {TheButton, TheInput},
    props: {
        item: {
            type: Object,
            default: {}
        },
        pid: Number
    },
    data() {
        return {
            open: false,
            form: this.$inertia.form({
                name: this.item.name ?? '',
                sum: this.item.sum ?? null,
                personalization_group_id: this.pid,
            }),
            formDestroy: this.$inertia.form({})
        }
    },
    methods: {
        async submit() {
            if (this.item.id) {
                await this.form.put(this.route('dashboard.personalization-item.update', this.item.id), {
                    errorBag: 'form',
                    preserveScroll: true
                });
            } else {
                await this.form.post(this.route('dashboard.personalization-item.store'), {
                    errorBag: 'form',
                    preserveScroll: true,
                    onSuccess: () => this.form.reset(),
                });
            }
        },
        async destroy() {
            await this.formDestroy.delete(this.route('dashboard.personalization-item.destroy', this.item.id), {
                onBefore: () => confirm('Удалить материал "'+ this.form.name +'"?'),
                errorBag: 'formDestroy',
                preserveScroll: true
            })
        },
    }
}
</script>

<style scoped>

</style>
