<template>
    <form-section tag="div">
        <template #title>
            Варианты и цены персонализации
        </template>

        <template #description>
            Варианты и цены персонализации
        </template>

        <template #form>

            <div class="grid gap-1 border mt-4">
                <div class="grid grid-cols-12 gap-1">
                    <div class="col-span-11 p-1 border-r font-bold">
                        Название
                    </div>
                    <div class="col-span-11 p-1 border-l"></div>
                </div>

                <!-- Редактирует группу позиций -->
                <div class="flex flex-col gap-1 border-t" v-for="group in groups">

                    <group-item-form-component
                        :key="group.id"
                        :pid="pid"
                        :group="group"
                    />

                </div>

                <!-- Создаем новый группу позиций -->
                <div>
                    <the-p class="p-1 font-bold">Добавить группу позиций</the-p>
                    <group-item-form-component class="bg-green-100" :pid="pid"/>
                </div>

            </div>
        </template>
    </form-section>
</template>

<script>
import FormSection from "@/Components/Dashboard/UI/Form/FormSection";
import AttributesFormComponent from "@/Pages/Dashboard/Catalog/Products/ShowOrCreate/AttributeFormComponent";
import TheP from "@/Components/Guest/TheP";
import GroupItemFormComponent from "@/Pages/Dashboard/Catalog/Personalizations/ShowOrCreate/GroupItemFormComponent";
export default {
    name: "ItemsComponent",
    components: {GroupItemFormComponent, TheP, AttributesFormComponent, FormSection},
    props: {
        pid: Number,
        groups: Array
    }
}
</script>

<style scoped>

</style>
