<template>
    <the-head title="Забыли свой пароль" />
    <auth-layouts>
        <p class="text-center text-sm font-bold text-gray-800 mb-6">
            Забыли свой пароль? Без проблем. Просто сообщите нам свой адрес электронной почты, и мы вышлем вам по электронной почте ссылку для сброса пароля, которая позволит вам выбрать новый.
        </p>

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form class="space-y-4" @submit.prevent="submit">

            <the-input
                v-model="form.email"
                icon="far fa-envelope"
                type="email"
                autocomplete="email"
                placeholder="Почта"
                :required="true"
                v-model:error="form.errors.email"
                :processing="form.processing"
            />

            <div>
                <the-primary-button
                    type="submit"
                    title="Отправить ссылку"
                    :processing="form.processing"
                />
            </div>
        </form>
    </auth-layouts>
</template>

<script>
import AuthLayouts from "@/Layouts/Auth/AuthLayouts";
import ThePrimaryButton from "@/Components/Dashboard/UI/ThePrimaryButton";
import TheInput from "@/Components/Dashboard/TheInput";
import TheLink from "@/Components/Dashboard/TheLink";
import TheHeader from "@/Components/Guest/TheHeader";
import TheHead from "@/Components/TheHead";
export default {
    name: "ForgotPassword",
    props: {
        status: String
    },
    components: {TheHead, TheHeader, TheLink, TheInput, ThePrimaryButton, AuthLayouts,},
    data() {
        return {
            form: this.$inertia.form({
                email: '',
            })
        }
    },
    methods: {
        submit() {
            this.form.post(this.route('password.email'))
        }
    }
}
</script>
