<template>
    <the-head title="Вход" />
    <auth-layouts>
        <h2 class="text-center text-2xl font-bold text-gray-800 mb-6">Вход</h2>

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form class="space-y-4" @submit.prevent="submit">

            <the-input
                v-model="form.email"
                icon="far fa-envelope"
                type="email"
                autocomplete="email"
                placeholder="Почта"
                :required="true"
                v-model:error="form.errors.email"
                :processing="form.processing"
            />

            <the-input
                v-model="form.password"
                icon="fas fa-lock"
                type="password"
                placeholder="Пароль"
                :required="true"
                v-model:error="form.errors.password"
                :processing="form.processing"
            />

            <div class="flex items-center justify-between">

                <the-checkbox
                    id="remember"
                    v-model="form.remember"
                    label="Заполнить"
                    :processing="form.processing"
                />

                <div class="text-sm">
                    <the-link :href="route('password.request')" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Забыли пароль?
                    </the-link>
                </div>
            </div>

            <div>
                <the-primary-button
                    type="submit"
                    title="Вход"
                    :processing="form.processing"
                />
            </div>
        </form>
    </auth-layouts>
</template>

<script>
import AuthLayouts from "@/Layouts/Auth/AuthLayouts";
import ThePrimaryButton from "@/Components/Dashboard/UI/ThePrimaryButton";
import TheInput from "@/Components/Dashboard/TheInput";
import TheCheckbox from "@/Components/Dashboard/TheCheckbox";
import TheLink from "@/Components/Dashboard/TheLink";
import TheHeader from "@/Components/Guest/TheHeader";
import TheHead from "@/Components/TheHead";
export default {
    name: "Login",
    props: {
        status: String
    },
    components: {TheHead, TheHeader, TheLink, TheCheckbox, TheInput, ThePrimaryButton, AuthLayouts,},
    data() {
        return {
            form: this.$inertia.form({
                email: '',
                password: '',
                remember: false
            })
        }
    },
    methods: {
        submit() {
            this.form
                .transform(data => ({
                    ... data,
                    remember: this.form.remember ? 'on' : ''
                }))
                .post(this.route('login'), {
                    onFinish: () => this.form.reset('password'),
                })
        }
    }
}
</script>
