<template>
    <the-head title="Сброс пароля" />
    <auth-layouts>
        <h2 class="text-center text-2xl font-bold text-gray-800 mb-6">Сброс пароля</h2>

        <form class="space-y-4" @submit.prevent="submit">

            <the-input
                v-model="form.email"
                icon="far fa-envelope"
                type="email"
                autocomplete="email"
                placeholder="Почта"
                :required="true"
                v-model:error="form.errors.email"
                :processing="form.processing"
            />

            <the-input
                v-model="form.password"
                icon="fas fa-lock"
                type="password"
                placeholder="Пароль"
                :required="true"
                v-model:error="form.errors.password"
                :processing="form.processing"
            />

            <the-input
                v-model="form.password_confirmation"
                icon="fas fa-lock"
                type="password"
                placeholder="Подтверждение Пароля"
                :required="true"
                v-model:error="form.errors.password_confirmation"
                :processing="form.processing"
            />

            <div>
                <the-primary-button
                    type="submit"
                    title="Восстановить"
                    :processing="form.processing"
                />
            </div>
        </form>
    </auth-layouts>
</template>

<script>
import AuthLayouts from "@/Layouts/Auth/AuthLayouts";
import ThePrimaryButton from "@/Components/Dashboard/UI/ThePrimaryButton";
import TheInput from "@/Components/Dashboard/TheInput";
import TheCheckbox from "@/Components/Dashboard/TheCheckbox";
import TheLink from "@/Components/Dashboard/TheLink";
import TheHeader from "@/Components/Guest/TheHeader";
import TheHead from "@/Components/TheHead";
export default {
    name: "ResetPassword",
    props: {
        email: String,
        token: String,
    },
    components: {TheHead, TheHeader, TheLink, TheCheckbox, TheInput, ThePrimaryButton, AuthLayouts,},
    data() {
        return {
            form: this.$inertia.form({
                token: this.token,
                email: this.email,
                password: '',
                password_confirmation: '',
            })
        }
    },
    methods: {
        submit() {
            this.form.post(this.route('password.update'), {
                onFinish: () => this.form.reset('password', 'password_confirmation'),
            })
        }
    }
}
</script>
